{{ "bs-advent-bar.css" |  asset_url |  stylesheet_tag }}

<a href="https://tierliebhaber.de/products/adventskalender-2024?_pos=1&_sid=0d1950ed0&_ss=r" class="bs-advent-bar">
	<span class="bs-advent-bar__text">
		Nur jetzt: Spare 66€ auf deinen Adventskalender!
	</span>
</a>
