<span class="bs-pdp-anchor" data-bs-tlh-060-anchor>
    <span>nur</span><span><span class="bs-pdp-anchor__value"></span>/Tag</span>{% render 'bs-icon-info' %}
    {% render 'bs-icon-triangle' %}
</span>