<div class="testimonials" data-js-tlh-040>
    <h2 class="testimonials__heading">
        Das sagen andere Kunden
    </h2>
    <div class="testimonial__swiper-container">
        <div class="testimonials__swiper swiper" data-js-tlh-040-swiper>
            <div class="testimonials__swiper-wrapper swiper-wrapper" data-js-tlh-040-swiper-wrapper>

            </div>



            <div class="testimonials__swiper-scrollbar swiper-scrollbar"></div>
        </div>
        <div class="testimonials__swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path d="M20.8374 12.5056H4.8374M4.8374 12.5056L10.8374 6.50561M4.8374 12.5056L10.8374 18.5056" stroke="black" stroke-width="0.985861" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="testimonials__swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path d="M4.1626 12.5056H20.1626M20.1626 12.5056L14.1626 18.5056M20.1626 12.5056L14.1626 6.50562" stroke="black" stroke-width="0.985861" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <div class="testimonials__button Button Button--primary" data-js-tlh-040-button>
                Alle Bewertungen
    </div>
</div>