<span class="bs-amount-info" data-bs-tlh-060-amount-info>
    {% render 'bs-icon-info' %}<span><span class="bs-amount-info__content--mobile">Die richtige Menge berechnen</span><span class="bs-amount-info__content--desktop">Die richtige Menge für deinen Hund berechnen</span></span>{% render 'bs-icon-arrow-right' %}
</span>