<div class="about-us__container" data-js-tlh-065>
	<div class="about-us__image-container">
	</div>
	<div class="about-us__text-container">
		<h2 class="about-us__heading">
			Katharina
		</h2>
		<div class="about-us__subheading-container">
			<p class="about-us__subheding">
				Geschäftsführerin von
			</p>
			<img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/d0dd96081772c7637ea36cf0f0250e2b.png?v=1732012821" alt="" class="about-us__subheading-icon">
		</div>
		<p class="about-us__text">
			Hey, ich bin Katharina, Geschäftsführerin von Tierliebhaber.<br>
			<br>			
			Gemeinsam mit unserem Team aus Tierheilpraktikern und<br class="hidden-mobile">
			Ernährungsberatern entwickeln wir bei Tierliebhaber 100% natürliche<br class="hidden-mobile">
			Produkte für Hunde, Katzen und Pferde. Dank sorgfältig ausgewählten<br class="hidden-mobile">
			Pflanzenstoffen haben unsere Produkte eine besonders effektive Wirkung<br class="hidden-mobile">
			und sind super lecker.<br>
			<br>
			Wir stellen unsere Produkte schonend in Deutschland her. Von Silvester-<br class="hidden-mobile">
			Angst, über Darmaufbau bis Sodbrennen - bei uns bekommst du für jedes<br class="hidden-mobile">
			Problemchen eine einfach anzuwendende, 100% natürliche und sinnvolle<br class="hidden-mobile">
			Lösung.<br>
			<br>
			Schließlich verbindet uns alle eins: Der Wunsch nach einem langen,<br class="hidden-mobile">
			gesunden und glücklichen Leben mit dem Vierbeiner.<br>
			<br>
			Liebe Grüße,<br>
			Katharina
		</p>
	</div>
</div>
