<div class="bs-hero-banner bs-hero-banner--version-b">
	<img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/20240705_Tierliebhaber2408.png?v=1728646413" class="bs-hero-banner__background bs-hero-banner__background--mobile">
	<img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Hero_Image.png?v=1728646413" class="bs-hero-banner__background bs-hero-banner__background--desktop">
	<div class="bs-hero-banner__content">
		{% render 'bs-icon-wave-mobile' %}
		{% render 'bs-icon-wave-desktop' %}
		<img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Vorher_Nachher.png?v=1728646413" class="bs-hero-banner__comparison-image">
		<div class="bs-hero-banner__content-box">
			<div class="bs-hero-banner__testimonials">
				{% render 'bs-icon-ab-tlh-055' %}
				<p><strong>53.000+ Hundebesitzer</strong> berichten dank Chillout Drops <br/>von entspannten Hunden zu Silvester!</p>
			</div>
			<h2 class="bs-hero-banner__title">
				So wird Silvester mit Hund entspannt! 
			</h2>
			<div class="bs-hero-banner__description">
				<p>
					Leckere Snacks mit 100% natürlicher Beruhigungs-Formel, die ängstliche Hunde schonend entspannt… ganz ohne Chemie! 
				</p>
			</div>
			<a href="https://tierliebhaber.de/products/chillout-drops" class="bs-hero-banner__cta-button Button Button--primary">
				Zu den Chillout Drops!
			</a>
		</div>
	</div>
</div>
