<div class="known-from__container {{ class_suffix }}">
    <h2 class="known-from__heading">
        Bekannt aus
    </h2>
    <ul class="known-from__list">
        <li class="known-from__list-item">
            <img 
                class="known-from__image"
                src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/freundin2021_rot_0-100-100-0_1.png?v=1693133591"
                loading="lazy"
            >
        </li>
        <li class="known-from__list-item">
            <img 
                class="known-from__image"
                src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/HundeWelt.png?v=1686673434"
                loading="lazy"
            >
        </li>
        <li class="known-from__list-item">
            <img 
                class="known-from__image"
                src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/logo_bunte_1.png?v=1693133647"
                loading="lazy"
            >
        </li>
    </ul>
</div>