<div class="bs-hero-banner bs-hero-banner--version-b">
	<img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/20240919_jb_rosse_support_neu_desktop_1.jpg?v=1727378502" class="bs-hero-banner__background">
	<div class="bs-hero-banner__content">
		{% render 'bs-icon-wave-mobile' %}
		{% render 'bs-icon-wave-desktop' %}
		<img src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/202408_jb_event_neue_produkte_mobile_1c10351c-3c82-42d0-a6ff-53981399e3b4.jpg?v=1725660504" class="bs-hero-banner__comparison-image">
		<div class="bs-hero-banner__content-box">
			<div class="bs-hero-banner__testimonials">
				{% render 'bs-icon-profile-bubbles' %}
				<p><strong>11.000+ Hundebesitzer</strong> berichten von sichtbaren Verbesserungen <br/> und hervorragender Wirkung</p>
			</div>
			<h2 class="bs-hero-banner__title">
				Chillout drops sind so toll!
			</h2>
			<div class="bs-hero-banner__description">
				<p>
					Diese drops sind echt so toll <br>meinem hund geht es so gut wie noch nie
				</p>
			</div>
			<a href="/" class="bs-hero-banner__cta-button Button Button--primary">
				Zu Chillout Drops
			</a>
		</div>
	</div>
</div>
