<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

<div class="testimonials__wrapper">
	<div class="testimonials" data-js-tlh-061>
		<h2 class="testimonials__heading">
			Das sagen unsere Kunden
		</h2>
		<div class="testimonials__main">
			<div class="testimonials__rating">
				<div class="testimonials__rating-product">
				<span class="testimonials__rating-product__average"><span></span> / 5.00</span>
				<span class="testimonials__rating-product__reviews-number">(<span></span>)</span>
				</div>
				<div class="testimonials__rating-metric" data-js-tlh-061-metric-effect>
					<div class="testimonials__rating-metric__header">
						<span>Wirkung</span><span class="testimonials__rating-metric__number"></span><span>/ 5.00</span>
					</div>
					<div class="testimonials__rating-metric__rating-bar">
						<div class="testimonials__rating-metric__thumb"></div>
					</div>
				</div>
				<div class="testimonials__rating-metric" data-js-tlh-061-metric-quality>
					<div class="testimonials__rating-metric__header">
						<span>Qualität</span><span class="testimonials__rating-metric__number"></span><span>/ 5.00</span>
					</div>
					<div class="testimonials__rating-metric__rating-bar">
						<div class="testimonials__rating-metric__thumb"></div>
					</div>
				</div>
				<div class="testimonials__rating-metric" data-js-tlh-061-metric-shipping>
					<div class="testimonials__rating-metric__header">
						<span>Versand</span><span class="testimonials__rating-metric__number"></span><span>/ 5.00</span>
					</div>
					<div class="testimonials__rating-metric__rating-bar">
						<div class="testimonials__rating-metric__thumb"></div>
					</div>
				</div>
				<div class="testimonials__button Button Button--secondary" data-js-tlh-061-button>
					Alle Bewertungen
				</div>
			</div>
			<div class="testimonials__list-wrapper">
				<div class="testimonials__list grid" data-js-tlh-061-wrapper>

				</div>
				<div class="testimonials__button testimonials__button--more Button Button--secondary" data-js-tlh-061-button-more>
					Mehr Anzeigen
				</div>
			</div>
		</div>
	</div>
</div>
