<div class="bs-keypoints Container">
    <div class="swiper bs-keypoints__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide bs-keypoints__card">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M4.5 15.8294V15.75V8.00002C4.5 7.69116 4.66659 7.40631 4.93579 7.25489L4.95131 7.24616L12.1182 3.21477L12.1727 3.18413C12.3759 3.06981 12.6241 3.06981 12.8273 3.18413L20.1105 7.28094C20.3511 7.41627 20.5 7.67085 20.5 7.94689V8.00002V15.75V15.8294C20.5 16.1119 20.3506 16.3733 20.1073 16.5167L12.879 20.7766C12.6451 20.9144 12.3549 20.9144 12.121 20.7766L4.89267 16.5167C4.64935 16.3733 4.5 16.1119 4.5 15.8294Z" stroke="#1C1B1B"/>
                <path d="M12.5 21V12" stroke="#1C1B1B"/>
                <path d="M12.5 12L4.5 7.5" stroke="#1C1B1B"/>
                <path d="M20.5 7.5L12.5 12" stroke="#1C1B1B"/>
                </svg>
                <h4 class="bs-keypoints__card__title">
                    Kostenloser Versand
                </h4>
                <p class="bs-keypoints__card__description">
                    Kostenloser Versand innerhalb Deutschlands ab einem Einkaufswert von 50€.
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="8" viewBox="0 0 45 8" fill="none">
                <circle cx="4.5" cy="4" r="4" fill="#F5F5F5"/>
                <circle cx="22.5" cy="4" r="4" fill="#BBBBBB"/>
                <circle cx="40.5" cy="4" r="4" fill="#BBBBBB"/>
                </svg>
            </div>
            <div class="swiper-slide bs-keypoints__card">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M21.5 8.79077C21.5 5.96382 19.2082 3.67212 16.3813 3.67212C14.5201 3.67212 12.8959 4.66872 12 6.15412C11.104 4.66872 9.4798 3.67212 7.61865 3.67212C4.7917 3.67212 2.5 5.96382 2.5 8.79077C2.5 9.43702 2.6248 10.0528 2.8433 10.6221C4.53585 15.4905 12 20.8329 12 20.8329C12 20.8329 19.4641 15.4905 21.1567 10.6221C21.3752 10.0528 21.5 9.43702 21.5 8.79077Z" stroke="#1C1B1B" stroke-width="1.24" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h4 class="bs-keypoints__card__title">
                    100% Tierliebe, 100% natürlich
                </h4>
                <ul class="bs-keypoints__card__description">
                    <li>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <circle cx="8" cy="8.25244" r="8" fill="#8ABAA5"/>
                            <path d="M6.66306 11.1478L3.95215 8.43688L4.3416 8.04797L6.66306 10.3694L11.6572 5.37524L12.0461 5.76415L6.66306 11.1478Z" fill="white" stroke="white" stroke-width="1.04167"/>
                            </svg>
                        </span>
                        von Experten entwickelt
                    </li>
                    <li>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <circle cx="8" cy="8.25244" r="8" fill="#8ABAA5"/>
                            <path d="M6.66306 11.1478L3.95215 8.43688L4.3416 8.04797L6.66306 10.3694L11.6572 5.37524L12.0461 5.76415L6.66306 11.1478Z" fill="white" stroke="white" stroke-width="1.04167"/>
                            </svg>
                        </span>
                        frei von fragwürdigen Zusatzstoffen
                    </li>
                    <li>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <circle cx="8" cy="8.25244" r="8" fill="#8ABAA5"/>
                            <path d="M6.66306 11.1478L3.95215 8.43688L4.3416 8.04797L6.66306 10.3694L11.6572 5.37524L12.0461 5.76415L6.66306 11.1478Z" fill="white" stroke="white" stroke-width="1.04167"/>
                            </svg>
                        </span>
                        sinnvolle Nahrungsergänzung
                    </li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="8" viewBox="0 0 45 8" fill="none">
                <circle cx="4.5" cy="4" r="4" fill="#BBBBBB"/>
                <circle cx="22.5" cy="4" r="4" fill="#F5F5F5"/>
                <circle cx="40.5" cy="4" r="4" fill="#BBBBBB"/>
                </svg>
            </div>
            <div class="swiper-slide bs-keypoints__card">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                <path d="M21.5759 11.3722C21.5759 16.2622 18.0259 20.8422 13.1759 22.1822C12.8459 22.2722 12.4858 22.2722 12.1558 22.1822C7.30586 20.8422 3.75586 16.2622 3.75586 11.3722V6.98224C3.75586 6.16224 4.37588 5.23224 5.14588 4.92224L10.7158 2.64227C11.9658 2.13227 13.3758 2.13227 14.6258 2.64227L20.1958 4.92224C20.9558 5.23224 21.5859 6.16224 21.5859 6.98224L21.5759 11.3722Z" stroke="#1C1B1B" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.666 12.7524C13.7706 12.7524 14.666 11.857 14.666 10.7524C14.666 9.64787 13.7706 8.75244 12.666 8.75244C11.5614 8.75244 10.666 9.64787 10.666 10.7524C10.666 11.857 11.5614 12.7524 12.666 12.7524Z" stroke="#1C1B1B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.666 12.7524V15.7524" stroke="#1C1B1B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h4 class="bs-keypoints__card__title">
                    sichere zahlung
                </h4>
                <p class="bs-keypoints__card__description">
                    Deine Zahlung wird sicher und verschlüsselt bearbeitet.
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="8" viewBox="0 0 45 8" fill="none">
                <circle cx="4.5" cy="4" r="4" fill="#BBBBBB"/>
                <circle cx="22.5" cy="4" r="4" fill="#BBBBBB"/>
                <circle cx="40.5" cy="4" r="4" fill="#F5F5F5"/>
                </svg>
            </div>
        </div>
    </div>
</div>