<div class="bs-amount-calculator-popup__bg-container" data-bs-ab-tlh-060-popup>
    <div class="bs-amount-calculator-popup">
        <div class="bs-amount-calculator-popup__header">
            <h3 class="bs-amount-calculator-popup__title">
                Die richtige Menge finden
            </h3>
            {% render 'bs-icon-close' %}
        </div>
        <div class="bs-amount-calculator-popup__main">
            <h4 class="bs-amount-calculator-popup__main__title">
                Wie groß ist dein Hund?
            </h4>
            <div class="bs-amount-calculator-popup__image"></div>
            <div class="bs-amount-calculator-popup__progress-bar">

            </div>
            <div class="bs-amount-calculator-popup__metrics-card">
                <h5 class="bs-amount-calculator-popup__metrics-card__title">
                    Wir empfehlen dir
                </h5>
                <div class="bs-amount-calculator-popup__metrics-card__daily-amount">
                    <span class="bs-amount-calculator-popup__metrics-card__value"><span></span>Stück</span>
                    <span>Pro Tag</span>
                </div>
                <span class="bs-amount-calculator-popup__metrics-card__info">1 Dose reicht für ca. <span>4 Monate</span></span>
            </div>
        </div>
    </div>
</div>