{{ "bs-advent-bar.css" |  asset_url |  stylesheet_tag }}

<a href="{{ advent_bar_link }}" class="bs-advent-bar">
	<span class="bs-advent-bar__text">
		{{ advent_bar_text }} <span>{{ advent_bar_highlighted_text }}</span>
	</span>
</a>
