{{ 'bs-black-week-collection-filters.css' |  asset_url |  stylesheet_tag }}

<div class="bs-black-week-collection-filters">
    <h3 class="bs-black-week-collection-filters__title">
        Wähle deinen Rabatt:
    </h3>
    <div class="bs-black-week-collection-filters__collections">
        <a href="https://tierliebhaber.de/collections/20 " class="bs-black-week-collection-filters__collection">
            Bis 20%
        </a>
        <a href="https://tierliebhaber.de/collections/30," class="bs-black-week-collection-filters__collection">
            25-30%
        </a>
        <a href="https://tierliebhaber.de/collections/40" class="bs-black-week-collection-filters__collection">
            35-40%
        </a>
    </div>
</div>