<div class="Footer__Content">
  <div class="Footer__Content__reachability">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
        <path style="fill: transparent;" d="M2.25245 14.4537L2.52225 13.8224L3.33528 11.92L3.6313 12.0465L3.33529 11.92C3.39014 11.7916 3.37897 11.6446 3.30539 11.5261L3.30538 11.5261C2.67004 10.5022 2.3031 9.29462 2.3031 8C2.3031 4.3014 5.30141 1.30309 9 1.30309C12.6986 1.30309 15.6969 4.3014 15.6969 8C15.6969 11.6986 12.6986 14.6969 9 14.6969C7.6831 14.6969 6.45622 14.3173 5.42124 13.6615L2.25245 14.4537ZM2.25245 14.4537L2.91033 14.2574M2.25245 14.4537L2.91033 14.2574M2.91033 14.2574L5.06965 13.6129C5.06966 13.6129 5.06968 13.6129 5.06969 13.6129C5.18836 13.5775 5.31657 13.5953 5.42119 13.6615L2.91033 14.2574ZM9.752 10.712L9.57439 10.6108C9.08925 10.3344 8.5556 9.9502 8.02215 9.41675C7.46776 8.86237 7.05657 8.28981 6.75329 7.76441L6.61904 7.53183L6.82378 7.35805L7.45016 6.82638L7.45016 6.82637C7.60356 6.69617 7.64559 6.4766 7.55105 6.2989L6.75294 4.79893C6.75294 4.79892 6.75294 4.79892 6.75294 4.79892C6.6916 4.68363 6.58099 4.60265 6.45256 4.579C6.32412 4.55534 6.19192 4.59161 6.09352 4.67748L5.85689 4.884L9.752 10.712ZM9.752 10.712L9.9191 10.5943M9.752 10.712L9.9191 10.5943M9.9191 10.5943L10.9047 9.90002M9.9191 10.5943L10.9047 9.90002M12.6804 11.3319L12.6804 11.3318C12.7886 11.2437 12.8471 11.1081 12.837 10.9688L12.6804 11.3319ZM12.6804 11.3319L12.2368 11.6933C12.2368 11.6933 12.2368 11.6933 12.2367 11.6934C11.8617 11.999 11.3483 12.1781 10.8192 12.0419C10.0546 11.845 8.72807 11.3335 7.41677 10.0222C6.19654 8.80192 5.60153 7.50107 5.32356 6.67762L12.6804 11.3319ZM10.9047 9.90002C11.0429 9.80274 11.2253 9.7958 11.3704 9.88225L12.6291 10.6322C12.6291 10.6322 12.6291 10.6322 12.6291 10.6322C12.7491 10.7037 12.8267 10.8293 12.8369 10.9687L10.9047 9.90002ZM2.3995 11.931L2.4613 11.7864L2.38523 11.6488C1.78728 10.5669 1.44693 9.32272 1.44693 8C1.44693 3.82855 4.82856 0.446913 9 0.446913C13.1715 0.446913 16.5531 3.82855 16.5531 8C16.5531 12.1715 13.1715 15.5531 9 15.5531C7.63543 15.5531 6.3545 15.1909 5.24914 14.5573L5.12933 14.4887L4.99701 14.5282L1.62244 15.5352L1.62237 15.5352C1.46331 15.5827 1.29113 15.5339 1.1806 15.41L1.18057 15.41C1.07005 15.2861 1.04111 15.1095 1.10637 14.9568C1.10637 14.9568 1.10637 14.9568 1.10637 14.9567L2.3995 11.931Z" fill="#ABCDBE" stroke="#79B39A" stroke-width="0.643825"/>
      </svg>
    </span>
    WhatsApp: +49 155 63186151 *
  </div>
  <div class="Footer__Content__reachability">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <path d="M3 13.4998L6.75 8.99982M15 13.4998L11.25 8.99982M2.25 5.99982L7.66875 9.61227C8.14988 9.93304 8.3904 10.0935 8.65043 10.1557C8.88023 10.2108 9.11977 10.2108 9.34957 10.1557C9.6096 10.0935 9.85012 9.93304 10.3312 9.61227L15.75 5.99982M4.65 14.2498H13.35C14.1901 14.2498 14.6102 14.2498 14.931 14.0863C15.2132 13.9425 15.4427 13.713 15.5865 13.4308C15.75 13.11 15.75 12.6899 15.75 11.8498V6.14982C15.75 5.30974 15.75 4.8897 15.5865 4.56883C15.4427 4.28658 15.2132 4.05711 14.931 3.91331C14.6102 3.74982 14.1901 3.74982 13.35 3.74982H4.65C3.80992 3.74982 3.38988 3.74982 3.06902 3.91331C2.78677 4.05711 2.5573 4.28658 2.41349 4.56883C2.25 4.8897 2.25 5.30973 2.25 6.14982V11.8498C2.25 12.6899 2.25 13.11 2.41349 13.4308C2.5573 13.713 2.78677 13.9425 3.06902 14.0863C3.38988 14.2498 3.80992 14.2498 4.65 14.2498Z" stroke="#79B39A" stroke-width="1.28765" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    Mail: <a href="mailto:info@tierliebhaber.de">info@tierliebhaber.de</a>
  </div>
  <div class="Footer__Content__reachability">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
        <path d="M10.7481 11.9552L11.7456 10.9576C11.8991 10.8023 12.0819 10.6789 12.2833 10.5947C12.4849 10.5106 12.701 10.4673 12.9193 10.4673C13.1377 10.4673 13.3539 10.5106 13.5554 10.5947C13.7569 10.6789 13.9396 10.8023 14.0931 10.9576L15.2631 12.1277C15.4184 12.2812 15.5418 12.4638 15.6259 12.6653C15.7101 12.8668 15.7534 13.0831 15.7534 13.3014C15.7534 13.5198 15.7101 13.736 15.6259 13.9375C15.5418 14.139 15.4184 14.3216 15.2631 14.4751L14.7306 15.0151C14.3637 15.3856 13.8892 15.6308 13.3747 15.7156C12.8602 15.8005 12.332 15.7207 11.8656 15.4876C7.85182 13.4215 4.58256 10.1548 2.51312 6.1427C2.27982 5.67577 2.2006 5.14688 2.28685 4.63208C2.3731 4.11728 2.62038 3.64304 2.99314 3.27765L3.52561 2.73767C3.83755 2.42761 4.25953 2.25354 4.69936 2.25354C5.13919 2.25354 5.56116 2.42761 5.87311 2.73767L7.05061 3.91522C7.36068 4.22717 7.53472 4.64909 7.53472 5.08893C7.53472 5.52876 7.36068 5.95068 7.05061 6.26263L6.0531 7.26019C6.71265 8.15233 7.43713 8.99451 8.2206 9.78006C8.99955 10.5604 9.837 11.2801 10.7256 11.9327L10.7481 11.9552Z" stroke="#79B39A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
    Tel.: +49 341 92881284
  </div>
  <div class="Footer__Content__reachability-text">
    <p>Wir melden uns in der Regel innerhalb von 2-3 Werktagen mit einer Antwort bei dir</p>
    <p>Unser Team ist jederzeit per Mail für dich erreichbar, und telefonisch von Mo-Fr von 10-15 Uhr.</p>
    <p>
      Gern kannst du auch eine
      <a href="https://calendly.com/produktberatung-tierliebhaber">Produktberatung bei uns buchen!</a>
    </p>
  </div>
  <div class="Footer__Content__reachability-address">
    <p>Animagus GmbH</p>
    <p>Göhrenzer Straße 1</p>
    <p>04420 Markranstädt</p>
  </div>
  <div>* Ihre Einwilligung in die Kontaktaufnahme finden Sie <span class="flip" id="flip-2">hier</span></div>
</div>
<script>
  $(document).ready(function () {
    $('#flip-2').click(function () {
      $('#panel-2').slideToggle('slow');
    });
  });
</script>



