{{ 'bs-visitor-ping.css' |  asset_url |  stylesheet_tag }}
<script src="{{ 'bs-visitor-ping.js' |  asset_url }}" defer></script>

<div class="ProductMeta__visitor-ping">
    <svg class="ProductMeta__visitor-ping__icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7926 12.6001H2.20744C1.78113 12.6001 1.45423 12.2228 1.51443 11.8014L2.31454 6.20129C2.36354 5.85619 2.65894 5.60006 3.00755 5.60006H3.49966V7.00008C3.49966 7.38648 3.81326 7.70009 4.19966 7.70009C4.58677 7.70009 4.89967 7.38648 4.89967 7.00008V5.60006H9.09972V7.00008C9.09972 7.38648 9.41332 7.70009 9.79973 7.70009C10.1868 7.70009 10.4997 7.38648 10.4997 7.00008V5.60006H10.9925C11.3411 5.60006 11.6365 5.85619 11.6855 6.20129L12.4856 11.8014C12.5458 12.2228 12.219 12.6001 11.7926 12.6001ZM4.89967 3.50004C4.89967 2.34223 5.84188 1.40002 6.99969 1.40002C8.15821 1.40002 9.09972 2.10002 9.09972 3.50004V4.20005H4.89967V3.50004ZM13.9858 12.4021L12.9855 5.40199C12.8875 4.71248 12.2967 4.20005 11.5994 4.20005H10.4997V3.50004C10.4997 1.40002 8.92962 0 6.99969 0C5.07047 0 3.49966 1.57012 3.49966 3.50004V4.20005H2.61415C1.91764 4.20005 1.11262 4.71248 1.01392 5.40199L0.0143138 12.4021C-0.106088 13.2456 0.548417 14.0002 1.40033 14.0002H12.5998C13.4517 14.0002 14.1062 13.2456 13.9858 12.4021Z" fill="#525252"/>
    </svg>
    <span class="ProductMeta__visitor-ping__text">
        <span></span> in den letzten 24 Stunden gekauft
    </span>
</div>