<div class="why-buy-this" id="why-buy-this__desktop">
  <h1>Wieso <span>Tierliebhaber?</span></h1>
  <div class="row">
    <div class="card">
      <div class="card__image">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/complaint-portal-f8f89.appspot.com/o/accelerated-agency%2Fframe-3.svg?alt=media&token=d93c4013-d559-41f6-98fb-3960d0b74ca1"
          alt=""
        >
      </div>
      <div class="card__description">Mehr als 200.000 glückliche Hunde</div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/complaint-portal-f8f89.appspot.com/o/accelerated-agency%2Fframe-2.svg?alt=media&token=87aa5557-f98f-44ac-bf0e-39830fb6b60c"
          alt=""
        >
      </div>

      <div class="card__description">Von Tierärzten empfohlen</div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/complaint-portal-f8f89.appspot.com/o/accelerated-agency%2Fframe-1.svg?alt=media&token=6f5ec71c-e1ca-4c15-b605-807720554053"
          alt=""
        >
      </div>
      <div class="card__description">In Deutschland hergestellt</div>
    </div>
  </div>
</div>

<div class="why-buy-this-mobile" id="why-buy-this__mobile">
  <h1>Wieso <span>Tierliebhaber?</span></h1>
  <div class="row">
    <div class="card">
      <div class="card__image">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/complaint-portal-f8f89.appspot.com/o/accelerated-agency%2Fframe-1.svg?alt=media&token=6f5ec71c-e1ca-4c15-b605-807720554053"
          alt=""
        >
      </div>
      <p class="card__heading">In Deutschland hergestellt</p>
      <div class="card__description">
        Aus hochwertigen und reinen Inhaltsstoffen in Deutschland entwickelt und hergestellt.
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/complaint-portal-f8f89.appspot.com/o/accelerated-agency%2Fframe-2.svg?alt=media&token=87aa5557-f98f-44ac-bf0e-39830fb6b60c"
          alt=""
        >
      </div>
      <p class="card__heading">Von Tierärzten empfohlen</p>
      <div class="card__description">
        Von Tierärzten und Tierheilpraktikern entwickelt und empfohlen, um die Gesundheit deines Hundes zu garantieren.
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/complaint-portal-f8f89.appspot.com/o/accelerated-agency%2Fframe-3.svg?alt=media&token=d93c4013-d559-41f6-98fb-3960d0b74ca1"
          alt=""
        >
      </div>
      <p class="card__heading">Mehr als 200.000 glückliche Hunde</p>
      <div class="card__description">Ein glücklicher Vierbeiner sagt mehr als 1.000 Worte! Überzeuge dich selbst.</div>
    </div>
  </div>
</div>

<style>
  .order-summary__section__content{
    overflow-y: scroll;
    height: auto;
    max-height: 320px;
  }

  .why-buy-this-mobile {
    margin-bottom: 10px;
    text-align: center;
  }

  .why-buy-this-mobile .row {
    display: flex;
    gap: 30px;
    max-width: 628px;
    margin: 0 auto;
  }

  .why-buy-this-mobile h1 {
      color: #535353;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 33px;
      margin-bottom: 16px;
      font-family: "Work Sans", sans-serif;
  }

  .why-buy-this-mobile h1 span {
    color: #c38571;
    font-style: italic;
    font-weight: 600;
  }

  .why-buy-this-mobile .card {
    padding: 30px 24px;
    border-radius: 20px;
    border: 1px dashed #7fb1c1;
    background: #f2f8fb;
    gap: 12px;
    flex-basis: 33.33%;
    text-align: start;
  }
  .why-buy-this-mobile .card__heading {
    color: #50565c;
    font-size: 13px;
    font-weight: 600;
    line-height: 16.9px;
    margin: 12px 0;
    font-family: "Work Sans", sans-serif;
  }
  .why-buy-this-mobile .card__description {
    color: #5b5b5b;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    font-family: "Work Sans", sans-serif;
  }

  .policy-list .policy-list__item {
    font-size: 12px !important;
    margin-right: 14px !important;
  }

  @media only screen and (max-width: 999px) {
    .why-buy-this-mobile {
      padding-bottom: 45px;
    }
  }

  .why-buy-this-mobile h1 span {
    color: #c38571;
    font-style: italic;
    font-weight: 600;
  }

  .why-buy-this-mobile .card {
    padding: 30px 24px 20px 24px;
      border-radius: 20px;
      border: 1px dashed #7fb1c1;
      background: #f2f8fd;
      text-align: start;
      width: calc(100%/3 - 0px);
      max-width: 173.33px;
  }
  .why-buy-this-mobile .card__image img {
      max-width: 34px;
      height: 34px;
      width: 100%;
  }

  @media (min-width: 1000px){
    .why-buy-this-mobile .page--no-banner .main, .page--no-banner .sidebar {
        padding-top: 2em !important;
    }
    .why-buy-this-mobile .order-summary__sections {
        height: calc(93vh - 8em) !important;
    }
  }

  @media(max-width:767px){
  	.why-buy-this-mobile .row {
      gap: 8px;
    }
    .why-buy-this-mobile .card {
        padding: 24px 2px 16px 6px !important;
    }
    .why-buy-this-mobile {
        padding-bottom: 45px;
    }
    .why-buy-this-mobile h1 {
        font-size: 18px;
        line-height: 27px;
    }
  }

    #why-buy-this__desktop.why-buy-this {
      margin-bottom: 10px;
      text-align: center;
    }

    #why-buy-this__desktop .order-summary__section__content {
      overflow-y: scroll;
      height: auto;
      max-height: 320px;
    }

    #why-buy-this__desktop {
      margin-top: 30px;
    }

    #why-buy-this__desktop.why-buy-this .row {
      display: flex;
      gap: 30px;
      max-width: 550px;
      margin: 0 auto;
    }

  #why-buy-this__desktop { 
    bottom: 96px !important;
    position:absolute;
  }

    @media only screen and (max-width: 1185px) {
      #why-buy-this__desktop {
        bottom: 121px !important;
      }
    }

    #why-buy-this__desktop.why-buy-this h1 {
      color: #535353;
      font-family: "Work Sans", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 33px;
      margin-bottom: 16px;
    }

    #why-buy-this__desktop.why-buy-this h1 span {
      color: #DA7D66;
      font-style: italic;
      font-weight: 600;
    }

    #why-buy-this__desktop.why-buy-this .row .card {
      flex-basis: 33.33%;
      text-align: center;
    }

    #why-buy-this__desktop.why-buy-this .row .card .card__description {
      color: #50565C;
      font-family: "Work Sans", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 16.9px;
      margin-top: 5px;
    }

    #why-buy-this__desktop.why-buy-this .card {
      flex-basis: 33.33%;
      text-align: center;
    }

    #why-buy-this__desktop .card__image img {
      max-width: 30px;
      height: 30px;
    }

    #why-buy-this__desktop .policy-list .policy-list__item {
      font-size: 12px !important;
      margin-right: 14px !important;
    }

    #why-buy-this__mobile {
      display: none;
    }

    @media only screen and (max-width: 999px) {
      #why-buy-this__desktop {
        display: none;
      }
      #why-buy-this__mobile {
        display: block;
      }
    }
</style>
