<link rel="stylesheet" href="{{ 'bs-effect-of-ingredient.css' | asset_url }}">
<script src="{{ 'bs-effect-of-ingredient.js' | asset_url }}" defer></script>
{% capture ingredients %}
{% case product.id %}

{% when 8081976983820 %}
{% comment %}
Gelenk Drops
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Hagebutte_80x.png?v=1748266612" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Hagebutte
        </h3>
       
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Teufelskralle_80x.png?v=1748266619" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Teufelskralle
        </h3>
       
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Gruenlippmuschel_80x.png?v=1748266598" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Grünlippmuschel
        </h3>
       
    </div>
</li>
{% when 7031057940639 %}
{% comment %}
Dentalspray
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/probiotische_microorganismen_80x.png?v=1732003647"
            alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Probiotische Mikroorganismen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Weichen Zahnbelag auf und neutralisieren Maulgeruch
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/kalzium_80x.png?v=1732003644" alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Kalzium
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Remineralisierung vom Zahnschmelz für gesunde und starke Zähne
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/minze_80x.png?v=1732003648" alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Minze
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Entzündungshemmend und erfrischend
                </p>
            </li>
        </ul>
    </div>
</li>

{% when 8020273070348 %}
{% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Brennessel-Thymian_80x.png?v=174826738" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Thymian & Brennnessel
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Lösen festsitzenden Schleim
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Unterstützen das freie Abhusten
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Spitzwegerich-Eibischwurzel_80x.png?v=1748267372"
            alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Eibischwurzel & Spitzwegerich
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Legen sich schützend auf die Schleimhäute 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Hustenreiz & Reizungen im Rachen werden gelindert
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Fichte-Sonnenhut_80x.png?v=1748267377 " alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Fichte & Sonnenhutkraut
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Stärken das Immunsystem
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Ideal zur Unterstützung bei Erkältungen oder Allergien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 8636621259020 %}
    {% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Brennessel-Thymian_80x.png?v=174826738" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Thymian & Brennnessel
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Lösen festsitzenden Schleim
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Unterstützen das freie Abhusten
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Spitzwegerich-Eibischwurzel_80x.png?v=1748267372"
            alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Eibischwurzel & Spitzwegerich
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Legen sich schützend auf die Schleimhäute 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Hustenreiz & Reizungen im Rachen werden gelindert
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Fichte-Sonnenhut_80x.png?v=1748267377 " alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Fichte & Sonnenhutkraut
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Stärken das Immunsystem
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Ideal zur Unterstützung bei Erkältungen oder Allergien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 8791364043020 %}
    {% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Brennessel-Thymian_80x.png?v=174826738" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Thymian & Brennnessel
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Lösen festsitzenden Schleim
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Unterstützen das freie Abhusten
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Spitzwegerich-Eibischwurzel_80x.png?v=1748267372"
            alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Eibischwurzel & Spitzwegerich
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Legen sich schützend auf die Schleimhäute 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Hustenreiz & Reizungen im Rachen werden gelindert
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Fichte-Sonnenhut_80x.png?v=1748267377 " alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Fichte & Sonnenhutkraut
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Stärken das Immunsystem
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Ideal zur Unterstützung bei Erkältungen oder Allergien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 11441804050700 %}
    {% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Brennessel-Thymian_80x.png?v=174826738" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Thymian & Brennnessel
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Lösen festsitzenden Schleim
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Unterstützen das freie Abhusten
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Spitzwegerich-Eibischwurzel_80x.png?v=1748267372"
            alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Eibischwurzel & Spitzwegerich
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Legen sich schützend auf die Schleimhäute 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Hustenreiz & Reizungen im Rachen werden gelindert
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Fichte-Sonnenhut_80x.png?v=1748267377 " alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Fichte & Sonnenhutkraut
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Stärken das Immunsystem
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Ideal zur Unterstützung bei Erkältungen oder Allergien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 9711677571340 %}
  {% comment %}
Hustenkräutersaft Pferd 6er Bundle
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Brennessel-Thymian_80x.png?v=174826738" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Thymian & Brennnessel
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Lösen festsitzenden Schleim
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Unterstützen das freie Abhusten
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Spitzwegerich-Eibischwurzel_80x.png?v=1748267372"
            alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Eibischwurzel & Spitzwegerich
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Legen sich schützend auf die Schleimhäute 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Hustenreiz & Reizungen im Rachen werden gelindert
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Fichte-Sonnenhut_80x.png?v=1748267377 " alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Fichte & Sonnenhutkraut
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Stärken das Immunsystem
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Ideal zur Unterstützung bei Erkältungen oder Allergien
                </p>
            </li>
        </ul>
    </div>
</li>

{% when 9667537535244 %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/probiotische_microorganismen_80x.png?v=1732003647"
            alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Probiotische Mikroorganismen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Weichen Zahnbelag auf und neutralisieren Maulgeruch
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/kalzium_80x.png?v=1732003644" alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Kalzium
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Remineralisierung vom Zahnschmelz für gesunde und starke Zähne
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/minze_80x.png?v=1732003648" alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Minze
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Entzündungshemmend und erfrischend
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 8219263336716 %}
{% comment %}
Gras- und Kotfresser Drops
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/ulmrinde_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Ulmenrinde
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Schutz der Magenschleimhaut durch Schleimbildung
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/moor_80x.png?v=1732003647" alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Moor
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bindet überschüssige Magensäure
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/fenchel_80x.png?v=1732003647" alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Fenchel
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Krampflösend
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Antibakteriell und entzündungshemmend
                </p>
            </li>
        </ul>
    </div>
</li>

{% when 7031056466079 %}
{% comment %}
Darmwohl Sticks
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle & Bentonit
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Festigen den Kot
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Binden Flüssigkeit & Schadstoffe
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet Schleim, um die Darmschleimhaut zu schützen
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt die gereizte Darmschleimhaut
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora durch den Aufbau gesunder Darmbakterien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 11559666647308 %}
    {% comment %}
Darmwohl Sticks
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle & Bentonit
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Festigen den Kot
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Binden Flüssigkeit & Schadstoffe
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet Schleim, um die Darmschleimhaut zu schützen
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt die gereizte Darmschleimhaut
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora durch den Aufbau gesunder Darmbakterien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 11432045543692 %} 
    {% comment %}
Darmwohl Sticks
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle & Bentonit
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Festigen den Kot
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Binden Flüssigkeit & Schadstoffe
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet Schleim, um die Darmschleimhaut zu schützen
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt die gereizte Darmschleimhaut
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora durch den Aufbau gesunder Darmbakterien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 8488123171084 %}
    {% comment %}
Darmwohl Sticks
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle & Bentonit
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Festigen den Kot
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Binden Flüssigkeit & Schadstoffe
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet Schleim, um die Darmschleimhaut zu schützen
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt die gereizte Darmschleimhaut
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora durch den Aufbau gesunder Darmbakterien
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 7031094575263 %}
    {% comment %}
Darmwohl Sticks
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle & Bentonit
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Festigen den Kot
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Binden Flüssigkeit & Schadstoffe
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet Schleim, um die Darmschleimhaut zu schützen
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt die gereizte Darmschleimhaut
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora durch den Aufbau gesunder Darmbakterien
                </p>
            </li>
        </ul>
    </div>
</li>

{% comment %}
Darmpflege Drops 6er Bundle
{% endcomment %}
{% when 11515957018892 %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bindet Flüssigkeit & Schadstoffe 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Entlastet die Verdauung
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet schützenden Schleim 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt gereizte Darmschleimhäute.
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora
                </p>
            </li>
             <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    baut die guten Darmbakterien auf
                </p>
            </li>
        </ul>
    </div>
</li>

{% when 7325770449055 %}
{% comment %}
Darmpflege Drops
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bindet Flüssigkeit & Schadstoffe 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Entlastet die Verdauung
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet schützenden Schleim 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt gereizte Darmschleimhäute.
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora
                </p>
            </li>
             <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    baut die guten Darmbakterien auf
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 7381655290015 %}
    <li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bindet Flüssigkeit & Schadstoffe 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Entlastet die Verdauung
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet schützenden Schleim 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt gereizte Darmschleimhäute.
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora
                </p>
            </li>
             <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    baut die guten Darmbakterien auf
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 11515956363532 %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/pflanzenkohle_80x.png?v=1732003646" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Pflanzenkohle
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bindet Flüssigkeit & Schadstoffe 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Entlastet die Verdauung
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/flohsamen_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Flohsamen
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Bildet schützenden Schleim 
                </p>
            </li>
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigt gereizte Darmschleimhäute.
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/bierhefe_80x.png?v=1732003649" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Bierhefe
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Fördert eine gesunde Darmflora
                </p>
            </li>
             <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    baut die guten Darmbakterien auf
                </p>
            </li>
        </ul>
    </div>
</li>
{% when 8117033074956 %}
{% comment %}
Chillout Drops
{% endcomment %}
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/baldrian_80x.png?v=1732003648" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Baldrian
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Beruhigend und entspannend
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/melisse_80x.png?v=1732003648" alt="" loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Melisse
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Einhüllend - schirmt vor äußeren Einflüssen ab
                </p>
            </li>
        </ul>
    </div>
</li>
<li class="highlights__item">
    <div class="highlights__icon-container">
        <img class="Image Image--lazyLoad Image--fadeIn ingredient__icon"
            src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/lavendel_80x.png?v=1732003647" alt=""
            loading="lazy">
    </div>
    <div class="highlights__text">
        <h3 class="highlights__heading">
            Lavendel
        </h3>
        <ul class="highlights__ingredients">
            <li class="highlights__ingredient">
                <svg class="ingredient__icon" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path d="M2.49219 8.38072L5.55927 11.4265L12.4602 4.57349" stroke="#F1AF9E" stroke-width="1.246"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="ingredient__text">
                    Angstlösend und ausgleichend
                </p>
            </li>
        </ul>
    </div>
</li>

{% else %}

{% endcase %}
{% endcapture %}

{% capture ingredients_summary %}
{% case product.id %}
{% when 8081976983820 %}
  {% comment %}
gelenk drops
{% endcomment %}
  Hirse (47%), Pflanzliches Glycerin (Extrakt aus Sonnenblumenkernen), Insektenproteine aus Hermetia- Larven (8%),
  MSM (2%), Kollagen Hydrolysat, Hagebutte (2%), Teufelskralle (2%), Weidenrindenpulver (1,5%), Mädesüß (1,5%),
 Grünlippmuschel, Löwenzahn, Hermetiafett, Kurkuma, Weihrauch, Chondroitinsulfat, Rosmarin.
{% when 8020273070348 %}
  {% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
  Brennnessel (gekocht und filtriert), Thymian (gekocht und filtriert), Fenchel (gekocht und filtriert), Fichte (gekocht und filtriert), Eibischwurzel (gekocht und filtriert), Süßholzwurzel (gekocht und filtriert), Spitzwegerich (gekocht und filtriert), Sonnenhutkraut (gekocht und filtriert), Anisfrüchte (gekocht und filtriert), Johannisbrotschrot (gekocht und filtriert), Isländisches Moos (gekocht und filtriert), Salbei (gekocht und filtriert), Kalmuswurzel (gekocht und filtriert), Lindenblüten (gekocht und filtriert)

{% when 9711677571340 %}
  {% comment %}
Hustenkräutersaft Pferd 6er Bundle
{% endcomment %}
Brennnessel (gekocht und filtriert), Thymian (gekocht und filtriert), Fenchel (gekocht und filtriert), Fichte (gekocht und filtriert), Eibischwurzel (gekocht und filtriert), Süßholzwurzel (gekocht und filtriert), Spitzwegerich (gekocht und filtriert), Sonnenhutkraut (gekocht und filtriert), Anisfrüchte (gekocht und filtriert), Johannisbrotschrot (gekocht und filtriert), Isländisches Moos (gekocht und filtriert), Salbei (gekocht und filtriert), Kalmuswurzel (gekocht und filtriert), Lindenblüten (gekocht und filtriert)


{% when 8636621259020 %}
      {% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
  Brennnessel (gekocht und filtriert), Thymian (gekocht und filtriert), Fenchel (gekocht und filtriert), Fichte (gekocht und filtriert), Eibischwurzel (gekocht und filtriert), Süßholzwurzel (gekocht und filtriert), Spitzwegerich (gekocht und filtriert), Sonnenhutkraut (gekocht und filtriert), Anisfrüchte (gekocht und filtriert), Johannisbrotschrot (gekocht und filtriert), Isländisches Moos (gekocht und filtriert), Salbei (gekocht und filtriert), Kalmuswurzel (gekocht und filtriert), Lindenblüten (gekocht und filtriert)

{% when 8791364043020 %}
      {% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
  Brennnessel (gekocht und filtriert), Thymian (gekocht und filtriert), Fenchel (gekocht und filtriert), Fichte (gekocht und filtriert), Eibischwurzel (gekocht und filtriert), Süßholzwurzel (gekocht und filtriert), Spitzwegerich (gekocht und filtriert), Sonnenhutkraut (gekocht und filtriert), Anisfrüchte (gekocht und filtriert), Johannisbrotschrot (gekocht und filtriert), Isländisches Moos (gekocht und filtriert), Salbei (gekocht und filtriert), Kalmuswurzel (gekocht und filtriert), Lindenblüten (gekocht und filtriert)

{% when 11441804050700 %}
      {% comment %}
Hustenkräutersaft Pferd
{% endcomment %}
  Brennnessel (gekocht und filtriert), Thymian (gekocht und filtriert), Fenchel (gekocht und filtriert), Fichte (gekocht und filtriert), Eibischwurzel (gekocht und filtriert), Süßholzwurzel (gekocht und filtriert), Spitzwegerich (gekocht und filtriert), Sonnenhutkraut (gekocht und filtriert), Anisfrüchte (gekocht und filtriert), Johannisbrotschrot (gekocht und filtriert), Isländisches Moos (gekocht und filtriert), Salbei (gekocht und filtriert), Kalmuswurzel (gekocht und filtriert), Lindenblüten (gekocht und filtriert)


{% when 7031057940639 %}
{% comment %}
Dentalspray
{% endcomment %}
Quellwasser, Mineralstoffe (Meersalz und flüssiges Kalzium), fermentierte Kräuter (aus Basilikum, Brombeerblätter,
Römische Kamille, Liebstöckel, Hirtentäschel, Spitzwegerich, Rin-gelblumen, Himbeerblätter, Rosmarin, Salbei,
Weidenröschen, Schafgarbe, Lungenkraut, Eibisch, Frauenmantel, Taubnessel, Brennnessel, Thymian), Minze, Melasse
{% when 9667537535244 %}
Quellwasser, Fermentierte Kräuter (u.a. aus Brombeerblättern, Kamille, Liebstöckel, Hirtentäschel, Spitzwegerich, Ringelblume, Himbeerblätter, Rosmarin, Salbei, Weidenröschen, Schafgarbe, Lungenkraut, Eibisch, Frauenmantel, Taubnessel, Brennnessel, Zitronenthymian), Mineralstoffe (Meersalz und Kalzium), Minze (0,012%)
{% when 8219263336716 %}
{% comment %}
Gras- und Kotfresser Drops
{% endcomment %}
Süßkartoffel, Pflanzliches Glycerin (aus Sonnenblumenkernen), Insektenproteine aus Hermetia-Larven, Hagebutte (5%), Melisse (3%), Fenchel (2,5%), Isländisch Moos (2,5%), Bockshornkleesamen (2%), Anis, Löwenzahn, Kamille, Karotte, Leinsamen, Ulmenrinde, Ingwer (1%), Hermetiafett, Moor, Lecithin, Rosmarin 

{% when 7031056466079 %}
{% comment %}
Darmwohl Sticks
{% endcomment %}
Pflanzliches Glycerin (Extrakt aus Sonnenblumenkernen), Wildkräutermischung (10%) (Holorrhena antidysenterica, Acacia
nilotica, Cyperus rotundus, Aegle marmelos, Tinospora cordifolia, Ficus religiosa), Insektenproteine aus Hermetia-
Larven (8%), Süßkartoffel, Kartoffelflocken, Kartoffelprotein, Flohsamen (3%), Lecithin, Pflanzenöl, Pflanzenkohle (1%),
Hermetiafett (1%), Mineralstoffe, Bierhefe, Meeresalgen (Kelp), Chicoree (0,3%, Inulin und Mannan oligosaccaride (MOS)
Quelle, Präbiotikum), Rosmarin-Extrakt.

{% when 11559666647308 %}
    {% comment %}
Darmwohl Sticks
{% endcomment %}
Pflanzliches Glycerin (Extrakt aus Sonnenblumenkernen), Wildkräutermischung (10%) (Holorrhena antidysenterica, Acacia
nilotica, Cyperus rotundus, Aegle marmelos, Tinospora cordifolia, Ficus religiosa), Insektenproteine aus Hermetia-
Larven (8%), Süßkartoffel, Kartoffelflocken, Kartoffelprotein, Flohsamen (3%), Lecithin, Pflanzenöl, Pflanzenkohle (1%),
Hermetiafett (1%), Mineralstoffe, Bierhefe, Meeresalgen (Kelp), Chicoree (0,3%, Inulin und Mannan oligosaccaride (MOS)
Quelle, Präbiotikum), Rosmarin-Extrakt.
{% when 11432045543692 %}
    {% comment %}
Darmwohl Sticks
{% endcomment %}
Pflanzliches Glycerin (Extrakt aus Sonnenblumenkernen), Wildkräutermischung (10%) (Holorrhena antidysenterica, Acacia
nilotica, Cyperus rotundus, Aegle marmelos, Tinospora cordifolia, Ficus religiosa), Insektenproteine aus Hermetia-
Larven (8%), Süßkartoffel, Kartoffelflocken, Kartoffelprotein, Flohsamen (3%), Lecithin, Pflanzenöl, Pflanzenkohle (1%),
Hermetiafett (1%), Mineralstoffe, Bierhefe, Meeresalgen (Kelp), Chicoree (0,3%, Inulin und Mannan oligosaccaride (MOS)
Quelle, Präbiotikum), Rosmarin-Extrakt. 
{% when 8488123171084 %}
    {% comment %}
Darmwohl Sticks
{% endcomment %}
Pflanzliches Glycerin (Extrakt aus Sonnenblumenkernen), Wildkräutermischung (10%) (Holorrhena antidysenterica, Acacia
nilotica, Cyperus rotundus, Aegle marmelos, Tinospora cordifolia, Ficus religiosa), Insektenproteine aus Hermetia-
Larven (8%), Süßkartoffel, Kartoffelflocken, Kartoffelprotein, Flohsamen (3%), Lecithin, Pflanzenöl, Pflanzenkohle (1%),
Hermetiafett (1%), Mineralstoffe, Bierhefe, Meeresalgen (Kelp), Chicoree (0,3%, Inulin und Mannan oligosaccaride (MOS)
Quelle, Präbiotikum), Rosmarin-Extrakt.
{% when 7031094575263 %}
    {% comment %}
Darmwohl Sticks
{% endcomment %}
Pflanzliches Glycerin (Extrakt aus Sonnenblumenkernen), Wildkräutermischung (10%) (Holorrhena antidysenterica, Acacia
nilotica, Cyperus rotundus, Aegle marmelos, Tinospora cordifolia, Ficus religiosa), Insektenproteine aus Hermetia-
Larven (8%), Süßkartoffel, Kartoffelflocken, Kartoffelprotein, Flohsamen (3%), Lecithin, Pflanzenöl, Pflanzenkohle (1%),
Hermetiafett (1%), Mineralstoffe, Bierhefe, Meeresalgen (Kelp), Chicoree (0,3%, Inulin und Mannan oligosaccaride (MOS)
Quelle, Präbiotikum), Rosmarin-Extrakt.
{% when 7325770449055 %}
{% comment %}
Darmpflege Drops
{% endcomment %}
Hirse, Insektenprotein, Kräutermischung (Kutaja Rinde, ägyptischer Schotendorn, Knolliges Zypergras, Bengalische Quitte,
Guduchiblätter) (5%), Flohsamenschalen (2,5%), Pflanzenkohle (1%), Insektenöl, Bierhefe, Karotten, Kamille (0,5%),
Fenchel (0,15), Feigenbaumblätter, Mannan oligosaccaride, Beta Glucane, Rosmarinöl (0,03%)
{% comment %}
Darmpflege Drops 6er Bundle
{% endcomment %}
{% when 11515957018892 %}
Hirse, Insektenprotein, Kräutermischung (Kutaja Rinde, ägyptischer Schotendorn, Knolliges Zypergras, Bengalische Quitte,
Guduchiblätter) (5%), Flohsamenschalen (2,5%), Pflanzenkohle (1%), Insektenöl, Bierhefe, Karotten, Kamille (0,5%),
Fenchel (0,15), Feigenbaumblätter, Mannan oligosaccaride, Beta Glucane, Rosmarinöl (0,03%)
{% when 7381655290015 %}
{% comment %}
Darmpflege Drops
{% endcomment %}
Hirse, Insektenprotein, Kräutermischung (Kutaja Rinde, ägyptischer Schotendorn, Knolliges Zypergras, Bengalische Quitte,
Guduchiblätter) (5%), Flohsamenschalen (2,5%), Pflanzenkohle (1%), Insektenöl, Bierhefe, Karotten, Kamille (0,5%),
Fenchel (0,15), Feigenbaumblätter, Mannan oligosaccaride, Beta Glucane, Rosmarinöl (0,03%)
{% when 11515956363532 %}
{% comment %}
Darmpflege Drops
{% endcomment %}
Hirse, Insektenprotein, Kräutermischung (Kutaja Rinde, ägyptischer Schotendorn, Knolliges Zypergras, Bengalische Quitte,
Guduchiblätter) (5%), Flohsamenschalen (2,5%), Pflanzenkohle (1%), Insektenöl, Bierhefe, Karotten, Kamille (0,5%),
Fenchel (0,15), Feigenbaumblätter, Mannan oligosaccaride, Beta Glucane, Rosmarinöl (0,03%)
{% when 8117033074956 %}
{% comment %}
Chillout Drops
{% endcomment %}
Hirse (32%), Pflanzliches Glycerin (Extrakt aus Sonnenblumenkernen), Insektenproteine aus Hermetia- Larven (10%),
Baldrian (3%), Melisse (3%), Johanniskraut (3%), Anis (3%), Fenchel, Mohn, Lavendel (1,5%), Kümmel, Hagebutte, Hopfen,
Passionsblume, Hermetiafett, Rosmarin

{% else %}

{% endcase %}
{% endcapture %}
<div
  class="ingredients__container open {% if ingredients == blank and ingredients_summary == blank %}ingredients__container--hidden{% endif %}"
  data-effect-of-ingredient-container
>
  <div class="ingredients__heading-container">
    <h2 class="ingredients__heading">Highlight-Inhaltsstoffe</h2>
    <svg
      class="ingredients__chevron"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      data-effect-of-ingredient-button
    >
      <path d="M5 15L12 8L19 15" stroke="#262626" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
    </svg>
  </div>
  <ul class="ingredients__highlights">
    {{ ingredients }}
  </ul>
  {% if ingredients_summary != blank %}
    <div class="ingredients__summary">
      <s class="summary__heading">Zusammensetzung: </s>

      {{ ingredients_summary }}
    </div>
  {% endif %}
</div>
