{% assign productName = all_products['dentalspray'].title%}
<div class="acc-tl-blog-page-7-title">{{ productName }}</div>


{% schema %}
  {
    "name": "ACC_TL_BlogPage_7",
    "settings": [],
    "class": "ACC_TL_BlogPage_7_blog"
  }
{% endschema %}
