<div class="bs-info-banner">
    {% if section.settings.icon %}
        {{ section.settings.icon |  image_url: width: 50 |  image_tag }}
    {% endif %}
    <div class="bs-info-banner__content">
        {{ section.settings.richtext }}
    </div>
</div>

{% schema %}
    {
        "name": "BS Info Banner",
        "settings": [
            {
                "type": "richtext",
                "id": "richtext",
                "label": "Text",
                "default": "<p><strong>Gratis Geschenk</strong> (Wert 13,90€) zu jeder Bestellung ab 85€</p>"
            },
            {
                "type": "image_picker",
                "id": "icon",
                "label": "Icon"
            }
        ],
        "presets": [
            {
                "name": "BS Info Banner"
            }
        ]
    }
{% endschema %}