<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

{{ 'bs-product-testimonials.css' |  asset_url |  stylesheet_tag }}
<script src="{{ 'bs-product-testimonials.js' |  asset_url }}" defer></script>

{% if template contains 'product' %}
	<div class="bs-product-testimonials__wrapper">
		<div class="bs-product-testimonials">
			<h2 class="bs-product-testimonials__heading">
				Das sagen unsere Kunden
			</h2>
			<div class="bs-product-testimonials__main">
				<div class="bs-product-testimonials__rating">
					<div class="bs-product-testimonials__rating-product">
					<span class="bs-product-testimonials__rating-product__average"><span></span> / 5.00</span>
					<span class="bs-product-testimonials__rating-product__reviews-number">(<span></span>)</span>
					</div>
					<div class="bs-product-testimonials__rating-metric" data-js-product-testimonials-metric-effect>
						<div class="bs-product-testimonials__rating-metric__header">
							<span>Wirkung</span><span class="bs-product-testimonials__rating-metric__number"></span><span>/ 5.00</span>
						</div>
						<div class="bs-product-testimonials__rating-metric__rating-bar">
							<div class="bs-product-testimonials__rating-metric__thumb"></div>
						</div>
					</div>
					<div class="bs-product-testimonials__rating-metric" data-js-product-testimonials-metric-quality>
						<div class="bs-product-testimonials__rating-metric__header">
							<span>Qualität</span><span class="bs-product-testimonials__rating-metric__number"></span><span>/ 5.00</span>
						</div>
						<div class="bs-product-testimonials__rating-metric__rating-bar">
							<div class="bs-product-testimonials__rating-metric__thumb"></div>
						</div>
					</div>
					<div class="bs-product-testimonials__rating-metric" data-js-product-testimonials-metric-shipping>
						<div class="bs-product-testimonials__rating-metric__header">
							<span>Versand</span><span class="bs-product-testimonials__rating-metric__number"></span><span>/ 5.00</span>
						</div>
						<div class="bs-product-testimonials__rating-metric__rating-bar">
							<div class="bs-product-testimonials__rating-metric__thumb"></div>
						</div>
					</div>
					<div class="bs-product-testimonials__button Button Button--secondary" data-js-product-testimonials-button>
						Alle Bewertungen
					</div>
				</div>
				<div class="bs-product-testimonials__list-wrapper">
					<div class="bs-product-testimonials__list grid" data-js-product-testimonials-wrapper>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

{% schema %}
{
	"name": "BS Product testimonials",
	"settings": [],
	"presets": [
		{
			"name": "BS Product testimonials"
		}
	]
}
{% endschema %}