{{ "bs-slideshow.css" |  asset_url |  stylesheet_tag }}

<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow">
	<div class="bs-slideshow">
		<img class="bs-slideshow__background" src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Dental-Spray-5.jpg?v=1714417937" alt="Dog and owner">
		<div class="bs-slideshow__content">
		{% render 'bs-icon-wave-mobile' %}
		{% render 'bs-icon-wave-desktop' %}
		<img class="bs-slideshow__comparison-image" src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Vorher_Nachher_TLH_2.png?v=1722515107" alt="before and after">
		<div class="bs-slideshow__content-box">
			<div class="Slideshow--verisonB__testimonials">
			{% render 'bs-icon-profile-bubbles' %}
			<span>
				<strong>11.000+ Hundebesitzer</strong> berichten von sichtbaren Verbesserungen <br/> und hervorragender Wirkung
			</span>
			</div>
			<h2 class="bs-slideshow__title">
			Kinderleichte Zahnpflege für Hunde!
			</h2>
			<p class="bs-slideshow__description">
			Einfach aufs Futter sprühen und Zahnbelag selbst entfernen… 100% natürlich dank probiotischen Mikroorganismen!
			</p>
			<a href="https://tierliebhaber.de/collections/zahnpflege/products/dentalspray" class="bs-slideshow__cta-button Button Button--primary">Zum Dentalspray</a>
		</div>
		</div>
	</div>
</section>

{% schema %}
	{
		"name": "BS Slideshow",
		"settings": [],
		"presets": [
			{
				"name": "BS Slideshow"
			}
		]
	}
{% endschema %}
