{{ "bs-slidesjow.css" |  asset_url |  stylesheet_tag }}

<div class="Slideshow--versionB">
    <img class="Slideshow--versionB__background" src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Dental-Spray-5.jpg?v=1714417937" alt="Dog and owner">
    <div class="Slideshow--versionB__content">
      <svg class="Slideshow--versionB__content__background--mobile" xmlns="http://www.w3.org/2000/svg" width="1000" height="1000" viewBox="0 0 375 354" fill="none">
      <path d="M456.219 173.202C456.219 230.435 465.54 363.222 420.439 401.949C371.261 444.178 139.704 458 62.0647 458C-86.7772 458 -102.984 336.269 -102.984 216.628C-102.984 96.9878 -109.984 10.9999 166.518 -7.62939e-05C244.767 -7.62939e-05 323.685 7.39172 372.919 50.2017C434.091 100.698 456.219 116.458 456.219 173.202Z" fill="#F2F8F5"/>
      </svg>
      <svg class="Slideshow--versionB__content__background--desktop" xmlns="http://www.w3.org/2000/svg" width="1440" height="369" viewBox="0 0 1440 369" fill="none">
      <path d="M792 108C459.5 -54.5003 100 -15.0001 -25.5 108V381.5L1489 425V47.5001C1361.83 195.333 1124.5 270.5 792 108Z" fill="#F2F8F5"/>
      </svg>
      <img class="Slideshow--verisonB__comparison-image" src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Vorher_Nachher_TLH_2.png?v=1722515107" alt="before and after">
      <div class="Slideshow--versionB__content-box">
        <div class="Slideshow--verisonB__testimonials">
          {% render 'bs-icon-profile-bubbles' %}
          <span>
            <strong>11.000+ Hundebesitzer</strong> berichten von sichtbaren Verbesserungen <br/> und hervorragender Wirkung
          </span>
        </div>
        <h2 class="Slideshow--versionB__title">
          Kinderleichte Zahnpflege für Hunde!
        </h2>
        <p class="Slideshow--versionB__description">
          Einfach aufs Futter sprühen und Zahnbelag selbst entfernen… 100% natürlich dank probiotischen Mikroorganismen!
        </p>
        <a href="https://tierliebhaber.de/collections/zahnpflege/products/dentalspray" class="Slideshow--versionB__cta-button Button Button--primary">Zum Dentalspray</a>
      </div>
    </div>
</div>

{% schema %}
	{
		"name": "BS Slideshow",
		"settings": [],
		"presets": [
			{
				"name": "BS Slideshow"
			}
		]
	}
{% endschema %}
