

<style>.gps-536946410931619025 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-536946410931619025 .gp-relative{position:relative}.gps-536946410931619025 .gp-z-1{z-index:1}.gps-536946410931619025 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-536946410931619025 .gp-mb-0{margin-bottom:0}.gps-536946410931619025 .gp-flex{display:flex}.gps-536946410931619025 .gp-inline-flex{display:inline-flex}.gps-536946410931619025 .gp-grid{display:grid}.gps-536946410931619025 .\!gp-hidden{display:none!important}.gps-536946410931619025 .gp-hidden{display:none}.gps-536946410931619025 .gp-h-full{height:100%}.gps-536946410931619025 .gp-max-w-full{max-width:100%}.gps-536946410931619025 .gp-flex-col{flex-direction:column}.gps-536946410931619025 .gp-items-center{align-items:center}.gps-536946410931619025 .gp-justify-center{justify-content:center}.gps-536946410931619025 .gp-gap-y-0{row-gap:0}.gps-536946410931619025 .gp-overflow-hidden{overflow:hidden}.gps-536946410931619025 .gp-break-words{overflow-wrap:break-word}.gps-536946410931619025 .gp-rounded-none{border-radius:0}.gps-536946410931619025 .gp-no-underline{text-decoration-line:none}.gps-536946410931619025 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536946410931619025 .gp-duration-200{transition-duration:.2s}.gps-536946410931619025 .gp-duration-300{transition-duration:.3s}.gps-536946410931619025 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536946410931619025 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-536946410931619025 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-536946410931619025 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-536946410931619025 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-536946410931619025 .tablet\:\!gp-hidden{display:none!important}.gps-536946410931619025 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-536946410931619025 .mobile\:\!gp-hidden{display:none!important}.gps-536946410931619025 .mobile\:gp-hidden{display:none}}.gps-536946410931619025 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-536946410931619025 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="goRzdpvjCF" data-id="goRzdpvjCF"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:190px;--mr:190px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--ml-mobile:10px;--mr-mobile:190px;--pt-mobile:20px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goRzdpvjCF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gA3FhiJJux gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--mt:0px;--ml:0px;--mr:400px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:20px;--mb-mobile:0px;--mr-mobile:35px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
    
  >
    <style>
    .gSRA4lc7vs.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gSRA4lc7vs:hover::before {
      
      
    }

    .gSRA4lc7vs:hover .gp-button-icon {
      color: #ffffff;
    }

     .gSRA4lc7vs .gp-button-icon {
      color: rgb(45, 45, 44);
    }

    .gSRA4lc7vs:hover .gp-button-price {
      color: #ffffff;
    }

    .gSRA4lc7vs .gp-button-price {
      color: rgb(45, 45, 44);
    }

    .gSRA4lc7vs .gp-product-dot-price {
       color: rgb(45, 45, 44);
    }

    .gSRA4lc7vs:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <button
      type="button" data-id="gSRA4lc7vs" aria-label="<p><strong>&gt;&gt; JETZT ZUM ANGEBOT</strong></p>"
      
      data-state="idle"
      class="gSRA4lc7vs gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-subheading-3"
      style="--hvr-bg:#3c96ee;--bg:rgb(232, 159, 66);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:60px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--hvr-c:#ffffff;--c:rgb(45, 45, 44);--size:32px;--size-tablet:32px;--size-mobile:23px"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:32px;--size-tablet:32px;--size-mobile:23px"
      >
        {{ section.settings.ggSRA4lc7vs_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 18",
    "tag": "section",
    "class": "gps-536946410931619025 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=536946410780624081&sectionId=536946410931619025)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSRA4lc7vs_label","label":"ggSRA4lc7vs_label","default":"<p><strong>&gt;&gt; JETZT ZUM ANGEBOT</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
