
    
    <style>.gps-536946410931619025 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-536946410931619025 .gp-relative{position:relative}.gps-536946410931619025 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-536946410931619025 .gp-mb-0{margin-bottom:0}.gps-536946410931619025 .gp-flex{display:flex}.gps-536946410931619025 .gp-inline-flex{display:inline-flex}.gps-536946410931619025 .gp-grid{display:grid}.gps-536946410931619025 .\!gp-hidden{display:none!important}.gps-536946410931619025 .gp-hidden{display:none}.gps-536946410931619025 .gp-h-full{height:100%}.gps-536946410931619025 .gp-max-w-full{max-width:100%}.gps-536946410931619025 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-536946410931619025 .gp-flex-col{flex-direction:column}.gps-536946410931619025 .gp-items-center{align-items:center}.gps-536946410931619025 .gp-justify-center{justify-content:center}.gps-536946410931619025 .gp-overflow-hidden{overflow:hidden}.gps-536946410931619025 .gp-break-words{overflow-wrap:break-word}.gps-536946410931619025 .gp-no-underline{text-decoration-line:none}.gps-536946410931619025 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536946410931619025 .gp-duration-200{transition-duration:.2s}.gps-536946410931619025 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-536946410931619025 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-536946410931619025 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-536946410931619025 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-536946410931619025 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-536946410931619025 .tablet\:\!gp-hidden{display:none!important}.gps-536946410931619025 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-536946410931619025 .mobile\:\!gp-hidden{display:none!important}.gps-536946410931619025 .mobile\:gp-hidden{display:none}}.gps-536946410931619025 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-536946410931619025 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goRzdpvjCF"}' data-id="goRzdpvjCF" id="goRzdpvjCF" data-same-height-subgrid-container class="goRzdpvjCF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_FUNNEL_PAGE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:190px;--mr:190px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--ml-mobile:10px;--mr-mobile:190px;--pt-mobile:20px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gA3FhiJJux gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--pageType:GP_FUNNEL_PAGE;--mt:0px;--ml:0px;--mr:400px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:20px;--mb-mobile:0px;--mr-mobile:35px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center" >
        <style>[data-id="gSRA4lc7vs"].gp-button-base::before, [data-id="gSRA4lc7vs-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gSRA4lc7vs"]:hover::before, [data-id="gSRA4lc7vs-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gSRA4lc7vs" dataId="gSRA4lc7vs" data-state="idle" aria-label="<p><strong>&gt;&gt; JETZT ZUM ANGEBOT</strong></p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:60px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#3c96ee;--bg:rgb(232, 159, 66);--hvr-c:#ffffff;--c:rgb(45, 45, 44);--size:32px;--size-tablet:32px;--size-mobile:23px"
          class="gSRA4lc7vs gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-subheading-3"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:32px;--size-tablet:32px;--size-mobile:23px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggSRA4lc7vs_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 18",
    "tag": "section",
    "class": "gps-536946410931619025 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=536946410780624081&sectionId=536946410931619025)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSRA4lc7vs_label","label":"ggSRA4lc7vs_label","default":"<p><strong>&gt;&gt; JETZT ZUM ANGEBOT</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  