

<style>.gps-573757744550380612 .gp-relative{position:relative}.gps-573757744550380612 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573757744550380612 .gp-mb-0{margin-bottom:0}.gps-573757744550380612 .gp-flex{display:flex}.gps-573757744550380612 .gp-grid{display:grid}.gps-573757744550380612 .\!gp-hidden{display:none!important}.gps-573757744550380612 .gp-hidden{display:none}.gps-573757744550380612 .gp-max-w-full{max-width:100%}.gps-573757744550380612 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573757744550380612 .gp-flex-col{flex-direction:column}.gps-573757744550380612 .gp-gap-y-0{row-gap:0}.gps-573757744550380612 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573757744550380612 .gp-duration-200{transition-duration:.2s}.gps-573757744550380612 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-573757744550380612 .tablet\:\!gp-hidden{display:none!important}.gps-573757744550380612 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-573757744550380612 .mobile\:\!gp-hidden{display:none!important}.gps-573757744550380612 .mobile\:gp-hidden{display:none}}.gps-573757744550380612 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gitGewezjf" data-id="gitGewezjf"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gitGewezjf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtrYbguGCL gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gcLRATmg4I "
    ><div></div></div>
  
      <style id="custom-css-gcLRATmg4I">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}

.sticky-cta {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}

      </style>
    
      <script id="custom-js-gcLRATmg4I">
        try {
          document.addEventListener("DOMContentLoaded", function () {
  const cta = document.querySelector(".sticky-cta");
  console.log("CTA gefunden:", cta);

  if (!cta) return;

  cta.style.opacity = "0";
  cta.style.pointerEvents = "none";
  cta.style.transition = "opacity 0.6s ease";

  function handleScroll() {
    const scrollDepth = window.scrollY / (document.body.scrollHeight - window.innerHeight);

    if (scrollDepth > 0.2) {
      cta.style.opacity = "1";
      cta.style.pointerEvents = "auto";
      console.log("✅ Fade-in aktiviert");
    } else {
      cta.style.opacity = "0";
      cta.style.pointerEvents = "none";
      console.log("⬅️ Fade-out aktiviert");
    }
  }

  window.addEventListener("scroll", handleScroll);
});
        } catch(err){}
      </script>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-573757744550380612 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=573757744297804868&sectionId=573757744550380612)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
