

<style>@import url('https://fonts.googleapis.com/css?family=sans-serif:400&display=swap');.gps-555334908759769978 .gp-relative{position:relative}.gps-555334908759769978 .gp-z-1{z-index:1}.gps-555334908759769978 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555334908759769978 .gp-mb-0{margin-bottom:0}.gps-555334908759769978 .gp-flex{display:flex}.gps-555334908759769978 .gp-inline-flex{display:inline-flex}.gps-555334908759769978 .gp-grid{display:grid}.gps-555334908759769978 .\!gp-hidden{display:none!important}.gps-555334908759769978 .gp-hidden{display:none}.gps-555334908759769978 .gp-h-full{height:100%}.gps-555334908759769978 .gp-max-w-full{max-width:100%}.gps-555334908759769978 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-555334908759769978 .gp-flex-col{flex-direction:column}.gps-555334908759769978 .gp-items-center{align-items:center}.gps-555334908759769978 .gp-justify-center{justify-content:center}.gps-555334908759769978 .gp-gap-y-0{row-gap:0}.gps-555334908759769978 .gp-overflow-hidden{overflow:hidden}.gps-555334908759769978 .gp-break-words{overflow-wrap:break-word}.gps-555334908759769978 .gp-rounded-none{border-radius:0}.gps-555334908759769978 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-555334908759769978 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-555334908759769978 .gp-no-underline{text-decoration-line:none}.gps-555334908759769978 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555334908759769978 .gp-duration-200{transition-duration:.2s}.gps-555334908759769978 .gp-duration-300{transition-duration:.3s}.gps-555334908759769978 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555334908759769978 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-555334908759769978 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-555334908759769978 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-555334908759769978 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-555334908759769978 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-555334908759769978 .tablet\:\!gp-hidden{display:none!important}.gps-555334908759769978 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555334908759769978 .mobile\:\!gp-hidden{display:none!important}.gps-555334908759769978 .mobile\:gp-hidden{display:none}}.gps-555334908759769978 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555334908759769978 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gIL7tmUvEJ" data-id="gIL7tmUvEJ"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIL7tmUvEJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="glJlhboKGu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--mt:0px;--pt:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--op:100%;--ta:center"
    class="sticky-button-desktop"
  >
    <style>
    .gJEmA0MxQA.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }

    .gJEmA0MxQA:hover::before {
      
      
    }

    .gJEmA0MxQA:hover .gp-button-icon {
      color: undefined;
    }

     .gJEmA0MxQA .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gJEmA0MxQA:hover .gp-button-price {
      color: undefined;
    }

    .gJEmA0MxQA .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gJEmA0MxQA .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gJEmA0MxQA:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gJEmA0MxQA" aria-label="<p>JETZT SONDER-RABATT NUTZEN</p>"
      
      data-state="idle"
      class="gJEmA0MxQA gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand gp-text-g-text-3"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:#121212;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--w:80%;--w-tablet:80%;--w-mobile:90%;--h:40px;--h-tablet:40px;--h-mobile:30px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--c:var(--g-c-text-3, text-3);--size:20px;--size-tablet:25px;--size-mobile:14px;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--lh:default;--lh-tablet:130%;--lh-mobile:130%;--weight:bold"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:20px;--size-tablet:25px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggJEmA0MxQA_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-555334908759769978 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554511797822948212&sectionId=555334908759769978)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJEmA0MxQA_label","label":"ggJEmA0MxQA_label","default":"<p>JETZT SONDER-RABATT NUTZEN</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
