
    
    <style>@import url('https://fonts.googleapis.com/css?family=sans-serif:400,700&display=swap');.gps-582688630121366360 .gp-relative{position:relative}.gps-582688630121366360 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582688630121366360 .gp-mb-0{margin-bottom:0}.gps-582688630121366360 .gp-flex{display:flex}.gps-582688630121366360 .gp-grid{display:grid}.gps-582688630121366360 .\!gp-hidden{display:none!important}.gps-582688630121366360 .gp-hidden{display:none}.gps-582688630121366360 .gp-max-w-full{max-width:100%}.gps-582688630121366360 .gp-cursor-pointer{cursor:pointer}.gps-582688630121366360 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582688630121366360 .gp-flex-col{flex-direction:column}.gps-582688630121366360 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582688630121366360 .gp-duration-200{transition-duration:.2s}.gps-582688630121366360 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582688630121366360 .tablet\:\!gp-hidden{display:none!important}.gps-582688630121366360 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582688630121366360 .mobile\:\!gp-hidden{display:none!important}.gps-582688630121366360 .mobile\:gp-hidden{display:none}}.gps-582688630121366360 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(249, 237, 214, 0.9)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gitGewezjf"}' data-id="gitGewezjf" id="gitGewezjf" data-same-height-subgrid-container class="gitGewezjf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(249, 237, 214, 0.9);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtrYbguGCL gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gcLRATmg4I gp-cursor-pointer gp-custom-code">
      <div>
    <div id="floating-cta" style="
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  transition: opacity 0.4s ease, transform 0.4s ease;
">
  <a href="#angebot" onclick="scrollToOffer()" style="
    background-color: #E39352;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 24px 80px;
    border-radius: 9999px;
    display: inline-block;
    pointer-events: auto;
  " class="responsive-cta">
    JETZT AKTIONS-RABATT NUTZEN
  </a>
</div>

<style>
  @media screen and (max-width: 768px) {
    .responsive-cta {
      font-size: 16px !important;
      padding: 14px 28px !important;
    }
  }
</style>
    </div>
    </div>
  
      <style id="custom-css-gcLRATmg4I">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}


      </style>
    
      <script id="custom-js-gcLRATmg4I">
        try {
          document.addEventListener("DOMContentLoaded", function () {
  const floatingCTA = document.getElementById("floating-cta");

  function handleScroll() {
    const scrollDepth = window.scrollY / (document.body.scrollHeight - window.innerHeight);
    if (scrollDepth > 0.2) {
      floatingCTA.style.opacity = "1";
      floatingCTA.style.pointerEvents = "auto";
      floatingCTA.style.transform = "translateY(0)";
    } else {
      floatingCTA.style.opacity = "0";
      floatingCTA.style.pointerEvents = "none";
      floatingCTA.style.transform = "translateY(30px)";
    }
  }

  window.addEventListener("scroll", handleScroll);
});

// Smooth scroll zur richtigen Offer-Section
function scrollToOffer() {
  const isMobile = window.innerWidth <= 768;
  const target = isMobile
    ? document.querySelector(".offer-section2")
    : document.querySelector(".offer-section1");

  if (target) {
    target.scrollIntoView({ behavior: "smooth" });
  }
}

        } catch(err){}
      </script>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g82jbpem5e"
        class="g82jbpem5e"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:5px;--pt:5px;--pl:0px;--pb:5px;--pr:0px;--mt-mobile:0px;--mb-mobile:12px;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--mb-tablet:5px;--pt-tablet:5px;--pl-tablet:0px;--pb-tablet:5px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756839166956"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:19px;--size-tablet:19px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#C5453F;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg82jbpem5e_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-582688630121366360 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582688630036759384&sectionId=582688630121366360)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg82jbpem5e_text","label":"gg82jbpem5e_text","default":"<strong>ERHALTE HEUTE&nbsp; -24% NEUKUNDEN-RABATT - UND TESTE ALLE 8 SORTEN DURCH</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  