

<style>.gps-553625841750312131 .gp-relative{position:relative}.gps-553625841750312131 .gp-z-1{z-index:1}.gps-553625841750312131 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-553625841750312131 .gp-mb-0{margin-bottom:0}.gps-553625841750312131 .gp-flex{display:flex}.gps-553625841750312131 .gp-inline-flex{display:inline-flex}.gps-553625841750312131 .gp-grid{display:grid}.gps-553625841750312131 .\!gp-hidden{display:none!important}.gps-553625841750312131 .gp-hidden{display:none}.gps-553625841750312131 .gp-h-full{height:100%}.gps-553625841750312131 .gp-max-w-full{max-width:100%}.gps-553625841750312131 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-553625841750312131 .gp-flex-col{flex-direction:column}.gps-553625841750312131 .gp-items-center{align-items:center}.gps-553625841750312131 .gp-justify-center{justify-content:center}.gps-553625841750312131 .gp-gap-y-0{row-gap:0}.gps-553625841750312131 .gp-overflow-hidden{overflow:hidden}.gps-553625841750312131 .gp-break-words{overflow-wrap:break-word}.gps-553625841750312131 .gp-rounded-none{border-radius:0}.gps-553625841750312131 .gp-text-center{text-align:center}.gps-553625841750312131 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-553625841750312131 .gp-no-underline{text-decoration-line:none}.gps-553625841750312131 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553625841750312131 .gp-duration-200{transition-duration:.2s}.gps-553625841750312131 .gp-duration-300{transition-duration:.3s}.gps-553625841750312131 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-553625841750312131 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-553625841750312131 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-553625841750312131 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-553625841750312131 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-553625841750312131 .tablet\:\!gp-hidden{display:none!important}.gps-553625841750312131 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553625841750312131 .mobile\:\!gp-hidden{display:none!important}.gps-553625841750312131 .mobile\:gp-hidden{display:none}}.gps-553625841750312131 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-553625841750312131 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gHxPvHL4f0" data-id="gHxPvHL4f0"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gHxPvHL4f0 cta-mobile-button gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gw2iHY7GZ6 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gj--0Q-N4B.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gj--0Q-N4B:hover::before {
      
      
    }

    .gj--0Q-N4B:hover .gp-button-icon {
      color: undefined;
    }

     .gj--0Q-N4B .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gj--0Q-N4B:hover .gp-button-price {
      color: undefined;
    }

    .gj--0Q-N4B .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gj--0Q-N4B .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gj--0Q-N4B:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://tierliebhaber.de/pages/dentalspray-aktion" target="_self" data-id="gj--0Q-N4B" aria-label="<p>Rabatt anwenden &nbsp;Verfügbarkeit prüfen 👉</p>"
      
      data-state="idle"
      class="gj--0Q-N4B gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#EFC140;--bg:#52c41a;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:2.4492935982947064e-16px 4px 12px 0px rgba(0, 0, 0, 0.20);--w:100%;--w-tablet:100%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:20px;--pb:20px;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-mobile:16px;--pb-mobile:16px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:20px;--size-mobile:20px;--ff:var(--g-font-body, body);--weight:600;--ls:0px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:20px;--size-mobile:20px"
      >
        {{ section.settings.ggj--0Q-N4B_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gj--0Q-N4B">
        button.gj--0Q-N4B {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-553625841750312131 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=553625841699914947&sectionId=553625841750312131)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggj--0Q-N4B_label","label":"ggj--0Q-N4B_label","default":"<p>Rabatt anwenden &nbsp;Verfügbarkeit prüfen 👉</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
