

<style>.gps-551569766783910785 .gp-relative{position:relative}.gps-551569766783910785 .gp-z-1{z-index:1}.gps-551569766783910785 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-551569766783910785 .gp-mb-0{margin-bottom:0}.gps-551569766783910785 .gp-flex{display:flex}.gps-551569766783910785 .gp-inline-flex{display:inline-flex}.gps-551569766783910785 .gp-grid{display:grid}.gps-551569766783910785 .\!gp-hidden{display:none!important}.gps-551569766783910785 .gp-hidden{display:none}.gps-551569766783910785 .gp-h-full{height:100%}.gps-551569766783910785 .gp-max-w-full{max-width:100%}.gps-551569766783910785 .gp-flex-col{flex-direction:column}.gps-551569766783910785 .gp-items-center{align-items:center}.gps-551569766783910785 .gp-justify-center{justify-content:center}.gps-551569766783910785 .gp-gap-y-0{row-gap:0}.gps-551569766783910785 .gp-overflow-hidden{overflow:hidden}.gps-551569766783910785 .gp-break-words{overflow-wrap:break-word}.gps-551569766783910785 .gp-rounded-none{border-radius:0}.gps-551569766783910785 .gp-text-center{text-align:center}.gps-551569766783910785 .gp-no-underline{text-decoration-line:none}.gps-551569766783910785 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-551569766783910785 .gp-duration-200{transition-duration:.2s}.gps-551569766783910785 .gp-duration-300{transition-duration:.3s}.gps-551569766783910785 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-551569766783910785 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-551569766783910785 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-551569766783910785 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-551569766783910785 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-551569766783910785 .tablet\:\!gp-hidden{display:none!important}.gps-551569766783910785 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-551569766783910785 .mobile\:\!gp-hidden{display:none!important}.gps-551569766783910785 .mobile\:gp-hidden{display:none}}.gps-551569766783910785 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-551569766783910785 .\[\&_p\]\:gp-inline p{display:inline}.gps-551569766783910785 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-551569766783910785 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-551569766783910785 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gls44G9AVs" data-id="gls44G9AVs"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:var(--g-s-3xl);--pl:20px;--pb:48px;--pr:20px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gls44G9AVs gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsj4FwBFMG gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gu4_Xx6y3Y" data-id="gu4_Xx6y3Y"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:center;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu4_Xx6y3Y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glbol_k_0T gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gN76MW9OhQ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gN76MW9OhQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:30px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggN76MW9OhQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gN76MW9OhQ">
        .gN76MW9OhQ {

}
.gN76MW9OhQ p {

}
      </style>
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="g2QZzdhbIr" data-id="g2QZzdhbIr"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2QZzdhbIr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gaGiZuCAdj gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px;--mb-mobile:14px;--ta:center"
    
  >
    <style>
    .gac6EAMYz5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gac6EAMYz5:hover::before {
      
      
    }

    .gac6EAMYz5:hover .gp-button-icon {
      color: undefined;
    }

     .gac6EAMYz5 .gp-button-icon {
      color: #000000;
    }

    .gac6EAMYz5:hover .gp-button-price {
      color: undefined;
    }

    .gac6EAMYz5 .gp-button-price {
      color: #000000;
    }

    .gac6EAMYz5 .gp-product-dot-price {
       color: #000000;
    }

    .gac6EAMYz5:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://tierliebhaber.de/policies/legal-notice?ablyft_set_bucketing=%5B%2254750526_69553445%22%2C%2290360250_41154318%22%2C%2298155971_13865079%22%5D" target="_blank" data-id="gac6EAMYz5" aria-label="<p>Impressum</p>"
      
      data-state="idle"
      class="gac6EAMYz5 gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:var(--g-s-xl);--pt:0px;--pb:0px;--c:#000000;--size:16px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:14px;--size-mobile:14px"
      >
        {{ section.settings.ggac6EAMYz5_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gac6EAMYz5">
        button.gac6EAMYz5 {

}
      </style>
    
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gZ3PXHjJro gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:14px;--ta:center"
    
  >
    <style>
    .gzf6bz-KNB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gzf6bz-KNB:hover::before {
      
      
    }

    .gzf6bz-KNB:hover .gp-button-icon {
      color: undefined;
    }

     .gzf6bz-KNB .gp-button-icon {
      color: #000000;
    }

    .gzf6bz-KNB:hover .gp-button-price {
      color: undefined;
    }

    .gzf6bz-KNB .gp-button-price {
      color: #000000;
    }

    .gzf6bz-KNB .gp-product-dot-price {
       color: #000000;
    }

    .gzf6bz-KNB:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://tierliebhaber.de/policies/privacy-policy?ablyft_set_bucketing=%5B%2254750526_69553445%22%2C%2290360250_41154318%22%2C%2298155971_13865079%22%5D" target="_blank" data-id="gzf6bz-KNB" aria-label="<p>Datenschutz</p>"
      
      data-state="idle"
      class="gzf6bz-KNB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:0px;--pb:0px;--c:#000000;--size:16px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--lh:130%;--lh-tablet:180%;--lh-mobile:130%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:14px;--size-mobile:14px"
      >
        {{ section.settings.ggzf6bz-KNB_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

      <style id="custom-css-gzf6bz-KNB">
        button.gzf6bz-KNB {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-551569766783910785 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=551569749369160577&sectionId=551569766783910785)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggN76MW9OhQ_text","label":"ggN76MW9OhQ_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(47,47,47);font-size:16px;\">Haftungsausschluss</span></p><p>Diese Website ist kein Teil der Facebook-Website oder Facebook, Inc. Darüber hinaus wird diese Website von Facebook in keiner Weise unterstützt. Facebook ist eine Marke von Facebook, Inc.Die oben genannten Ergebnisse sind unsere persönlichen Erfahrungen und die einiger Kunden. Bitte verstehe, dass unsere Ergebnisse nicht typisch sind und von Person zu Person abweichen können.Die hier gezeigten Produkte sind nicht geeignet, um Krankheiten zu diagnostizieren, zu behandeln, zu heilen oder zu verhindern. Zudem ersetzen sie keinen ärztlichen Rat oder vom Arzt verschriebene Medikamente. Im Zweifel sollte vor der Anwendung immer der Rat des Tierarztes eingeholt werde.</p>"},{"type":"html","id":"ggac6EAMYz5_label","label":"ggac6EAMYz5_label","default":"<p>Impressum</p>"},{"type":"html","id":"ggzf6bz-KNB_label","label":"ggzf6bz-KNB_label","default":"<p>Datenschutz</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
