

<style>.gps-560567891359957872 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-560567891359957872 .gp-relative{position:relative}.gps-560567891359957872 .gp-z-1{z-index:1}.gps-560567891359957872 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-560567891359957872 .gp-mb-0{margin-bottom:0}.gps-560567891359957872 .gp-flex{display:flex}.gps-560567891359957872 .gp-inline-flex{display:inline-flex}.gps-560567891359957872 .gp-grid{display:grid}.gps-560567891359957872 .\!gp-hidden{display:none!important}.gps-560567891359957872 .gp-hidden{display:none}.gps-560567891359957872 .gp-h-full{height:100%}.gps-560567891359957872 .gp-max-w-full{max-width:100%}.gps-560567891359957872 .gp-flex-col{flex-direction:column}.gps-560567891359957872 .gp-items-center{align-items:center}.gps-560567891359957872 .gp-justify-center{justify-content:center}.gps-560567891359957872 .gp-gap-y-0{row-gap:0}.gps-560567891359957872 .gp-overflow-hidden{overflow:hidden}.gps-560567891359957872 .gp-break-words{overflow-wrap:break-word}.gps-560567891359957872 .gp-rounded-none{border-radius:0}.gps-560567891359957872 .gp-no-underline{text-decoration-line:none}.gps-560567891359957872 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-560567891359957872 .gp-duration-200{transition-duration:.2s}.gps-560567891359957872 .gp-duration-300{transition-duration:.3s}.gps-560567891359957872 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-560567891359957872 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-560567891359957872 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-560567891359957872 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-560567891359957872 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-560567891359957872 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-560567891359957872 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-560567891359957872 .tablet\:\!gp-hidden{display:none!important}.gps-560567891359957872 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-560567891359957872 .mobile\:\!gp-hidden{display:none!important}.gps-560567891359957872 .mobile\:gp-hidden{display:none}}.gps-560567891359957872 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-560567891359957872 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gx2C3zxV6I" data-id="gx2C3zxV6I"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx2C3zxV6I gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gN_cz-waxz gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gVmpT8zhAx "
    ><div><!-- Wrapper für das Video -->
<div id="video-wrapper" style="max-width: 400px; margin: 0 auto;">
  <div id="vidalytics_embed_qn6kl5RleLq_MKdZ" style="width: 100%; position: relative; padding-top: 125%;"></div>
</div>

<!-- CTA Button, der anfangs verborgen ist (mit CSS-Klasse statt ID) -->
<button class="g6yls_T0S8 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1" style="display: none; --bg:#f3841d; --hvr-bg:#f3841d; --radius:var(--g-radius-small); --shadow:none; --w:60%; --w-tablet:60%; --w-mobile:70%; --h:60px; --h-tablet:60px; --h-mobile:65px; --pl:24px; --pr:24px; --pt:8px; --pb:8px; --pl-mobile:24px; --pr-mobile:24px; --pt-mobile:8px; --pb-mobile:8px; --c:#151515; --size:20px; --size-tablet:16px; --size-mobile:18px; --weight:bold;">
  <div class="gp-inline-flex">
    <span data-gp-text="" class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden" style="--size:20px; --size-tablet:16px; --size-mobile:18px; --c:#151515">
      <p>Hier Verfügbarkeit prüfen &amp;&nbsp;bis zu 44% sparen!</p>
    </span>
  </div>
</button>

<!-- Vidalytics Script -->
<script type="text/javascript">
(function (v, i, d, a, l, y, t, c, s) {
    y='_'+d.toLowerCase();c=d+'L';if(!v[d]){v[d]={};}if(!v[c]){v[c]={};}if(!v[y]){v[y]={};}var vl='Loader',vli=v[y][vl],vsl=v[c][vl + 'Script'],vlf=v[c][vl + 'Loaded'],ve='Embed';
    if (!vsl){vsl=function(u,cb){
        if(t){cb();return;}s=i.createElement("script");s.type="text/javascript";s.async=1;s.src=u;
        if(s.readyState){s.onreadystatechange=function(){if(s.readyState==="loaded"||s.readyState=="complete"){s.onreadystatechange=null;vlf=1;cb();}};}else{s.onload=function(){vlf=1;cb();};}
        i.getElementsByTagName("head")[0].appendChild(s);
    };}
    vsl(l+'loader.min.js',function(){if(!vli){var vlc=v[c][vl];vli=new vlc();}vli.loadScript(l+'player.min.js',function(){var vec=v[d][ve];t=new vec();t.run(a);});});
})(window, document, 'Vidalytics', 'vidalytics_embed_qn6kl5RleLq_MKdZ', 'https://fast.vidalytics.com/embeds/tS6pVegV/qn6kl5RleLq_MKdZ/');
</script>

<!-- JavaScript für das Überwachen der Videozeit und CTA-Anzeige -->
<script type="text/javascript">
  // Warte bis das Video geladen und bereit ist
  window.addEventListener('load', function() {
    var video = document.getElementById('vidalytics_embed_qn6kl5RleLq_MKdZ');
    var ctaButton = document.querySelector('.g6yls_T0S8'); // Verwende die Klasse für den Button
    
    // Stelle sicher, dass der CTA-Button zu Beginn verborgen bleibt
    ctaButton.style.display = 'none'; // Stellen Sie sicher, dass der Button initial verborgen ist

    // Überwache, ob das Video gestartet wird
    video.addEventListener('play', function() {
        var videoTimeInterval = setInterval(function() {
          var currentTime = video.currentTime || 0; // Holt sich die aktuelle Zeit des Videos

          // Wenn der Timer die 1:10-Marke überschreitet, wird der CTA eingeblendet
          if (currentTime >= 70) {
            ctaButton.style.display = 'block';  // CTA sichtbar machen
          }

          // Optional: Wenn das Video zu Ende ist, stoppen wir die Intervall-Überprüfung
          if (currentTime >= video.duration) {
            clearInterval(videoTimeInterval);
          }
        }, 500);  // Überprüfung alle 500ms (0.5 Sek.)
    });

    // Überwache, ob das Video pausiert wird
    video.addEventListener('pause', function() {
        ctaButton.style.display = 'none';  // CTA ausblenden, wenn das Video pausiert wird
    });
  });
</script></div></div>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-560567891359957872 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=560567816147698469&sectionId=560567891359957872)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
