
    
    <style>.gps-550254854895830051 .gp-relative{position:relative}.gps-550254854895830051 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550254854895830051 .gp-mb-0{margin-bottom:0}.gps-550254854895830051 .gp-flex{display:flex}.gps-550254854895830051 .gp-grid{display:grid}.gps-550254854895830051 .\!gp-hidden{display:none!important}.gps-550254854895830051 .gp-hidden{display:none}.gps-550254854895830051 .gp-max-w-full{max-width:100%}.gps-550254854895830051 .gp-cursor-pointer{cursor:pointer}.gps-550254854895830051 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-550254854895830051 .gp-flex-col{flex-direction:column}.gps-550254854895830051 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550254854895830051 .gp-duration-200{transition-duration:.2s}.gps-550254854895830051 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-550254854895830051 .tablet\:\!gp-hidden{display:none!important}.gps-550254854895830051 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-550254854895830051 .mobile\:\!gp-hidden{display:none!important}.gps-550254854895830051 .mobile\:gp-hidden{display:none}}.gps-550254854895830051 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gu0PYI1ADr"}' data-id="gu0PYI1ADr" id="gu0PYI1ADr" data-same-height-subgrid-container class="gu0PYI1ADr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_FUNNEL_PAGE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gczdamZdrD gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_FUNNEL_PAGE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gK2dkmz7t0 gp-cursor-pointer gp-custom-code">
      <div>
    <!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monatliches Angebot</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .angebot-banner {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 0;
            text-align: center;
            background: linear-gradient(to right, #FBE9EB, #F9F3E5);
            color: #880E4F;
            font-family: Arial, sans-serif;
            z-index: 1;
            box-sizing: border-box;
        }

        .angebot-banner h1 {
            font-size: 1.5rem; /* Optimale Schriftgröße */
            font-weight: bold;
            margin: 0 auto;
            line-height: 1.5; /* Angemessene Zeilenhöhe */
            max-width: 85%; /* Maximale Breite begrenzen */
            white-space: normal; /* Zeilenumbrüche erlauben */
            word-wrap: break-word;
            word-break: break-word;
            text-transform: uppercase; /* Alles in Großbuchstaben */
        }

        .angebot-banner p {
            font-size: 1rem;
            margin-top: 10px;
            font-style: italic;
        }

        /* Mobile Version - Breakpoint */
        @media (max-width: 600px) {
            .angebot-banner h1 {
                font-size: 1.3rem; /* Kleinere Schriftgröße für mobile Geräte */
                max-width: 90%; /* Mehr Platz für Text */
                line-height: 1.4; /* Angenehme Lesbarkeit */
            }
        }
    </style>
</head>
<body>
    <!-- Banner -->
    <div class="angebot-banner">
        <h1 id="angebot-text">EINMALIGES DEZEMBER-ANGEBOT VON 16.12 BIS 22.12</h1>
        <p>*NUR SOLANGE DER VORRAT REICHT</p>
    </div>

    <!-- Skript für die Berechnung der Angebotsdauer -->
    <script>
        (function() {
            const today = new Date();
            const dayOfWeek = today.getDay(); // Sonntag = 0, Montag = 1
            const monday = new Date(today);
            monday.setDate(today.getDate() - dayOfWeek + (dayOfWeek === 0 ? -6 : 1)); // Montag berechnen
            const sunday = new Date(monday);
            sunday.setDate(monday.getDate() + 6); // Sonntag berechnen

            const monate = [
                "JANUAR", "FEBRUAR", "MÄRZ", "APRIL", "MAI", "JUNI", 
                "JULI", "AUGUST", "SEPTEMBER", "OKTOBER", "NOVEMBER", "DEZEMBER"
            ];

            const formatDate = (date) => `${String(date.getDate()).padStart(2, '0')}.${monate[date.getMonth()]}`;
            
            const angebotText = `EINMALIGES ${monate[monday.getMonth()]}-ANGEBOT VON ${formatDate(monday)} BIS ${formatDate(sunday)}`;
            document.getElementById('angebot-text').innerText = angebotText;
        })();
    </script>
</body>
</html>
    </div>
    </div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_FUNNEL_PAGE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gDCiG5X608 gp-cursor-pointer gp-custom-code">
      <div>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "q5ud1tat60");
</script>
    </div>
    </div>
  
      <style id="custom-css-gDCiG5X608">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}

      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-550254854895830051 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=534930085216518969&sectionId=550254854895830051)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  