
    
    <style>.gps-587558868876264106 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-587558868876264106 .gp-relative{position:relative}.gps-587558868876264106 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-587558868876264106 .gp-mb-0{margin-bottom:0}.gps-587558868876264106 .gp-flex{display:flex}.gps-587558868876264106 .gp-inline-flex{display:inline-flex}.gps-587558868876264106 .gp-grid{display:grid}.gps-587558868876264106 .\!gp-hidden{display:none!important}.gps-587558868876264106 .gp-hidden{display:none}.gps-587558868876264106 .gp-h-full{height:100%}.gps-587558868876264106 .gp-max-w-full{max-width:100%}.gps-587558868876264106 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-587558868876264106 .gp-flex-col{flex-direction:column}.gps-587558868876264106 .gp-items-center{align-items:center}.gps-587558868876264106 .gp-justify-center{justify-content:center}.gps-587558868876264106 .gp-overflow-hidden{overflow:hidden}.gps-587558868876264106 .gp-break-words{overflow-wrap:break-word}.gps-587558868876264106 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-587558868876264106 .gp-no-underline{text-decoration-line:none}.gps-587558868876264106 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587558868876264106 .gp-duration-200{transition-duration:.2s}.gps-587558868876264106 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-587558868876264106 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-587558868876264106 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-587558868876264106 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-587558868876264106 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-587558868876264106 .tablet\:\!gp-hidden{display:none!important}.gps-587558868876264106 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-587558868876264106 .mobile\:\!gp-hidden{display:none!important}.gps-587558868876264106 .mobile\:gp-hidden{display:none}}.gps-587558868876264106 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-587558868876264106 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(60% + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(89% + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gXvAtybmTN"}' data-id="gXvAtybmTN" id="gXvAtybmTN" data-same-height-subgrid-container class="gXvAtybmTN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:60%;--w-mobile:89%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVAde1gvBr gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g34xJMqxMC"
        class="g34xJMqxMC"
        style="--ta:left;--mb:var(--g-s-l);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759754817800"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:22px;--size-tablet:16px;--size-mobile:20px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg34xJMqxMC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="g0zDmwoBSO"].gp-button-base::before, [data-id="g0zDmwoBSO-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="g0zDmwoBSO"]:hover::before, [data-id="g0zDmwoBSO-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g0zDmwoBSO" dataId="g0zDmwoBSO" data-state="idle" aria-label="<p>Jetzt bis zu 44% Sonder-Rabatt sichern!</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:90%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--bgi:;--hvr-bgi:;--bg:#E4893A;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--size:20px;--size-tablet:16px;--size-mobile:18px;--weight:bold"
          class="g0zDmwoBSO gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:20px;--size-tablet:16px;--size-mobile:18px;--weight:bold;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg0zDmwoBSO_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-587558868876264106 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=586856880010166841&sectionId=587558868876264106)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg34xJMqxMC_text","label":"gg34xJMqxMC_text","default":"<p><strong>JETZT das 3er-Sparpaket sichern und Giardien-Rückfällen ein Ende setzen!</strong></p>"},{"type":"html","id":"gg0zDmwoBSO_label","label":"gg0zDmwoBSO_label","default":"<p>Jetzt bis zu 44% Sonder-Rabatt sichern!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  