

<style>.gps-555334645609137232 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-555334645609137232 .gp-relative{position:relative}.gps-555334645609137232 .gp-z-1{z-index:1}.gps-555334645609137232 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555334645609137232 .gp-mb-0{margin-bottom:0}.gps-555334645609137232 .gp-flex{display:flex}.gps-555334645609137232 .gp-inline-flex{display:inline-flex}.gps-555334645609137232 .gp-grid{display:grid}.gps-555334645609137232 .\!gp-hidden{display:none!important}.gps-555334645609137232 .gp-hidden{display:none}.gps-555334645609137232 .gp-h-full{height:100%}.gps-555334645609137232 .gp-max-w-full{max-width:100%}.gps-555334645609137232 .gp-flex-col{flex-direction:column}.gps-555334645609137232 .gp-items-center{align-items:center}.gps-555334645609137232 .gp-justify-center{justify-content:center}.gps-555334645609137232 .gp-gap-y-0{row-gap:0}.gps-555334645609137232 .gp-overflow-hidden{overflow:hidden}.gps-555334645609137232 .gp-break-words{overflow-wrap:break-word}.gps-555334645609137232 .gp-rounded-none{border-radius:0}.gps-555334645609137232 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-555334645609137232 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-555334645609137232 .gp-no-underline{text-decoration-line:none}.gps-555334645609137232 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555334645609137232 .gp-duration-200{transition-duration:.2s}.gps-555334645609137232 .gp-duration-300{transition-duration:.3s}.gps-555334645609137232 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555334645609137232 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-555334645609137232 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-555334645609137232 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-555334645609137232 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-555334645609137232 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-555334645609137232 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-555334645609137232 .tablet\:\!gp-hidden{display:none!important}.gps-555334645609137232 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-555334645609137232 .mobile\:\!gp-hidden{display:none!important}.gps-555334645609137232 .mobile\:gp-hidden{display:none}}.gps-555334645609137232 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555334645609137232 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gLNY4cvroZ" data-id="gLNY4cvroZ"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLNY4cvroZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gJBs_tW7QD gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--shadow:none;--op:100%;--ta:center"
    
  >
    <style>
    .gH1dn-Io7H.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gH1dn-Io7H:hover::before {
      
      
    }

    .gH1dn-Io7H:hover .gp-button-icon {
      color: undefined;
    }

     .gH1dn-Io7H .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gH1dn-Io7H:hover .gp-button-price {
      color: undefined;
    }

    .gH1dn-Io7H .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gH1dn-Io7H .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gH1dn-Io7H:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gH1dn-Io7H" aria-label="<p>JETZT ZUM ANGEBOT</p>"
      
      data-state="idle"
      class="gH1dn-Io7H gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3);--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggH1dn-Io7H_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-555334645609137232 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554511797822948212&sectionId=555334645609137232)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggH1dn-Io7H_label","label":"ggH1dn-Io7H_label","default":"<p>JETZT ZUM ANGEBOT</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
