

<style>.gps-554511797941306228 .gp-relative{position:relative}.gps-554511797941306228 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-554511797941306228 .gp-mb-0{margin-bottom:0}.gps-554511797941306228 .gp-flex{display:flex}.gps-554511797941306228 .gp-grid{display:grid}.gps-554511797941306228 .\!gp-hidden{display:none!important}.gps-554511797941306228 .gp-hidden{display:none}.gps-554511797941306228 .gp-max-w-full{max-width:100%}.gps-554511797941306228 .gp-flex-col{flex-direction:column}.gps-554511797941306228 .gp-gap-y-0{row-gap:0}.gps-554511797941306228 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-554511797941306228 .gp-duration-200{transition-duration:.2s}.gps-554511797941306228 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-554511797941306228 .tablet\:\!gp-hidden{display:none!important}.gps-554511797941306228 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-554511797941306228 .mobile\:\!gp-hidden{display:none!important}.gps-554511797941306228 .mobile\:gp-hidden{display:none}}.gps-554511797941306228 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gitGewezjf" data-id="gitGewezjf"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gitGewezjf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtrYbguGCL gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gGt7Nsrdoi "
    ><div><!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monatliches Angebot mit Timer</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .angebot-banner-wrapper {
            position: relative;
        }

        .angebot-banner {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 0;
            text-align: center;
            background: linear-gradient(to right, #FBE9EB, #F9F3E5);
            color: #880E4F;
            font-family: Arial, sans-serif;
            z-index: 10;
            box-sizing: border-box;
        }

        .angebot-banner h1 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0 auto;
            line-height: 1.5;
            max-width: 85%;
            text-transform: uppercase;
        }

        .angebot-banner p {
            font-size: 1rem;
            margin-top: 10px;
            font-style: italic;
        }

        .countdown-timer {
            font-size: 1.5rem;
            font-weight: bold;
            color: #D32F2F;
            margin-top: 10px;
            background-color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            border: 2px solid #D32F2F;
        }

        /* Mobiles Styling */
        @media (max-width: 600px) {
            .angebot-banner h1 {
                font-size: 1.3rem;
                max-width: 90%;
                line-height: 1.4;
            }
            .angebot-banner-wrapper::before {
                content: '';
                display: block;
                height: 4px;
                background-color: #D32F2F;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="angebot-banner-wrapper">
        <div class="angebot-banner">
            <h1 id="angebot-text">EINMALIGES ANGEBOT</h1>
            <p>*NUR SOLANGE DER VORRAT REICHT</p>
            <div id="countdown" class="countdown-timer"></div>
        </div>
    </div>

    <script>
        (function() {
            const today = new Date();
            const dayOfWeek = today.getDay();
            const monday = new Date(today);
            monday.setDate(today.getDate() - dayOfWeek + (dayOfWeek === 0 ? -6 : 1));
            const sunday = new Date(monday);
            sunday.setDate(monday.getDate() + 6);

            const monate = ["JANUAR", "FEBRUAR", "MÄRZ", "APRIL", "MAI", "JUNI", "JULI", "AUGUST", "SEPTEMBER", "OKTOBER", "NOVEMBER", "DEZEMBER"];

            const formatDate = (date) => `${String(date.getDate()).padStart(2, '0')}.${monate[date.getMonth()]}`;

            const angebotText = `EINMALIGES ${monate[monday.getMonth()]}-ANGEBOT VON ${formatDate(monday)} BIS ${formatDate(sunday)}`;
            document.getElementById('angebot-text').innerText = angebotText;

            // Countdown Timer - Fixe Startwerte
            const countdownElement = document.getElementById('countdown');
            const targetTime = new Date();
            targetTime.setDate(targetTime.getDate() + 1);
            targetTime.setHours(15, 51, 48, 0);

            function updateCountdown() {
                const now = new Date().getTime();
                const distance = targetTime - now;

                if (distance <= 0) {
                    countdownElement.innerText = 'Angebot abgelaufen';
                    return;
                }

                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                countdownElement.innerText = `${String(days).padStart(2, '0')}-TAGE ${String(hours).padStart(2, '0')}-STUNDEN ${String(minutes).padStart(2, '0')}-MINUTEN ${String(seconds).padStart(2, '0')}-SEKUNDEN`;
            }

            updateCountdown();
            setInterval(updateCountdown, 1000);
        })();
    </script>
</body>
</html></div></div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gcLRATmg4I "
    ><div><script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "q5ud1tat60");
</script></div></div>
  
      <style id="custom-css-gcLRATmg4I">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}

      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-554511797941306228 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=554511797822948212&sectionId=554511797941306228)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
