
    
    <style>.gps-591143666534318760 .gp-relative{position:relative}.gps-591143666534318760 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591143666534318760 .gp-mb-0{margin-bottom:0}.gps-591143666534318760 .gp-inline-block{display:inline-block}.gps-591143666534318760 .gp-flex{display:flex}.gps-591143666534318760 .gp-grid{display:grid}.gps-591143666534318760 .gp-contents{display:contents}.gps-591143666534318760 .\!gp-hidden{display:none!important}.gps-591143666534318760 .gp-hidden{display:none}.gps-591143666534318760 .gp-h-auto{height:auto}.gps-591143666534318760 .gp-h-full{height:100%}.gps-591143666534318760 .gp-w-full{width:100%}.gps-591143666534318760 .gp-max-w-full{max-width:100%}.gps-591143666534318760 .gp-flex-none{flex:none}.gps-591143666534318760 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591143666534318760 .gp-flex-col{flex-direction:column}.gps-591143666534318760 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591143666534318760 .gp-duration-200{transition-duration:.2s}.gps-591143666534318760 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-591143666534318760 .tablet\:\!gp-hidden{display:none!important}.gps-591143666534318760 .tablet\:gp-hidden{display:none}.gps-591143666534318760 .tablet\:gp-h-auto{height:auto}.gps-591143666534318760 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-591143666534318760 .mobile\:\!gp-hidden{display:none!important}.gps-591143666534318760 .mobile\:gp-hidden{display:none}.gps-591143666534318760 .mobile\:gp-h-auto{height:auto}.gps-591143666534318760 .mobile\:gp-flex-none{flex:none}}.gps-591143666534318760 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EDE3F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gPC7Vmh4o8"}' data-id="gPC7Vmh4o8" id="gPC7Vmh4o8" data-same-height-subgrid-container class="gPC7Vmh4o8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:20px;--pt:20px;--pl:0px;--pb:20px;--pr:0px;--mt-tablet:0px;--mb-tablet:20px;--pt-tablet:20px;--pl-tablet:0px;--pb-tablet:20px;--pr-tablet:0px;--mt-mobile:0px;--mb-mobile:20px;--pt-mobile:20px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDE3F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGMfuth6xi gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g_aCIJ-1mh"}' data-id="g_aCIJ-1mh" id="g_aCIJ-1mh" data-same-height-subgrid-container class="g_aCIJ-1mh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:20px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="g1PX1zDlG3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJlSO-Wieb"
        class="gJlSO-Wieb"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pl:0px;--mb-mobile:14px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762410253095"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:451%;--w-tablet:451%;--w-mobile:451%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:31px;--size-tablet:28px;--size-mobile:26px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJlSO-Wieb_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjFri5-Q5v"
        class="gjFri5-Q5v"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:14px;--pl:0px;--pl-mobile:0px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762410253096"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjFri5-Q5v_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="gDnE8GSVoD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gPfSu8TKAp"}' data-id="gPfSu8TKAp" id="gPfSu8TKAp" data-same-height-subgrid-container class="gPfSu8TKAp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gTNgCSCDXG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="geEuIEduzs"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762410253099 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto geEuIEduzs"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/OP_Creatives_13_16bc046a-9acf-4b20-ade7-e0f9a7dd924f_1024x.png" srcset="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/OP_Creatives_13_16bc046a-9acf-4b20-ade7-e0f9a7dd924f_1024x.png" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/OP_Creatives_13_16bc046a-9acf-4b20-ade7-e0f9a7dd924f_1024x.png" srcset="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/OP_Creatives_13_16bc046a-9acf-4b20-ade7-e0f9a7dd924f_1024x.png" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/OP_Creatives_13_16bc046a-9acf-4b20-ade7-e0f9a7dd924f.png" data-src="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/OP_Creatives_13_16bc046a-9acf-4b20-ade7-e0f9a7dd924f.png"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:custom"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-geEuIEduzs">
        .geEuIEduzs {

}
.geEuIEduzs > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-591143666534318760 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591140696849646248&sectionId=591143666534318760)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJlSO-Wieb_text","label":"ggJlSO-Wieb_text","default":"<strong>Grund 4: Alles drin, was du brauchst – Drops, Saft &amp; Schritt-für-Schritt-Guide</strong>"},{"type":"html","id":"ggjFri5-Q5v_text","label":"ggjFri5-Q5v_text","default":"<p>Das Chillout-Bundle ist deine <strong>komplette Silvesterlösung</strong>: Die Chillout-Drops bilden die Basis, während der gratis Chillout-Saft als natürlicher Wirkungsbooster am Abend wirkt.</p><p>&nbsp;</p><p>Dazu bekommst du den <strong>Chillout-Guide kostenlos</strong> – mit einem klaren Fahrplan, wie du deinen Hund Schritt für Schritt optimal vorbereitest und Silvester ruhig meisterst.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  