

<style>.gps-553471520186303408 .\!gp-pointer-events-none{pointer-events:none!important}.gps-553471520186303408 .gp-relative{position:relative}.gps-553471520186303408 .gp-sticky{position:sticky}.gps-553471520186303408 .gp-flex{display:flex}.gps-553471520186303408 .\!gp-hidden{display:none!important}.gps-553471520186303408 .gp-hidden{display:none}.gps-553471520186303408 .gp-flex-col{flex-direction:column}@media (max-width:1024px){.gps-553471520186303408 .tablet\:\!gp-hidden{display:none!important}.gps-553471520186303408 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-553471520186303408 .mobile\:\!gp-hidden{display:none!important}.gps-553471520186303408 .mobile\:gp-hidden{display:none}}.gps-553471520186303408 .\[\&_gp-button_a\]\:\!gp-pointer-events-auto gp-button a{pointer-events:auto!important}</style>

    
    <gp-sticky
    data-id="gq5D2cyvHb"
      gp-data='{"uid":"gq5D2cyvHb","setting":{"display":{"desktop":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gq5D2cyvHb"
      data-id="gq5D2cyvHb"
      class="gq5D2cyvHb {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}  !gp-pointer-events-none [&_gp-button_a]:!gp-pointer-events-auto"
      style="margin:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:none;--d-tablet:none;--op:100%;--op-mobile:100%;--mb:0px;--pb:0px;--w:96%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--top:auto;--bottom:0;--pos:fixed;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);z-index:100000"
    >
      <div >
        <div
      enableLazyloadImage="true"
      
      class="gpr0p5y55O gp-relative gp-flex gp-flex-col"
    >
      
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-sticky.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-553471520186303408 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=553471511378265250&sectionId=553471520186303408)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
