

<style>.gps-558511137152500840 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-558511137152500840 .gp-relative{position:relative}.gps-558511137152500840 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558511137152500840 .gp-mb-0{margin-bottom:0}.gps-558511137152500840 .gp-flex{display:flex}.gps-558511137152500840 .gp-grid{display:grid}.gps-558511137152500840 .\!gp-hidden{display:none!important}.gps-558511137152500840 .gp-hidden{display:none}.gps-558511137152500840 .gp-max-w-full{max-width:100%}.gps-558511137152500840 .gp-flex-col{flex-direction:column}.gps-558511137152500840 .gp-gap-y-0{row-gap:0}.gps-558511137152500840 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558511137152500840 .gp-duration-200{transition-duration:.2s}.gps-558511137152500840 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558511137152500840 .tablet\:\!gp-hidden{display:none!important}.gps-558511137152500840 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558511137152500840 .mobile\:\!gp-hidden{display:none!important}.gps-558511137152500840 .mobile\:gp-hidden{display:none}}.gps-558511137152500840 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558511137152500840 .\[\&_p\]\:gp-inline p{display:inline}.gps-558511137152500840 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558511137152500840 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gitGewezjf" data-id="gitGewezjf"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gitGewezjf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gtrYbguGCL gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gGt7Nsrdoi "
    ><div></div></div>
  
      <style id="custom-css-gGt7Nsrdoi">
        /* Versteckt den Cookie-Banner */
#CybotCookiebotDialog {
    display: none !important;
}

@media (min-width: 768px) {
    .menu-container {
        display: none !important;
    }
}
      </style>
    
      <script id="custom-js-gGt7Nsrdoi">
        try {
          


        } catch(err){}
      </script>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gcLRATmg4I "
    ><div><script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "qujbo31v1b");
</script></div></div>
  
      <style id="custom-css-gcLRATmg4I">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}

      </style>
    
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g0YP7qEvSv "
    ><div></div></div>
  
      <style id="custom-css-g0YP7qEvSv">
        /* Stellt sicher, dass das gesamte Div klickbar ist */
.sticky-button-desktop {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    min-width: 280px;
}

/* Stellt sicher, dass das Button-Element die gesamte Fläche nutzt */
.sticky-button-desktop button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stellt sicher, dass der Text vertikal zentriert ist */
.sticky-button-desktop span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: normal; /* Verhindert komisches Spacing */
}


.sticky-button-mobile {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw; /* Statt 90%, damit es sich auf den Viewport bezieht */
    max-width: 400px; /* Optional, falls es auf größeren Screens zu breit wird */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    box-sizing: border-box; /* Damit Padding nicht die Breite beeinflusst */
    padding: 8px 24px;
}

.sticky-button-mobile p {
    margin: 0; /* Verhindert zusätzlichen Abstand */
    text-align: center;
}

.sticky-button-mobile {
    display: flex;
    align-items: center;  /* Zentriert den Text vertikal */
    justify-content: center;  /* Zentriert den Text horizontal */
    width: 100%;  /* Damit er wirklich über die gesamte Breite geht */
    height: 40px;  /* Falls das nicht klappt, auf 50px erhöhen und testen */
}

.sticky-button-desktop,
.sticky-button-mobile {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.sticky-button-desktop.visible,
.sticky-button-mobile.visible {
    opacity: 1;
    visibility: visible;
}




      </style>
    
      <script id="custom-js-g0YP7qEvSv">
        try {
          document.addEventListener("DOMContentLoaded", function() {
    let desktopButton = document.querySelector(".sticky-button-desktop");
    let mobileButton = document.querySelector(".sticky-button-mobile");
    let scrollThreshold = 8000; // Höhe in Pixeln, ab der der Button erscheinen soll

    function toggleButtonVisibility() {
        if (window.scrollY > scrollThreshold) {
            if (desktopButton) desktopButton.classList.add("visible");
            if (mobileButton) mobileButton.classList.add("visible");
        } else {
            if (desktopButton) desktopButton.classList.remove("visible");
            if (mobileButton) mobileButton.classList.remove("visible");
        }
    }

    window.addEventListener("scroll", toggleButtonVisibility);
});

        } catch(err){}
      </script>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRpDzObvFZ">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gRpDzObvFZ "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:26px;--size-tablet:16px;--size-mobile:18px;--weight:bold;--c:#0a0a0a;word-break:break-word;--bgc:rgba(243, 68, 28, 0.66);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRpDzObvFZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-558511137152500840 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=558511137033815144&sectionId=558511137152500840)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRpDzObvFZ_text","label":"ggRpDzObvFZ_text","default":"<p><span style=\"font-size:24px;\"><strong>Blitz-Angebot für Neukunden -25% sparen</strong>&nbsp;</span></p><p>(Nur für kurze Zeit)</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
