
    
    <style>@import url('https://fonts.googleapis.com/css?family=sans-serif:400&display=swap');.gps-571452183657383064 .gp-relative{position:relative}.gps-571452183657383064 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-571452183657383064 .gp-mb-0{margin-bottom:0}.gps-571452183657383064 .gp-flex{display:flex}.gps-571452183657383064 .gp-inline-flex{display:inline-flex}.gps-571452183657383064 .gp-grid{display:grid}.gps-571452183657383064 .\!gp-hidden{display:none!important}.gps-571452183657383064 .gp-hidden{display:none}.gps-571452183657383064 .gp-h-full{height:100%}.gps-571452183657383064 .gp-max-w-full{max-width:100%}.gps-571452183657383064 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-571452183657383064 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-571452183657383064 .gp-flex-col{flex-direction:column}.gps-571452183657383064 .gp-items-center{align-items:center}.gps-571452183657383064 .gp-justify-center{justify-content:center}.gps-571452183657383064 .gp-overflow-hidden{overflow:hidden}.gps-571452183657383064 .gp-break-words{overflow-wrap:break-word}.gps-571452183657383064 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-571452183657383064 .gp-no-underline{text-decoration-line:none}.gps-571452183657383064 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-571452183657383064 .gp-duration-200{transition-duration:.2s}.gps-571452183657383064 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-571452183657383064 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-571452183657383064 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-571452183657383064 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-571452183657383064 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-571452183657383064 .tablet\:\!gp-hidden{display:none!important}.gps-571452183657383064 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-571452183657383064 .mobile\:\!gp-hidden{display:none!important}.gps-571452183657383064 .mobile\:gp-hidden{display:none}}.gps-571452183657383064 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-571452183657383064 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbf_I9LoQu"}' data-id="gbf_I9LoQu" id="gbf_I9LoQu" data-same-height-subgrid-container class="gbf_I9LoQu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaRkW27Bpt gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:0px;--pt:0px;--ta:center" class=" sticky-button-mobile">
        <style>[data-id="gkITa4UKFe"].gp-button-base::before, [data-id="gkITa4UKFe-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
  
    }
  
      
  [data-id="gkITa4UKFe"]:hover::before, [data-id="gkITa4UKFe-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gkITa4UKFe" dataId="gkITa4UKFe" data-state="idle" aria-label="<p>JETZT SONDER-RABATT NUTZEN</p>"
          
          type="button"
          style="--w:80%;--w-tablet:80%;--w-mobile:90%;--h:40px;--h-tablet:40px;--h-mobile:30px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#121212;--bg:var(--g-c-brand, brand);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:25px;--size-mobile:14px;--lh:default;--lh-tablet:130%;--lh-mobile:150%;--weight:bold"
          class="gkITa4UKFe gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:20px;--size-tablet:25px;--size-mobile:14px;--lh:default;--lh-tablet:130%;--lh-mobile:150%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggkITa4UKFe_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 24",
    "tag": "section",
    "class": "gps-571452183657383064 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=571452183355065496&sectionId=571452183657383064)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggkITa4UKFe_label","label":"ggkITa4UKFe_label","default":"<p>JETZT SONDER-RABATT NUTZEN</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  