
    
    <style>.gps-582639216270246744 .gp-relative{position:relative}.gps-582639216270246744 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582639216270246744 .gp-mb-0{margin-bottom:0}.gps-582639216270246744 .gp-flex{display:flex}.gps-582639216270246744 .gp-grid{display:grid}.gps-582639216270246744 .\!gp-hidden{display:none!important}.gps-582639216270246744 .gp-hidden{display:none}.gps-582639216270246744 .gp-max-w-full{max-width:100%}.gps-582639216270246744 .gp-cursor-pointer{cursor:pointer}.gps-582639216270246744 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582639216270246744 .gp-flex-col{flex-direction:column}.gps-582639216270246744 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582639216270246744 .gp-duration-200{transition-duration:.2s}.gps-582639216270246744 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582639216270246744 .tablet\:\!gp-hidden{display:none!important}.gps-582639216270246744 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582639216270246744 .mobile\:\!gp-hidden{display:none!important}.gps-582639216270246744 .mobile\:gp-hidden{display:none}}.gps-582639216270246744 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(900px + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gqg1zit3EF"}' data-id="gqg1zit3EF" id="gqg1zit3EF" data-same-height-subgrid-container class="gqg1zit3EF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:900px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMeqFSX3T- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"giYm9m2v4m"}' data-id="giYm9m2v4m" id="giYm9m2v4m" data-same-height-subgrid-container class="giYm9m2v4m gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gA0ah38I-k gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:6px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:6px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:10px;--ta:center;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gmPJvhAFIq gp-cursor-pointer gp-custom-code">
      <div>
    <!-- Einf체gen oberhalb jeder Offer-Kachel -->
<div class="angebot-row-text">
  <span class="angebot-title"></span><span class="angebot-asterisk">*</span><br>
  <span class="angebot-sub">*Nur solange der Vorrat reicht</span>
</div>

<style>
  .angebot-row-text{
    font-size:22px;font-weight:700;text-align:center;line-height:1.3;
    color:#0f1f1c;margin:12px 0 10px;
  }
  .angebot-row-text .angebot-title{
    background:#f7961e;color:#0f1f1c;padding:6px 12px;border-radius:8px;
    display:inline-block;
  }
  .angebot-row-text .angebot-sub{
    font-size:14px;font-weight:400;color:#5b6f6b;
  }
  .angebot-row-text .angebot-asterisk{display:none;} /* Stern nur optisch, Inhalt steht in .angebot-sub */
</style>

<script>
(function(){
  const monate = ["Januar","Februar","M채rz","April","Mai","Juni","Juli",
                  "August","September","Oktober","November","Dezember"];
  const text = `Limitiertes ${monate[new Date().getMonth()]} Angebot`;

  function apply(){
    document.querySelectorAll('.angebot-title').forEach(el => { el.textContent = text; });
  }

  // initial + wenn Shopify dynamisch nachl채dt
  if (document.readyState === 'loading'){
    document.addEventListener('DOMContentLoaded', apply);
  } else { apply(); }

  // falls Sektionen sp채ter ins DOM kommen (Slides/Accordions)
  new MutationObserver(apply).observe(document.body, {childList:true, subtree:true});
})();
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-582639216270246744 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=579894360150114837&sectionId=582639216270246744)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  