

<style>.gps-550254854895830051 .gp-relative{position:relative}.gps-550254854895830051 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550254854895830051 .gp-mb-0{margin-bottom:0}.gps-550254854895830051 .gp-flex{display:flex}.gps-550254854895830051 .gp-grid{display:grid}.gps-550254854895830051 .\!gp-hidden{display:none!important}.gps-550254854895830051 .gp-hidden{display:none}.gps-550254854895830051 .gp-max-w-full{max-width:100%}.gps-550254854895830051 .gp-flex-col{flex-direction:column}.gps-550254854895830051 .gp-gap-y-0{row-gap:0}.gps-550254854895830051 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550254854895830051 .gp-duration-200{transition-duration:.2s}.gps-550254854895830051 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-550254854895830051 .tablet\:\!gp-hidden{display:none!important}.gps-550254854895830051 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-550254854895830051 .mobile\:\!gp-hidden{display:none!important}.gps-550254854895830051 .mobile\:gp-hidden{display:none}}.gps-550254854895830051 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gu0PYI1ADr" data-id="gu0PYI1ADr"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu0PYI1ADr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gczdamZdrD gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gK2dkmz7t0 "
    ><div><!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monatliches Angebot</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .angebot-banner {
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 0;
            text-align: center;
            background: linear-gradient(to right, #FBE9EB, #F9F3E5);
            color: #880E4F;
            font-family: Arial, sans-serif;
            z-index: 1;
            box-sizing: border-box;
        }

        .angebot-banner h1 {
            font-size: 1.5rem; /* Optimale Schriftgröße */
            font-weight: bold;
            margin: 0 auto;
            line-height: 1.5; /* Angemessene Zeilenhöhe */
            max-width: 85%; /* Maximale Breite begrenzen */
            white-space: normal; /* Zeilenumbrüche erlauben */
            word-wrap: break-word;
            word-break: break-word;
            text-transform: uppercase; /* Alles in Großbuchstaben */
        }

        .angebot-banner p {
            font-size: 1rem;
            margin-top: 10px;
            font-style: italic;
        }

        /* Mobile Version - Breakpoint */
        @media (max-width: 600px) {
            .angebot-banner h1 {
                font-size: 1.3rem; /* Kleinere Schriftgröße für mobile Geräte */
                max-width: 90%; /* Mehr Platz für Text */
                line-height: 1.4; /* Angenehme Lesbarkeit */
            }
        }
    </style>
</head>
<body>
    <!-- Banner -->
    <div class="angebot-banner">
        <h1 id="angebot-text">EINMALIGES DEZEMBER-ANGEBOT VON 16.12 BIS 22.12</h1>
        <p>*NUR SOLANGE DER VORRAT REICHT</p>
    </div>

    <!-- Skript für die Berechnung der Angebotsdauer -->
    <script>
        (function() {
            const today = new Date();
            const dayOfWeek = today.getDay(); // Sonntag = 0, Montag = 1
            const monday = new Date(today);
            monday.setDate(today.getDate() - dayOfWeek + (dayOfWeek === 0 ? -6 : 1)); // Montag berechnen
            const sunday = new Date(monday);
            sunday.setDate(monday.getDate() + 6); // Sonntag berechnen

            const monate = [
                "JANUAR", "FEBRUAR", "MÄRZ", "APRIL", "MAI", "JUNI", 
                "JULI", "AUGUST", "SEPTEMBER", "OKTOBER", "NOVEMBER", "DEZEMBER"
            ];

            const formatDate = (date) => `${String(date.getDate()).padStart(2, '0')}.${monate[date.getMonth()]}`;
            
            const angebotText = `EINMALIGES ${monate[monday.getMonth()]}-ANGEBOT VON ${formatDate(monday)} BIS ${formatDate(sunday)}`;
            document.getElementById('angebot-text').innerText = angebotText;
        })();
    </script>
</body>
</html></div></div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gDCiG5X608 "
    ><div></div></div>
  
      <style id="custom-css-gDCiG5X608">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-550254854895830051 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_FUNNEL_PAGE&editorId=534930085216518969&sectionId=550254854895830051)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
