
    
    <style>.gps-582637611378541169 .gp-relative{position:relative}.gps-582637611378541169 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582637611378541169 .gp-mb-0{margin-bottom:0}.gps-582637611378541169 .gp-flex{display:flex}.gps-582637611378541169 .gp-grid{display:grid}.gps-582637611378541169 .\!gp-hidden{display:none!important}.gps-582637611378541169 .gp-hidden{display:none}.gps-582637611378541169 .gp-max-w-full{max-width:100%}.gps-582637611378541169 .gp-cursor-pointer{cursor:pointer}.gps-582637611378541169 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582637611378541169 .gp-flex-col{flex-direction:column}.gps-582637611378541169 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582637611378541169 .gp-duration-200{transition-duration:.2s}.gps-582637611378541169 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582637611378541169 .tablet\:\!gp-hidden{display:none!important}.gps-582637611378541169 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582637611378541169 .mobile\:\!gp-hidden{display:none!important}.gps-582637611378541169 .mobile\:gp-hidden{display:none}}.gps-582637611378541169 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(900px + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gBpk4GUXEy"}' data-id="gBpk4GUXEy" id="gBpk4GUXEy" data-same-height-subgrid-container class="gBpk4GUXEy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:900px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7vuku4OvI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gVpBWEXuO_"}' data-id="gVpBWEXuO_" id="gVpBWEXuO_" data-same-height-subgrid-container class="gVpBWEXuO_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9G73ePNIS gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:6px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:6px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:10px;--ta:center;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gSzTAutrGY gp-cursor-pointer gp-custom-code">
      <div>
    <!-- ==== Limitiertes Monats-Angebot (Badge über den Offer-Kacheln) ==== -->
<div class="angebot-row-text style-b">
  <span class="angebot-title"></span>
  <br>
  <span class="angebot-sub">*Nur solange der Vorrat reicht</span>
</div>

<style>
  /* Basis-Styling (dezent, passend zur Tierliebhaber-Seite) */
  .angebot-row-text{
    font-size:20px;font-weight:700;text-align:center;line-height:1.35;
    color:#0f1f1c;margin:12px 0 6px;
  }
  .angebot-row-text .angebot-sub{
    font-size:14px;font-weight:400;color:#5b6f6b;margin-top:4px;display:inline-block;
  }

  /* STYLE B – Editorial Tag mit linker Akzentleiste (Empfehlung) */
  .angebot-row-text.style-b .angebot-title{
    display:inline-block;padding:6px 12px 6px 14px;border-radius:8px;
    background:#fff;border:1px solid #e9eceb;color:#0f1f1c;
    box-shadow:0 1px 2px rgba(0,0,0,.04);position:relative;
  }
  .angebot-row-text.style-b .angebot-title::before{
    content:"";position:absolute;left:-1px;top:6px;bottom:6px;width:4px;border-radius:4px;
    background:#f7961e;
  }

  /* Optional: Alternative Styles – bei Bedarf einfach style-a oder style-c an die Wrapper-Klasse hängen */
  .angebot-row-text.style-a .angebot-title{
    display:inline-block;padding:6px 12px;border-radius:999px;border:1px solid #f7961e;
    background:transparent;color:#0f1f1c;
  }
  .angebot-row-text.style-c .angebot-title{
    display:inline-block;padding:0 2px;border-bottom:3px solid #f7961e;color:#0f1f1c;
  }
</style>

<script>
  (function(){
    const monate=["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober","November","Dezember"];
    const text=`Limitiertes ${monate[new Date().getMonth()]} Angebot`;

    function fill(root=document){
      root.querySelectorAll('.angebot-title').forEach(el=>{
        if(!el.dataset.populated){
          el.textContent=text;
          el.dataset.populated='1';
        }
      });
    }
    if(document.readyState==='loading'){
      document.addEventListener('DOMContentLoaded',()=>fill());
    } else {
      fill();
    }
  })();
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-582637611378541169 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=579894360150114837&sectionId=582637611378541169)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  