

<style>@import url('https://fonts.googleapis.com/css?family=sans-serif:400&display=swap');.gps-575554809164202527 .gp-relative{position:relative}.gps-575554809164202527 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-575554809164202527 .gp-mb-0{margin-bottom:0}.gps-575554809164202527 .gp-flex{display:flex}.gps-575554809164202527 .gp-grid{display:grid}.gps-575554809164202527 .gp-contents{display:contents}.gps-575554809164202527 .\!gp-hidden{display:none!important}.gps-575554809164202527 .gp-hidden{display:none}.gps-575554809164202527 .gp-h-auto{height:auto}.gps-575554809164202527 .gp-h-full{height:100%}.gps-575554809164202527 .gp-w-full{width:100%}.gps-575554809164202527 .gp-max-w-full{max-width:100%}.gps-575554809164202527 .gp-flex-none{flex:none}.gps-575554809164202527 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-575554809164202527 .gp-flex-col{flex-direction:column}.gps-575554809164202527 .gp-gap-y-0{row-gap:0}.gps-575554809164202527 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-575554809164202527 .gp-duration-200{transition-duration:.2s}.gps-575554809164202527 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-575554809164202527 .tablet\:\!gp-hidden{display:none!important}.gps-575554809164202527 .tablet\:gp-hidden{display:none}.gps-575554809164202527 .tablet\:gp-h-auto{height:auto}.gps-575554809164202527 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-575554809164202527 .mobile\:\!gp-hidden{display:none!important}.gps-575554809164202527 .mobile\:gp-hidden{display:none}.gps-575554809164202527 .mobile\:gp-h-auto{height:auto}.gps-575554809164202527 .mobile\:gp-flex-none{flex:none}}.gps-575554809164202527 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-575554809164202527 .\[\&_p\]\:gp-inline p{display:inline}.gps-575554809164202527 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-575554809164202527 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gESk823yxE" data-id="gESk823yxE"
        style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#FDF9F4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gESk823yxE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g_AWP2-XCz gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gQCAs9n6Lx" data-id="gQCAs9n6Lx"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pt:32px;--pl:20px;--pb:32px;--pr:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:62px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#fdf9f4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gQCAs9n6Lx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guu2DsSNSy gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUj8_GRVs0">
    <div
      parentTag="Col"
        class="gUj8_GRVs0 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:30px;--pl:0px;--mb-mobile:20px;--pl-mobile:0px;--mb-tablet:16px;--pl-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:35px;--size-tablet:28px;--size-mobile:27px;--lh:120%;--lh-tablet:120%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUj8_GRVs0_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2YNBB4Hhw gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gnWmgcRRJ8"
    role="presentation"
    class="gp-group/image gnWmgcRRJ8 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:30px;--mb-mobile:21px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" srcset="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/gempages_534104955091420133-aaa0d3e6-50d1-4e12-a53b-e05e7bdb81e2_768x.png" />
      <source media="(max-width: 1024px)" srcset="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_534104955091420133-4e0b75e8-19a6-438a-a01d-21119fbd1292.png" | file_url }}"
        alt=""
        fetchpriority="high"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:contain;--objf-mobile:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:custom"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gnWmgcRRJ8">
        .gnWmgcRRJ8 {

}
.gnWmgcRRJ8 > figure > img {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvLiTdwJbo">
    <div
      parentTag="Col"
        class="gvLiTdwJbo "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:0px;--pl-mobile:0px;--pl-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--ls:normal;--size:22px;--size-tablet:16px;--size-mobile:18px;--lh:150%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;overflow:hidden"
        >{{ section.settings.ggvLiTdwJbo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-575554809164202527 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=575366317025002322&sectionId=575554809164202527)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUj8_GRVs0_text","label":"ggUj8_GRVs0_text","default":"<strong>1. Weil Mundgeruch fast immer eine Folge von Bakterien ist – nicht von Futterresten</strong>"},{"type":"html","id":"ggvLiTdwJbo_text","label":"ggvLiTdwJbo_text","default":"<p>Der Atem eines gesunden Hundes riecht neutral. Alles Andere ist ein Warnsignal, welches du ernst nehmen solltest.<br><br><strong>Fermentierte Kräuter </strong>wie Salbei, Kamille, Rosmarin und Thymian haben nachweislich antibakterielle Eigenschaften – sie neutralisieren Gerüche in der Mundhöhle, statt sie nur zu überdecken</p><p>&nbsp;</p><p><i>„So kann man die Mundflora natürlich ausbalancieren – ganz ohne Chemie.“</i></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
