
    
    <style>.gps-592037474696758193 .gp-relative{position:relative}.gps-592037474696758193 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-592037474696758193 .gp-mb-0{margin-bottom:0}.gps-592037474696758193 .gp-inline-block{display:inline-block}.gps-592037474696758193 .gp-flex{display:flex}.gps-592037474696758193 .gp-grid{display:grid}.gps-592037474696758193 .gp-contents{display:contents}.gps-592037474696758193 .\!gp-hidden{display:none!important}.gps-592037474696758193 .gp-hidden{display:none}.gps-592037474696758193 .gp-h-auto{height:auto}.gps-592037474696758193 .gp-h-full{height:100%}.gps-592037474696758193 .gp-w-full{width:100%}.gps-592037474696758193 .gp-max-w-full{max-width:100%}.gps-592037474696758193 .gp-flex-none{flex:none}.gps-592037474696758193 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-592037474696758193 .gp-flex-col{flex-direction:column}.gps-592037474696758193 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-592037474696758193 .gp-duration-200{transition-duration:.2s}.gps-592037474696758193 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-592037474696758193 .tablet\:\!gp-hidden{display:none!important}.gps-592037474696758193 .tablet\:gp-hidden{display:none}.gps-592037474696758193 .tablet\:gp-h-auto{height:auto}.gps-592037474696758193 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-592037474696758193 .mobile\:\!gp-hidden{display:none!important}.gps-592037474696758193 .mobile\:gp-hidden{display:none}.gps-592037474696758193 .mobile\:gp-h-auto{height:auto}.gps-592037474696758193 .mobile\:gp-flex-none{flex:none}}.gps-592037474696758193 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gb2RnDZO-4"}' data-id="gb2RnDZO-4" id="gb2RnDZO-4" data-same-height-subgrid-container class="gb2RnDZO-4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pl-mobile:15px;--pb-mobile:40px;--pr-mobile:15px;--pt-tablet:var(--g-s-3xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHL3h0qnzl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2kHg7imem"}' data-id="g2kHg7imem" id="g2kHg7imem" data-same-height-subgrid-container class="g2kHg7imem gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:800px;--w-tablet:800px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkvZknUTFZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4QMN42WL3"
        class="g4QMN42WL3"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762496796291"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4QMN42WL3_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gA6s3rRIm0"}' data-id="gA6s3rRIm0" id="gA6s3rRIm0" data-same-height-subgrid-container class="gA6s3rRIm0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:700px;--w-tablet:700px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLb3SHq1Nh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gBu-Zxk-7y"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:20px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1762496796294 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gBu-Zxk-7y"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0587/2746/5119/files/Hero_Images_2_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4MSIgaGVpZ2h0PSI3ODgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExODEtNzg4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTgxIiBoZWlnaHQ9Ijc4OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4MSIgaGVpZ2h0PSI3ODgiIGZpbGw9InVybCgjZy0xMTgxLTc4OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExODEiIHRvPSIxMTgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Hero_Images_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4MSIgaGVpZ2h0PSI3ODgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExODEtNzg4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTgxIiBoZWlnaHQ9Ijc4OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4MSIgaGVpZ2h0PSI3ODgiIGZpbGw9InVybCgjZy0xMTgxLTc4OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExODEiIHRvPSIxMTgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "Hero_Images_2.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE4MSIgaGVpZ2h0PSI3ODgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTExODEtNzg4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMTgxIiBoZWlnaHQ9Ijc4OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE4MSIgaGVpZ2h0PSI3ODgiIGZpbGw9InVybCgjZy0xMTgxLTc4OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTExODEiIHRvPSIxMTgxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Hero_Images_2.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"uid":"gganQrzcvy"}' data-id="gganQrzcvy" id="gganQrzcvy" data-same-height-subgrid-container class="gganQrzcvy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1170px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVfRjuGM4P gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gwKhMja61l gp-custom-code">
      <div>
    <style>
  .tl-vergleich-wrapper {
    max-width: 900px;
    margin: 40px auto 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }

  .tl-vergleich-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
  }

  .tl-vergleich-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #eee;
  }

  .tl-vergleich-col {
    padding: 18px 22px 20px;
  }

  .tl-vergleich-col--bad {
    background: #fff6f5;
  }

  .tl-vergleich-col--good {
    background: #f4fff7;
    border-left: 1px solid #eee;
  }

  .tl-vergleich-col h3 {
    margin: 0 0 12px;
    font-size: 18px;
  }

  .tl-vergleich-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 1.4;
  }

  .tl-vergleich-icon {
    font-size: 16px;
    font-weight: 700;
    margin-top: 1px;
  }

  .tl-vergleich-icon--bad {
    color: #d62828;
  }

  .tl-vergleich-icon--good {
    color: #2e9b4b;
  }

  @media (max-width: 768px) {
    .tl-vergleich-grid {
      grid-template-columns: 1fr;
    }
    .tl-vergleich-col--good {
      border-left: none;
      border-top: 1px solid #eee;
    }
  }
</style>

<div class="tl-vergleich-wrapper">
  <div class="tl-vergleich-title">
    Der Unterschied im Napf – auf einen Blick
  </div>

  <div class="tl-vergleich-grid">
    <!-- Konventionelles Nassfutter -->
    <div class="tl-vergleich-col tl-vergleich-col--bad">
      <h3>Viele herkömmliche Dosen</h3>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--bad">✗</span>
        <span>Künstliche Konservierungsstoffe wie <strong>BHA/BHT</strong></span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--bad">✗</span>
        <span>Verdickungsmittel wie <strong>Carrageen</strong></span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--bad">✗</span>
        <span>Pökelsalze / <strong>Natriumnitrit</strong> für „schönes“ rosa Fleisch</span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--bad">✗</span>
        <span>Zucker & billige Füllstoffe statt echter Qualität</span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--bad">✗</span>
        <span>Fleisch&nbsp;<strong>gemisch</strong> statt klarer Single-Protein-Quelle & unklarer Fleischanteil</span>
      </div>
    </div>

    <!-- Tierliebhaber Nassfutter -->
    <div class="tl-vergleich-col tl-vergleich-col--good">
      <h3>Tierliebhaber Nassfutter</h3>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--good">✔</span>
        <span><strong>Ohne</strong> künstliche Konservierungsstoffe (kein BHA/BHT)</span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--good">✔</span>
        <span><strong>Ohne Carrageen</strong> & unnötige Verdickungsmittel</span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--good">✔</span>
        <span><strong>Ohne Nitrit/Pökelsalze</strong></span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--good">✔</span>
        <span><strong>Kein zugesetzter Zucker</strong>, keine versteckten Füllstoffe</span>
      </div>

      <div class="tl-vergleich-item">
        <span class="tl-vergleich-icon tl-vergleich-icon--good">✔</span>
        <span>Klare Deklaration & <strong>Single-Protein-Sorten mit mindestens 90% Fleischanteil</strong> für sensible Hunde</span>
      </div>
    </div>
  </div>
</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-592037474696758193 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=592037474578990001&sectionId=592037474696758193)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4QMN42WL3_text","label":"gg4QMN42WL3_text","default":"<strong>Versteckte Zusatzstoffe im Napf: Warum herkömmliches Futter oft mehr schadet als hilft</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  