
    
    <style>.gps-588818533544034834 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-588818533544034834 .gp-relative{position:relative}.gps-588818533544034834 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-588818533544034834 .gp-mb-0{margin-bottom:0}.gps-588818533544034834 .gp-flex{display:flex}.gps-588818533544034834 .gp-grid{display:grid}.gps-588818533544034834 .\!gp-hidden{display:none!important}.gps-588818533544034834 .gp-hidden{display:none}.gps-588818533544034834 .gp-max-w-full{max-width:100%}.gps-588818533544034834 .gp-cursor-pointer{cursor:pointer}.gps-588818533544034834 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-588818533544034834 .gp-flex-col{flex-direction:column}.gps-588818533544034834 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-588818533544034834 .gp-duration-200{transition-duration:.2s}.gps-588818533544034834 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-588818533544034834 .tablet\:\!gp-hidden{display:none!important}.gps-588818533544034834 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-588818533544034834 .mobile\:\!gp-hidden{display:none!important}.gps-588818533544034834 .mobile\:gp-hidden{display:none}}.gps-588818533544034834 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(109, 57, 37, 0.8)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gnaVFdHj8t"}' data-id="gnaVFdHj8t" id="gnaVFdHj8t" data-same-height-subgrid-container class="gnaVFdHj8t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(109, 57, 37, 0.8);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="guxuGAMIm0 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gqu2nNV9bX gp-cursor-pointer gp-custom-code">
      <div>
    <style>
  @media screen and (max-width: 768px) {
    .responsive-cta {
      font-size: 16px !important;
      padding: 14px 28px !important;
    }
  }
</style>
    </div>
    </div>
  
      <style id="custom-css-gqu2nNV9bX">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}


      </style>
    
      <script id="custom-js-gqu2nNV9bX">
        try {
          document.addEventListener("DOMContentLoaded", function () {
  const floatingCTA = document.getElementById("floating-cta");

  function handleScroll() {
    const scrollDepth = window.scrollY / (document.body.scrollHeight - window.innerHeight);
    if (scrollDepth > 0.2) {
      floatingCTA.style.opacity = "1";
      floatingCTA.style.pointerEvents = "auto";
      floatingCTA.style.transform = "translateY(0)";
    } else {
      floatingCTA.style.opacity = "0";
      floatingCTA.style.pointerEvents = "none";
      floatingCTA.style.transform = "translateY(30px)";
    }
  }

  window.addEventListener("scroll", handleScroll);
});

// Smooth scroll zur richtigen Offer-Section
function scrollToOffer() {
  const isMobile = window.innerWidth <= 768;
  const target = isMobile
    ? document.querySelector(".offer-section2")
    : document.querySelector(".offer-section1");

  if (target) {
    target.scrollIntoView({ behavior: "smooth" });
  }
}

        } catch(err){}
      </script>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtIYvAPwvA"
        class="gtIYvAPwvA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:5px;--pt:5px;--mt-mobile:0px;--mb-mobile:6px;--pt-mobile:5px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760492925486"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:25px;--size-tablet:46px;--size-mobile:16px;--weight:bold;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtIYvAPwvA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-588818533544034834 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=588818533442388498&sectionId=588818533544034834)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggtIYvAPwvA_text","label":"ggtIYvAPwvA_text","default":"<strong>Jetzt bis zu 36% Neukunden Rabatt sichern!</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  