

<style>.gps-545917513167274867 .gp-relative{position:relative}.gps-545917513167274867 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-545917513167274867 .gp-mb-0{margin-bottom:0}.gps-545917513167274867 .gp-flex{display:flex}.gps-545917513167274867 .gp-grid{display:grid}.gps-545917513167274867 .\!gp-hidden{display:none!important}.gps-545917513167274867 .gp-hidden{display:none}.gps-545917513167274867 .gp-max-w-full{max-width:100%}.gps-545917513167274867 .gp-flex-col{flex-direction:column}.gps-545917513167274867 .gp-gap-y-0{row-gap:0}.gps-545917513167274867 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-545917513167274867 .gp-duration-200{transition-duration:.2s}.gps-545917513167274867 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-545917513167274867 .tablet\:\!gp-hidden{display:none!important}.gps-545917513167274867 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-545917513167274867 .mobile\:\!gp-hidden{display:none!important}.gps-545917513167274867 .mobile\:gp-hidden{display:none}}.gps-545917513167274867 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-545917513167274867 .\[\&_p\]\:gp-inline p{display:inline}.gps-545917513167274867 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-545917513167274867 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gVrs-1ZIF1" data-id="gVrs-1ZIF1"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:48px;--pl:20px;--pb:0px;--pr:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVrs-1ZIF1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDfnqSejuj gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gazaRNOfGL">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gazaRNOfGL "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:48px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggazaRNOfGL_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gazaRNOfGL">
        .gazaRNOfGL {

}
.gazaRNOfGL p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNI3u1almq">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNI3u1almq "
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:12px;--pb:12px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNI3u1almq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNI3u1almq">
        .gNI3u1almq {

}
.gNI3u1almq p {

}
      </style>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-545917513167274867 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=545917493101724531&sectionId=545917513167274867)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggazaRNOfGL_text","label":"ggazaRNOfGL_text","default":"<p>Privacy &amp; GDPR Disclosure: We value your privacy and are committed to transparency. While we may collect personal information for marketing purposes, we will always inform you of the reasons behind such collection. Additionally, please be aware that this website uses cookies for marketing purposes.<br>THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE. THE OWNERS OF THIS WEBSITE RECEIVE COMPENSATION FOR THE SALE OF SOCKSCOMPRESSION.<br>Marketing Disclosure: This website serves as a marketplace. It is important to note that the owner has a financial connection to the advertised products and services. The owner receives payment when a qualified lead is referred, but this is the extent of the relationship.</p>"},{"type":"html","id":"ggNI3u1almq_text","label":"ggNI3u1almq_text","default":"<p>Copyright © 2024 GemCommerce. All Rights Reserved.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
