
    
    
    <style>.gps-595097621379744444 .gp-relative{position:relative}.gps-595097621379744444 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-595097621379744444 .gp-mb-0{margin-bottom:0}.gps-595097621379744444 .gp-flex{display:flex}.gps-595097621379744444 .gp-grid{display:grid}.gps-595097621379744444 .\!gp-hidden{display:none!important}.gps-595097621379744444 .gp-hidden{display:none}.gps-595097621379744444 .gp-max-w-full{max-width:100%}.gps-595097621379744444 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-595097621379744444 .gp-flex-col{flex-direction:column}.gps-595097621379744444 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595097621379744444 .gp-duration-200{transition-duration:.2s}.gps-595097621379744444 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-595097621379744444 .tablet\:\!gp-hidden{display:none!important}.gps-595097621379744444 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-595097621379744444 .mobile\:\!gp-hidden{display:none!important}.gps-595097621379744444 .mobile\:gp-hidden{display:none}}.gps-595097621379744444 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDMirlEY-M"}' data-id="gDMirlEY-M" id="gDMirlEY-M" data-same-height-subgrid-container class="gDMirlEY-M gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQBCsA2X4q gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gX4OhKxo82 gp-custom-code">
      <div>
    <meta http-equiv="delegate-ch" content="sec-ch-ua https://auctiolinscideos.com; sec-ch-ua-mobile https://auctiolinscideos.com; sec-ch-ua-arch https://auctiolinscideos.com; sec-ch-ua-model https://auctiolinscideos.com; sec-ch-ua-platform https://auctiolinscideos.com; sec-ch-ua-platform-version https://auctiolinscideos.com; sec-ch-ua-bitness https://auctiolinscideos.com; sec-ch-ua-full-version-list https://auctiolinscideos.com; sec-ch-ua-full-version https://auctiolinscideos.com"><style>.dtpcnt{opacity: 0;}</style>
<script>
    (function(c,d,f,h,t,b,n,u,k,l,m,e,p,v,q){function r(a){var c=d.cookie.match(new RegExp("(^| )"+a+"=([^;]+)"));return c?c.pop():f.getItem(a+"-expires")&&+f.getItem(a+"-expires")>(new Date).getTime()?f.getItem(a):null}q="https:"===c.location.protocol?"secure; ":"";c[b]||(c[b]=function(a){c[b].state.callbackQueue.push(a)},c[b].state={callbackQueue:[]},c[b].registerConversion=function(a){c[b].state.callbackQueue.push(a)},function(){(m=/[?&]cpid(=([^&#]*)|&|#|$)/.exec(c.location.href))&&m[2]&&(e=m[2],
p=r("vl-"+e));var a=r("vl-cid"),b;"savedCid"!==u||!a||e&&"undefined"!==typeof e||(b=a);k=d.createElement("script");l=d.scripts[0];k.src=n+(-1===n.indexOf("?")?"?":"&")+"oref="+h(d.referrer)+"&ourl="+h(location[t])+"&opt="+h(d.title)+"&vtm="+(new Date).getTime()+(b?"&cid="+b:"")+(p?"&uw=no":"");l.parentNode.insertBefore(k,l);if(e){a="vl-"+e;b=q;var g=new Date;g.setTime(g.getTime()+864E5);d.cookie=a+"=1; "+b+"samesite=Strict; expires="+g.toGMTString()+"; path=/";f.setItem(a,"1");f.setItem(a+"-expires",
g.getTime())}}())})(window,document,localStorage,encodeURIComponent,"href","dtpCallback","https://auctiolinscideos.com/d/.js","savedCid");
</script>
<noscript><link href="https://auctiolinscideos.com/d/.js?noscript=true&ourl=" rel="stylesheet"/></noscript>
    </div>
    </div>
  
      <style id="custom-css-gX4OhKxo82">
        .needsclick.kl-private-reset-css-Xuajs1, #superchat-widget {
    display: none !important;
}
.needsclick.kl-private-reset-css-Xuajs1, 
#superchat-widget, 
button[aria-label="Open Smile.io Rewards Program"], 
button[style*="background-color:#F1AF9E"], 
div[id*="smile"], /* Falls Smile.io in einem div steckt */
iframe[src*="smile.io"] { /* Falls es sich um ein iFrame handelt */
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
    left: -9999px !important;
}

img[src="https://rdrct.li/media/ee0b9e08"] {
  display: none !important;
}

      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-595097621379744444 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=595097621178090172&sectionId=595097621379744444)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}