
    
    
    <style>.gps-581450632892908457 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-581450632892908457 .\!gp-pointer-events-none{pointer-events:none!important}.gps-581450632892908457 .gp-relative{position:relative}.gps-581450632892908457 .gp-sticky{position:sticky}.gps-581450632892908457 .gp-flex{display:flex}.gps-581450632892908457 .gp-inline-flex{display:inline-flex}.gps-581450632892908457 .\!gp-hidden{display:none!important}.gps-581450632892908457 .gp-hidden{display:none}.gps-581450632892908457 .gp-h-full{height:100%}.gps-581450632892908457 .gp-max-w-full{max-width:100%}.gps-581450632892908457 .gp-flex-col{flex-direction:column}.gps-581450632892908457 .gp-items-center{align-items:center}.gps-581450632892908457 .gp-justify-center{justify-content:center}.gps-581450632892908457 .gp-overflow-hidden{overflow:hidden}.gps-581450632892908457 .gp-break-words{overflow-wrap:break-word}.gps-581450632892908457 .gp-text-center{text-align:center}.gps-581450632892908457 .gp-no-underline{text-decoration-line:none}.gps-581450632892908457 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-581450632892908457 .gp-duration-200{transition-duration:.2s}.gps-581450632892908457 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-581450632892908457 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-581450632892908457 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-581450632892908457 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-581450632892908457 .tablet\:\!gp-hidden{display:none!important}.gps-581450632892908457 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-581450632892908457 .mobile\:\!gp-hidden{display:none!important}.gps-581450632892908457 .mobile\:gp-hidden{display:none}}.gps-581450632892908457 .\[\&_gp-button_button\]\:\!gp-pointer-events-auto gp-button button{pointer-events:auto!important}.gps-581450632892908457 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    
    <gp-sticky
    data-id="gSTUGKB7u8"
      gp-data='{"uid":"gSTUGKB7u8","setting":{"display":{"desktop":"after-first-cart-button","tablet":"after-first-cart-button","mobile":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gSTUGKB7u8"
      data-id="gSTUGKB7u8"
      class="sticky-wrapper !gp-pointer-events-none [&_gp-button_button]:!gp-pointer-events-auto gSTUGKB7u8 undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:none;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:none;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:none;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--bgc:rgba(66, 185, 159, 0.99);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gl1ujOb_N1 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://tierliebhaber.de/cart/53998580564236:1","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:15px;--pb:15px;--ta:center" >
        <style>[data-id="gfp497G729"].gp-button-base::before, [data-id="gfp497G729-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gfp497G729"]:hover::before, [data-id="gfp497G729-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gfp497G729" dataId="gfp497G729" data-state="idle" aria-label="<p><span style='font-size:23px;'><strong>Verf端gbarkeit pr端fen!</strong></span><br><span style='font-size:16px;'>Hier klicken &amp; 50% Rabatt sichern</span></p>"
          
          href="https://tierliebhaber.de/cart/53998580564236:1" target="_self"
          style="--w:500px;--w-tablet:500px;--w-mobile:340px;--h:80px;--h-tablet:80px;--h-mobile:80px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#F69C24;--c:#474747"
          class="gfp497G729 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggfp497G729_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-581450632892908457 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/tierliebhaber-animagus/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=581450632859222953&sectionId=581450632892908457)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfp497G729_label","label":"ggfp497G729_label","default":"<p><span style=\"font-size:23px;\"><strong>Verf端gbarkeit pr端fen!</strong></span><br><span style=\"font-size:16px;\">Hier klicken &amp; 50% Rabatt sichern</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}