.ProductItem__Wrapper[data-js-tlh-029="true"].ProductBadge__Bestseller {
    padding: 3px 3px 10px 3px;
    border-radius: 3px;
    border: 1px solid #D4AF37;
    background: linear-gradient(270deg, rgba(212, 175, 55, 0.15) 0%, rgba(212, 175, 55, 0.05) 100%);
    box-shadow: 0px -2px 0px 0px #DDC269 inset;
}

.ProductItem__Wrapper[data-js-tlh-029="true"].ProductBadge__Bestseller .ProductBadge {
    border-radius: 5px;
    border: 1px solid #D4AF37;
    background: rgba(212, 175, 55, 0.10);
    color: #D4AF37;
}