.Cart__Checkout.BS-Button--yellow,
.ProductForm__AddToCart.BS-Button--yellow,
.StickyATC__ATC.BS-Button--yellow {
    border-color: #F7CA00;
    color: #000000;
}

.Cart__Checkout.BS-Button--yellow::before,
.ProductForm__AddToCart.BS-Button--yellow::before,
.StickyATC__ATC.BS-Button--yellow::before {
    background-color: #F7CA00;
}