/* pdp anchor component */
[data-bs-tlh-060-anchor] {
    display: none;
}

[data-bs-tlh-060-anchor="true"] {
    display: flex;
}

.ProductMeta__PriceList:has(.bs-pdp-anchor[data-bs-tlh-060-anchor="true"]) {
    display: flex;
    align-items: center;
    gap: 21px;
    flex-wrap: wrap;
}

.bs-pdp-anchor {
    padding: 4px 10px;
    background: #ABCDBE;
    border-radius: 6px;
    align-items: center;
    width: max-content;
    font-size: 14px;
    line-height: 18px;
    gap: 5px;
    position: relative;
}

.bs-pdp-anchor:hover {
    cursor: pointer;
}

.bs-pdp-anchor svg:not(.triangle--green) {
    margin-left: 3px;
}

.bs-pdp-anchor .triangle--green {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(-90%) translateY(-50%);
}

/* pdp info component */
[data-bs-tlh-060-amount-info] {
    display: none;
}

[data-bs-tlh-060-amount-info="true"] {
    display: flex;
}

.bs-amount-info {
    align-items: center;
    gap: 4px;
    padding: 8px 0;
    font-size: 14px;
    line-height: 18px;
}

.bs-amount-info:hover {
    cursor: pointer;
}

/* popup component */
.bs-amount-calculator-popup__bg-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(68, 63, 63, 0.50);
    z-index: 20;
    padding: 16px;
}

.bs-amount-calculator-popup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    background: #F2F8F5;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    max-width: 595px;
    border: 1px solid #CCCCCC;
}

.bs-amount-calculator-popup__header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
}

.bs-amount-calculator-popup__title {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #525252;
}

.bs-amount-calculator-popup__main__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #1C1B1B;
    margin-bottom: 10px;
}

.bs-amount-calculator-popup__metrics-card {
    background: #ffff;
    padding: 8px 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bs-amount-calculator-popup__metrics-card__title {
    font-size: 12px;
    line-height: 15px;
    color: #525252;
    margin: 0;
}

.bs-amount-calculator-popup__metrics-card__daily-amount {
    font-size: 24px;
    line-height: 30px;
    color: #1C1B1B;
    font-weight: 500;
    margin-bottom: 5px;
}

.bs-amount-calculator-popup__metrics-card__value {
    color: #EBA896;
    font-weight: 700;
}

.bs-amount-calculator-popup__metrics-card__info {
    font-size: 12px;
    line-height: 15px;
    color: #525252;
}