#sidebar-cart .cartDrawer__cheering--b {
    display: none;
}

#sidebar-cart[data-tlh-024] .cartDrawer__cheering--a {
    display: none;
}

#sidebar-cart[data-tlh-024] .cartDrawer__cheering--b {
    display: block;
}

#sidebar-cart[data-tlh-024] .cartDrawer__cheering--b {
    background-color: #F3F8F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: #000000;
    margin-bottom: 10px;
}

#sidebar-cart[data-tlh-024] .cartDrawer__cheering--b .cartDrawer__cheering__title {
    font-size: 14px;
    font-weight: 600;
}

#sidebar-cart[data-tlh-024] .cartDrawer__cheering--b .cartDrawer__cheering__subtitle {
    font-size: 12px;
    font-weight: 400;
}

#sidebar-cart[data-tlh-024] .cartDrawer__cheering--b svg {
    width: 16px;
    height: 16px;
}

#sidebar-cart[data-tlh-024] .cartDrawer__cheering--b .cartDrawer__cheering__top {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
