.StickyATC__ATC {
    display: none !important;
}

.testimonials__wrapper:has(.testimonials[data-js-tlh-061]) {
	width: 100%;
	overflow: hidden;
}

.testimonials[data-js-tlh-061] {
    display: none;
    position: relative;
    padding: 30px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: #F5F5F5;
	margin: 0 24px;
	position: relative;
}

.testimonials[data-js-tlh-061]::before {
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
	background: #F5F5F5;
	width: 50vw;
	transform: translateX(-100%);
}

.testimonials[data-js-tlh-061]::after {
	content: '';
	right: 0;
	top: 0;
	height: 100%;
	position: absolute;
	background: #F5F5F5;
	width: 50vw;
	transform: translateX(100%);
}

.testimonials[data-js-tlh-061="true"] {
    display: flex;
}

.testimonials[data-js-tlh-061] .testimonials__heading {
    color: #1C1B1B;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
	margin: 0;
	text-align: center;
	width: 100%;
}

.testimonials[data-js-tlh-061] .testimonials__main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
    align-items: center;
}

.testimonials[data-js-tlh-061] .testimonials__list {
    width: 100%;
}

.testimonials[data-js-tlh-061] .testimonials__list-wrapper {
    width: 100%;
    max-width: 527px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.testimonials__rating-metric {
	padding: 10px 8px;
	background: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
}

.testimonials__rating-metric__header {
	display: flex;
	gap: 10px;
}

.testimonials__rating-metric__rating-bar {
	height: 7px;
	width: 100%;
	border-radius: 50px;
	background: #F5F5F5;
	margin-top: 10px;
}

.testimonials__rating-metric__header span:first-child {
	margin-right: auto;
}

.testimonials[data-js-tlh-061] .testimonials__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    padding: var(--mobile-section-left-right, 16px) 8px;
    height: max-content;
    width: clamp(150px, 11vw, 165px);
    margin-bottom: 10px;
    transition: all 300ms ease-out;
}

.testimonials[data-js-tlh-061] .testimonial__icon .jdgm-rev__icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.testimonials[data-js-tlh-061] .testimonial__icon .jdgm-rev__icon::after {
    content: none;
}

.testimonials[data-js-tlh-061] .testimonial__rating-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 16px;
}

.testimonials[data-js-tlh-061] .testimonial__time {
    font-size: 12px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.testimonials[data-js-tlh-061] .testimonial__author-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.testimonials[data-js-tlh-061] .testimonial__author {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.5px;
}

.testimonials[data-js-tlh-061] .testimonial__badge {
    color: #FFF;
    padding: 4px 6px;
    background: #1C1B1B;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.5px;
}

.testimonials[data-js-tlh-061] .testimonial__text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.5px;
    margin-top: 20px;
    text-align: center;
}

.testimonials[data-js-tlh-061] .testimonials__button.Button.Button--secondary {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    line-height: normal;
    text-transform: uppercase;
}

.testimonials[data-js-tlh-061] .testimonials__button--more.Button.Button--secondary {
    display: none;
}

@media (min-width: 768px) {
	.testimonials[data-js-tlh-061] {
        padding: 50px 0;
    }

    .testimonials[data-js-tlh-061] .testimonials__main {
        max-width: 1220px;
        padding: 0 40px;
        position: relative;
        margin: 0 auto;
    }
 
	.testimonials[data-js-tlh-061] .testimonials__list {
		/* gap: 15px; */
    }

    .testimonials[data-js-tlh-061] .testimonials__heading {
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .testimonials[data-js-tlh-061] .testimonial__icon .jdgm-rev__icon {
        width: 95px;
        height: 95px;
        line-height: 95px;
    }

    .testimonials[data-js-tlh-061] .testimonial__author {
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 23.76px
    }

    .testimonials[data-js-tlh-061] .testimonial__badge {
        font-size: 13.305px;
        font-style: normal;
        font-weight: 500;
        line-height: 16.632px;
    }

    .testimonials[data-js-tlh-061] .testimonial__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.5px;
        max-width: 260px;
    }

	.testimonials[data-js-tlh-061] .testimonials__button.Button.Button--secondary {
        max-width: 286px;
        margin: 30px auto 0;
        line-height: normal;
    }
}

@media (min-width: 1024px) {	
	.testimonials[data-js-tlh-061] .testimonials__main {
		flex-direction: row;
		gap: 48px;
        align-items: unset;
        justify-content: center;
    }

    .testimonials[data-js-tlh-061] .testimonials__button--more.Button.Button--secondary {
        display: block;
    }
}

@media (min-width: 1200px) {	
	/* .testimonials[data-js-tlh-061] .testimonials__list {
		 grid-template-columns: 1fr 1fr 1fr;
	} */
}
