div:has(> .bs-info-banner) {
    position: sticky;
    z-index: 5;
    top: 0;
}

.bs-info-banner {
    display: none;
    gap: 9px;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    background: #fff;
}

.bs-info-banner img {
    width: 11px;
    height: 11px;
}

.bs-info-banner__content * {
    font-size: 10px;
    line-height: 13px;
    color: #1C1B1B;
}

div:has(> .bs-info-banner[style="display: flex;"]) + #shopify-section-announcement {
    top: 21px;
}

div:has(> .bs-info-banner[style="display: flex;"]) ~ #shopify-section-header {
    top: 120px !important;
}

@media (min-width: 491px) {
    div:has(> .bs-info-banner[style="display: flex;"]) ~ #shopify-section-header {
        top: 105px !important;
    }
}

@media (min-width: 637px) {
    div:has(> .bs-info-banner[style="display: flex;"]) ~ #shopify-section-header {
        top: 90px !important;
    }
}

@media (min-width: 767px) {
    .bs-info-banner {
        gap: 10px;
        padding: 6px 32px;
    }
    
    .bs-info-banner img {
        width: 15px;
        height: 15px;
    }
    
    .bs-info-banner__content * {
        font-size: 18px;
        line-height: 23px;
    }

    div:has(> .bs-info-banner[style="display: flex;"]) + #shopify-section-announcement {
        top: 35px;
    }

    div:has(> .bs-info-banner[style="display: flex;"]) ~ #shopify-section-header {
        top: 95px !important;
    }
}

@media (min-width: 828px) {
    div:has(> .bs-info-banner[style="display: flex;"]) ~ #shopify-section-header {
        top: 89px !important;
    }
}

@media (min-width: 1023px) {
    div:has(> .bs-info-banner[style="display: flex;"]) ~ #shopify-section-header {
        top: 103px !important;
    }
}

@media (min-width: 1101px) {
    div:has(> .bs-info-banner[style="display: flex;"]) ~ #shopify-section-header {
        top: 89px !important;
    }
}