.Cheering__Title--b, .Cheering__Text--b {
    display: none;
}

.Drawer--b .Cheering__Title--b, .Drawer--b .Cheering__Text--b {
    display: block;
}

.Drawer--b .Cheering__Title--a, .Drawer--b .Cheering__Text--a {
    display: none;
}
