.BlackWeekSale__BannerContainer,
.BlackWeekSale__BadgeContainer {
	display: none;
}

/* VARIANT A */
[data-js-tlh-056="a"] .BlackWeekSale__BannerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 16px;
	gap: 8px;
	background: #1C1B1B;
}

[data-js-tlh-056="a"] .BlackWeekSale__BannerContainer .BlackWeekSale__Banner {
	position: relative;
	display: flex;
	padding: 4px 9px 4px 14px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 26px;
	background: linear-gradient(184deg, #F1AF9E 40.16%, #F2E6C1 114.33%);
}

[data-js-tlh-056="a"] .BlackWeekSale__BannerContainer .Banner__Icon {
	position: absolute;
	top: -6px;
	left: -14px;
}

[data-js-tlh-056="a"] .BlackWeekSale__BannerContainer .Banner__Text {
	color: #1C1B1B;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

[data-js-tlh-056="a"] .BlackWeekSale__BannerContainer .BlackWeekSale__Text {
	color: #FDF3F0;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

/* VARIANT B */
[data-js-tlh-056="b"] .BlackWeekSale__BadgeContainer {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: flex-start;
	padding: 6px 16px;
	margin: 6px 24px 0;
	border-radius: 31px;
	background: #1C1B1B;
}

[data-js-tlh-056="b"] .BlackWeekSale__BadgeContainer .Badge__Icon {
	position: relative;
	top: -6px;
	left: 11px;
}

[data-js-tlh-056="b"] .BlackWeekSale__BadgeContainer .Badge__Text {
	color: #FDF3F0;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

@media (min-width: 768px) {
	[data-js-tlh-056="b"] .BlackWeekSale__BadgeContainer .Badge__Text {
		font-size: 13px;
	}
}

[data-js-tlh-056="b"] .BlackWeekSale__BadgeContainer .Badge__Savings {
	text-decoration: none;
	color: #ED866B;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

@media (min-width: 768px) {
	[data-js-tlh-056="b"] .BlackWeekSale__BadgeContainer .Badge__Savings {
		font-size: 13px;
	}
}