.ProductForm__StickyATC {
    position: fixed;
    bottom: 0;
    left: 24px;
    right: 24px;
    z-index: 15000;
    width: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.5px;
    text-transform: uppercase;
    display: none;
    letter-spacing: normal;
    pointer-events: none;
}

.ProductForm__StickyATC::after {
    content: '';
    position: fixed;
    background-color: #FFF;
    left: 0;
    right: 0;
    bottom: 0;
    height: 73px;
    z-index: -2;
}

.ProductForm__StickyATC.active {
    display: block;
    pointer-events: auto;
}

@media (min-width: 768px) {
    .ProductForm__StickyATC.active {
        display: none;
    }
}
