.announcement-bar--variation-b {
    background: #92BAA8 !important;
}

.announcement-bar--variation-b .topbar_inner span {
    color: #FFFFFF !important;
}

.announcement-bar--variation-b .topbar_inner svg {
    display: block !important;
}

.announcement-bar--variation-b .topbar_inner path {
    stroke: #FFFFFF;
}

.announcement-bar--variation-b .topbar_inner path:nth-of-type(2) {
    fill: #FFFFFF;
}

@media (max-width: 767px) {
    #shopify-section-announcement:has(.announcement-bar--variation-b) + #shopify-section-header {
        top: 99px !important;
    }
}

@media (max-width: 767px) {
    .announcement-bar--variation-b .topbar_inner {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
    }
    
    .announcement-bar--variation-b .topbar_inner:not(:nth-child(2)) {
        padding: 0 !important;
    }
   
    .announcement-bar--variation-b #new_topbar {
        align-items: flex-start;
    }

    .announcement-bar--variation-b .topbar_inner span {
        font-size: 10px !important;
    }
}