[data-js-tlh-067="true"] .ProductForm__AddToCart[data-js-atc-button] {
	display: none;
}

.variant-popup__trigger[data-js-tlh-067-atc-button] {
	display: none;
}

[data-js-tlh-067="true"] .variant-popup__trigger[data-js-tlh-067-atc-button] {
	display: block;
}

@media (min-width: 768px) {
	[data-js-tlh-067="true"] .variant-popup__trigger[data-js-tlh-067-atc-button] {
		display: none;
	}

	[data-js-tlh-067="true"] .ProductForm__AddToCart[data-js-atc-button] {
		display: block;
	}
}

.variant-popup__container {
	display: none;
	position: fixed;
	flex-direction: column;
	justify-content: flex-end;
	bottom: -100%;
	left: 0;
	right: 0;
	background: #FFF;
	z-index: 99999;
	display: flex;
	padding: 16px 16px 40px 16px;
	gap: 20px;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid #CCC;
	box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
	transition: bottom 0.3s ease-out;
	display: none;
}

@media (min-width: 768px) {

	.variant-popup__container,
	.variant-popup__container[data-js-tlh-067="true"].show {
		display: none;
	}
}

.variant-popup__container[data-js-tlh-067="true"].show {
	bottom: 0;
	display: flex;
}

.variant-popup__container .variant-popup__heading-container {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
	justify-content: space-between;
	margin-bottom: 16px;
}

.variant-popup__container .variant-popup__heading-container .variant-popup__heading {
	margin: 0;
	padding: 0;
	color: #1C1B1B;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
}

.variant-popup__container .variant-popup__variant-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 24px 16px;
	border-radius: 10px;
	border: 1px solid #F1AF9E;
	background: #FFF8F6;
}

.variant-popup__container .variant-popup__variant-list.variant-popup__variant-list--big {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 4px;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	border-radius: 10px;
	border: 1px solid #CCC;
	background: #FFF8F6;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

.variant-popup__container .variant-popup__variant-list.variant-popup__variant-list--big .variant-popup__variant-list-item {
	display: flex;
	padding: 14px 20px;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 16px;
	position: relative;
	width: 50%;
}

.variant-popup__container .variant-popup__variant-list.variant-popup__variant-list--big .variant-popup__variant-list-item.variant-popup__variant-list-item--selected {
	border-radius: 10px;
	border: 1px solid #F1AF9E;
	background: #FFF;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__circle {
	order: 1;
	margin-right: 6px;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__circle circle:first-child {
	stroke: #CCC
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__circle circle:last-child {
	fill: #FFF
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item.variant-popup__variant-list-item--selected .variant-popup__circle circle:first-child {
	stroke: #F1AF9E
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item.variant-popup__variant-list-item--selected .variant-popup__circle circle:last-child {
	fill: #F1AF9E
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-list-item__text-container {
	order: 3;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-list-item__text-container .variant-popup__variant-prefix,
.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-list-item__text-container .variant-popup__variant-suffix {
	margin: 0;
	padding: 0;
	color: #1C1B1B;
	font-size: 16px;
	font-style: normal;
	line-height: 25px;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-list-item__text-container .variant-popup__variant-prefix {
	font-weight: 600;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-list-item__text-container .variant-popup__variant-suffix {
	font-weight: 400;
	line-height: 20px;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-list-item__text-container .variant-popup__variant-suffix s {
	color: #EFA38F;
	font-size: 18px;
	font-weight: 600;
	line-height: 22.5px;
	text-decoration: none;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__variant-image-container {
	position: relative;
	width: var(--container-width);
	height: 45px;
	order: 2;
}

.variant-popup__container .variant-popup__variant-list.variant-popup__variant-list--big .variant-popup__variant-list-item .variant-popup__variant-image-container.Images--3 {
	width: 79px;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__variant-image-container .variant-popup__variant-image {
	width: 40px;
	height: auto;
	position: absolute;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__variant-image-container .variant-popup__variant-image:nth-child(odd) {
	top: 0;
	left: var(--horizontal-position);
	z-index: 3;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__variant-image-container .variant-popup__variant-image:nth-child(even) {
	top: 5px;
	left: var(--horizontal-position);
	z-index: 4;
}

.variant-popup__container .variant-popup__variant-list .variant-popup__variant-list-item .variant-popup__variant-savings {
	order: 4;
	padding: 5px 10px;
	border-radius: 100px;
	border: 1px solid #F1AF9E;
	background: linear-gradient(270deg, #FBF4FC 0%, #EAF5FD 100%);
	color: #1C1B1B;
	text-align: right;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
}

.variant-popup__container .variant-popup__variant-list.variant-popup__variant-list--big .variant-popup__variant-list-item .variant-popup__variant-savings {
	position: absolute;
	top: 0;
	transform: translate(-50%, -50%);
	left: 50%;
}

.variant-popup__container .variant-popup__usp-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.variant-popup__container .variant-popup__usp-container .variant-popup__usp-heading {
	color: #525252;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 22.5px;
	margin: 0;
	padding: 0;
}

.variant-popup__container .variant-popup__usp-container .variant-popup__usps {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.variant-popup__container .variant-popup__usp-container .variant-popup__usps .variant-popup__usp {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.variant-popup__container .variant-popup__usp-container .variant-popup__usps .variant-popup__usp .variant-popup__usp-icon {
	border-radius: 100%;
	background: #F1AF9E;
	width: 24px;
	height: 24px;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	text-align: center;
	font-size: 16px;
	margin: 0;
	padding: 4px;
}

.variant-popup__container .variant-popup__usp-container .variant-popup__usps .variant-popup__usp .variant-popup__usp-badge,
.variant-popup__container .variant-popup__usp-container .variant-popup__usps .variant-popup__usp .variant-popup__usp-text {
	margin: 0;
	padding: 0;
	color: #1C1B1B;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17.5px;
}

.variant-popup__container .variant-popup__usp-container .variant-popup__usps .variant-popup__usp .variant-popup__usp-badge {
	border-radius: 100px;
	border: 1px solid #F1AF9E;
	background: linear-gradient(270deg, #FBF4FC 0%, #EAF5FD 100%);
	padding: 5px 10px;
}

.variant-popup__container .variant-popup__usp-container .variant-popup__usps .variant-popup__usp .variant-popup__usp-text s {
	text-decoration: none;
	color: #EFA38F;
	font-weight: 600;
}

.variant-popup__container .variant-popup__button-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}