.ProductItem .ProductItem__ImageWrapper[tlh-018="true"] .AspectRatio[data-js-original] {
    display: none;
}

.ProductItem .ProductItem__ImageWrapper[tlh-018="false"] .ProductItem__Swiper.swiper[data-js-product-item-swiper] {
    display: none;
}

.ProductItem .ProductItem__ImageWrapper[tlh-018="true"] .ProductItem__Swiper.swiper[data-js-product-item-swiper] {
    display: block;
    max-width: 1000px;
    max-height: 1000px;
    aspect-ratio: 1;
    z-index: 0;
}

.ProductItem .ProductItem__ImageWrapper[tlh-018="true"]:active {
    cursor: grabbing;
}

.ProductItem .ProductItem__ImageWrapper[tlh-018="true"]+.ProductItem__LabelList {
    pointer-events: none;
}
