section:has(.AnnouncementBar) {
    background: #92BAA8 !important;
}

.AnnouncementBar .topbar_inner span {
    color: #FFFFFF !important;
}

.AnnouncementBar .topbar_inner svg {
    display: block !important;
}

.AnnouncementBar .topbar_inner path {
    stroke: #FFFFFF;
}

.AnnouncementBar .topbar_inner path:nth-of-type(2) {
    fill: #FFFFFF;
}

#shopify-section-announcement:has(.AnnouncementBar) + #shopify-section-header {
	top: 0 !important;
}

@media (max-width: 767px) {
	div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner {
		flex-direction: row;
		/* max-width: 150px; */
		width: 33%;
	}
	div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner span {
		font-family: "Work Sans";
		font-size: 8px !important;
	}

	.AnnouncementBar #new_topbar .topbar_inner .announcement__wrapper {
		display: flex;
		width: 110px;
		gap: 2px;
		align-items: center;
	}

}
@media (min-width: 768px) {
	  div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner span {
		font-size: 11px !important;
	  }
	}


@media (max-width: 1024px) {

	div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar {
		padding: 10px 0;
		align-items: center;
	  }
	  div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner {
		flex-direction: row;
		width: 33%;
	  }

	  div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner span {
		font-family: "Work Sans";
		font-weight: 600 !important;
		line-height: 9.38px !important;
		text-align: left !important;
		word-break: break-word;
	  }
	  div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner svg {
		margin-right: 0;
		min-width: 20px;
		max-width: 20px;
		height: 20px;
	  }
	  div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner:nth-child(2) {
		border-left: none !important;
		border-right: none !important;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	  }
	  div#shopify-section-announcement #section-announcement .AnnouncementBar #new_topbar .topbar_inner:nth-child(3) {
		justify-content: flex-end;
	  }
	  
	  .AnnouncementBar #new_topbar .topbar_inner .announcement__wrapper {
		display: flex;
		width: auto;
		gap: 2px;
		align-items: center;
	  }
}

@media (min-width: 1025px) {

	.AnnouncementBar #new_topbar .topbar_inner .announcement__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
}


@media (max-width: 415px) {
	    .AnnouncementBar .topbar_inner:not(:nth-child(2)) {
        padding: 0 0 !important;
		}
}

@media (max-width: 767px) {
    .AnnouncementBar .topbar_inner {
        display: flex !important;
        flex-direction: column;
        gap: 10px;
    }
    
    .AnnouncementBar .topbar_inner:not(:nth-child(2)) {
        padding: 0 2% !important;
    }
   
    .AnnouncementBar #new_topbar {
        align-items: flex-start;
    }

    .AnnouncementBar .topbar_inner span {
        font-size: 10px !important;
    }
}

.second-announcement-bar {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    gap: 5px;
    font-weight: 500;
}
@media only screen and (min-width:768px){
  .second-announcement-bar {
    font-size: 14px;
  }
}