/******************************************************************/
/* Navigation Drawer
/******************************************************************/

.tlh-044.SidebarMenu.Drawer {
	width: 100%;
	background-color: white;
	max-height: none !important;
}

.tlh-044.SidebarMenu.Drawer.submenu-is-open {
	overflow-y: hidden;
}

.tlh-044.Drawer:before {
	content: none !important;
}

.tlh-044 .Drawer__Header {
	justify-content: space-between;
	height: 64px;
	max-height: 64px;
}

.tlh-044 .Drawer__Close {
	position: relative;
	left: -15px;
	top: unset;
}

.tlh-044.Drawer--fromLeft {
	transform: translate(calc(-100vw));
}

.tlh-044 .SidebarMenu__wrapper {
	overflow-y: auto;
	height: calc(100dvh - 64px);
}

/******************************************************************/
/* Navigation Header
/******************************************************************/

.tlh-044 .Header__LogoImage {
	margin-left: 16px;
}

/******************************************************************/
/* Navigation Search
/******************************************************************/

.tlh-044 .Search {
	position: relative;
	opacity: 1;
	visibility: visible;
	z-index: 1;
	top: 20px;
	pointer-events: all;
	transform: translateY(-25px) !important;
}

.tlh-044 .Search__Inner {
	/* height: 100dvh; */
    max-height: calc(100dvh - 64px);
}

/******************************************************************/
/* Bestseller swiper
/******************************************************************/

.tlh-044 .bestseller {
	padding: 16px 16px 22px 16px;
}

.tlh-044 .bestseller__categories {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	margin-bottom: 28px;
}

.tlh-044 .bestseller__category {
	border-radius: 25px;
	border: 1px solid #ccc;
	background: white;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	color: #525252;
	cursor: pointer;
	transition: background-color .3s ease-out, border-color .3s ease-out;
	-webkit-tap-highlight-color:transparent;
}

.tlh-044 .bestseller__category.active {
	border-radius: 25px;
	border: 1px solid #F1AF9E;
	background: #F3D2C9;
}

.tlh-044 .bestseller__title {
	font-size: 18px;
	line-height: 22.5px;
	font-style: normal;
	font-weight: 500;
	color: #525252;
}

.tlh-044 .bestseller .swiper-slide {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	padding: 10px 0;
}

.tlh-044 .bestseller__link {
	display: flex;
	align-items: center;
	border-radius: 59px;
	height: 56px;
	border: 1px solid #CCC;
	font-size: 12px;
	line-height: 14px;
	padding-right: 10px;
	-webkit-tap-highlight-color:transparent;
}

.tlh-044 .bestseller__link.bestseller__link--highlight {
	border: 1px solid #D4AF37;
	background: linear-gradient(270deg, rgba(212, 175, 55, 0.15) 0%, rgba(212, 175, 55, 0.05) 100%), #FFF;
}

.tlh-044 .bestseller__image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
	flex: 0 0 auto;
}


/******************************************************************/
/* Menu
/******************************************************************/

.tlh-044 .SidebarMenu__menu li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 0 18px;
	color: #1C1B1B;
	max-height: 54px;
	border-bottom: 1px #ccc solid;
	font-size: 16px;
	line-height: 20px;
	font-style: normal;
	font-weight: 500;
	cursor: pointer;
	-webkit-tap-highlight-color:transparent;
}

.tlh-044 .SidebarMenu__item-has-submenu {
	padding: 16px 0;
	user-select: none;
	-webkit-tap-highlight-color:transparent;
}

.tlh-044 .SidebarMenu__menu li a {
	color: #1C1B1B;
	width: 100%;
	padding: 18px 0;
	max-height: 54px;
	-webkit-tap-highlight-color:transparent;
}

.tlh-044 .SidebarMenu__menu li:last-child {
	border-bottom: none
}

.tlh-044 .SidebarMenu__menu {
	background-color: #f5f5f5;
	padding: 16px 0;
}

/* submenu */

.tlh-044 .SidebarMenu__submenu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100dvh;
	transform: translate(100%);
	background-color: white;
	transition: transform .3s ease-out, opacity .3s ease-out, visibility .3s ease-out;
	overflow-y: auto;
	overflow-x: hidden;
}

.tlh-044 .SidebarMenu__submenu.SidebarMenu__submenu--open {
	z-index: 20;
	transform: translate(0);
	opacity: 1;
	visibility: visible;
}

/* second-level submenu */

.tlh-044 .SidebarMenu__submenu.SidebarMenu__sub-level-2 {
	top: 0;
}

.tlh-044 .SidebarMenu__submenu-close {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 16px;
	margin-bottom: 6px;
	background-color: #f5f5f5;
	color: #525252;
	width: 100%;
	font-size: 22px;
	font-weight: 400;
	line-height: 27.5px;
	cursor: pointer;
	user-select: none;
	max-height: 56px;
}

#smile-ui-lite-container, #superchat-widget {
	display: none !important;
}
