
/******************************************************************/
/* Navigation Drawer
/******************************************************************/

.tlh-044.SidebarMenu.Drawer {
    width: 100%;
}

.tlh-044.Drawer:before {
	content: none !important;
}

/******************************************************************/
/* Search Bar
/******************************************************************/

.tlh-044 .Search {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
    z-index: 10;
	pointer-events: all;
}
