/* keypoints component */
.bs-keypoints.Container[data-bs-ab-tlh-066] {
    display: block;
}

.bs-keypoints.Container {
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 32px;
    display: none;
    max-width: 1440px;
}

.bs-keypoints__swiper.swiper {
    overflow: visible;
}

.bs-keypoints__card {
    background: #ABCDBE99;
    padding: 16px 11px 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.bs-keypoints__card__title {
    font-size: 16px;
    line-height: 20px;
    color: #1C1B1B;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 0 1px;
}

.bs-keypoints__card__description {
    font-size: 16px;
    line-height: 20px;
    color: #1C1B1B;
    margin: 0;
}

ul.bs-keypoints__card__description {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.bs-keypoints__card__description li {
    display: flex;
    gap: 8px;
    align-items: center;
}

.bs-keypoints__card__description li span {
    display: flex;
}

.bs-keypoints__card > svg:last-child {
    margin-top: 6px;
}

/* footer adjustments */
.shopify-section--footer[data-bs-ab-tlh-066] footer {
    background: #F5F5F5;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Title {
    font-size: 18px;
    line-height: 22px;
    color: #1C1B1B;
    font-weight: 500;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Aside {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 48px;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__PaymentList {
    padding-top: 0;
    margin: 0 0 24px;
    padding-bottom: 48px;
    border-top: none;
    border-bottom: 1px solid #CCCCCC;
    text-align: start;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__PaymentList::before {
    content: 'Zahlungsarten';
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #1C1B1B;
    display: block;
    margin-bottom: 20px;
}

.shopify-section--footer[data-bs-ab-tlh-066] .HorizontalList__Item {
    margin: 0 10px 10px 0;
}

.Footer__Block--reachability,
.Footer__Block--socials,
.Footer__Block--awards,
.Footer__Block--shipping,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--text {
    display: none;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--socials,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--awards,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--shipping {
    display: block;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--links {
    margin-top: 20px;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability + .Footer__Block--links {
    margin-bottom: 0;
    transition: margin-bottom .3s ease;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability.active,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability + .Footer__Block--links.active {
    margin-bottom: 48px;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability .Footer__Title,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--links .Footer__Title {
    width: 100%;
    padding: 12px 16px;
    background: #fff;
    border-radius: 8px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability .Footer__Title::after,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--links .Footer__Title::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><g clip-path="url(%23clip0_8054_1133)"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.2365 16.3614C13.0411 16.5567 12.7762 16.6664 12.5 16.6664C12.2238 16.6664 11.9589 16.5567 11.7636 16.3614L5.87087 10.4687C5.77138 10.3726 5.69202 10.2577 5.63743 10.1306C5.58283 10.0035 5.5541 9.86683 5.5529 9.72851C5.55169 9.5902 5.57805 9.45304 5.63043 9.32502C5.6828 9.197 5.76015 9.0807 5.85795 8.98289C5.95576 8.88509 6.07206 8.80774 6.20008 8.75536C6.3281 8.70299 6.46526 8.67663 6.60357 8.67783C6.74189 8.67904 6.87857 8.70777 7.00566 8.76237C7.13275 8.81696 7.24769 8.89631 7.34378 8.9958L12.5 14.1521L17.6563 8.9958C17.8527 8.80606 18.1159 8.70106 18.389 8.70343C18.6621 8.70581 18.9234 8.81536 19.1165 9.00849C19.3096 9.20163 19.4192 9.46289 19.4216 9.73601C19.4239 10.0091 19.3189 10.2723 19.1292 10.4687L13.2365 16.3614Z" fill="%231C1B1B"/></g><defs><clipPath id="clip0_8054_1133"><rect width="25" height="25" fill="white"/></clipPath></defs></svg>');
  line-height: 1px;
  transform: rotate(0deg);
  transition: transform .3s ease;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability.active .Footer__Title::after,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--links.active .Footer__Title::after {
    transform: rotate(180deg);
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability .Footer__Content,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--links .Linklist {
    max-height: 0;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    margin-top: 0;
    padding-left: 16px;
    transition: max-height .3s ease, opacity .5s ease, margin-top .3s ease;
}

.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--reachability.active .Footer__Content,
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--links.active .Linklist {
    max-height: 500px;
    opacity: 1;
    margin-top: 16px;
    overflow: visible;
}

/* reachability card */
.Footer__Content__reachability {
    background: #FFFFFF99;
    padding: 15px 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;
}

.Footer__Content__reachability a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.Footer__Content__reachability span {
    line-height: 1px;
}

.Footer__Content__reachability-text {
    color: #525252;
}

.Footer__Content__reachability-text p {
    margin-bottom: 16px;
}

.Footer__Content__reachability-text p:last-of-type {
    color: #1C1B1B;
    font-weight: 500;
}

.Footer__Content__reachability-text p:last-of-type a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

/* links card */
.shopify-section--footer[data-bs-ab-tlh-066] .Footer__Block--links .Linklist__Item {
    margin-bottom: 16px;
}

/* socials card */
.Footer__socials {
    display: flex;
    gap: 16px;
}

.Footer__socials a {
    height: fit-content;
}

/* awards card */
.Footer__awards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.Footer__awards__award {
    padding: 6px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

@media (min-width: 641px) {
    .bs-keypoints__swiper .swiper-wrapper {
        align-items: center !important;
    }
}

@media (min-width: 1140px) {
    .bs-keypoints.Container {
        margin-top: 24px;
        margin-bottom: 48px;
    }

    .bs-keypoints__card__title {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .bs-keypoints__card > svg:last-child {
        display: none;
    }
}