[tlh012-variant="b"] .rc-radio-group__options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 7px;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc-radio-group__options {
        padding: 20px;
    }
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio-group__options {
    border-radius: 20px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #CCC;
}

[tlh012-variant="b"] .rc-radio-group__options .rc-option--active .rc_widget__option__label.rc-radio__label {
    font-weight: 600;
    color: #1C1B1B
}

[tlh012-variant="b"] .rc-radio-group__options .rc_widget__option__label.rc-radio__label {
    font-weight: 400;
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio.rc-option__subsave.rc-option--active .rc-radio__label {
    font-weight: 600;
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio.rc-option__subsave .rc-radio__label {
    font-weight: 400;
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio:not(:first-child) {
    border: none;
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio {
    border-radius: 10px;
    padding: 10px;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc-template__radio-group .rc-radio {
        padding: 8px 10px;
    }
}

[tlh012-variant="b"] .rc-radio__input {
    width: 12px;
    height: 12px;
}

[tlh012-variant="b"] .rc_widget__option__label.rc-radio__label {
    gap: 5px;
    margin-left: 5px;
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio .rc-radio__label {
    align-items: center;
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio .rc-radio__label .rc-option__price,
[tlh012-variant="b"] .rc-option__discount.rc_widget__option__discount {
    display: none;
}

[tlh012-variant="b"] .rc-widget .rc-option__text {
    padding: 0;
    color: #1C1B1B
}

[tlh012-variant="b"] .rc-discount__percent {
    padding: 5px 10px;
    border-radius: 100px;
    font-weight: 400;
    border: 1px dashed #79D3FF;
    background: linear-gradient(270deg, #FBF4FC 0%, #EAF5FD 100%);
    line-height: 12px;
    font-size: 10px;
    width: 50px;
    order: 3;
    color: #1C1B1B
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc-discount__percent {
        width: 55px;
        font-size: 12px;
        line-height: 15px;
    }
}

[tlh012-variant="b"] .rc-widget .rc-option__text {
    line-height: 20px;
    font-size: 16px;
    white-space: nowrap;
    color: #1C1B1B
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc-widget .rc-option__text {
        font-size: 18px;
        line-height: 22px;
    }
}

[tlh012-variant="b"] .rc-selling-plans {
    padding: 0 15px 15px;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    background: #F5F5F5;
    position: relative;
    z-index: 0;
}

[tlh012-variant=b] .rc-selling-plans::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='8' viewBox='0 0 17 8' fill='none'%3E%3Cg clip-path='url(%23clip0_1350_112)'%3E%3Cpath d='M8.49982 6.99999C8.43016 7.00079 8.36109 6.98786 8.29705 6.96202C8.23301 6.93619 8.17543 6.89803 8.128 6.84999L3.34734 2.34999C3.13487 2.14999 3.13487 1.83999 3.34734 1.63999C3.55982 1.43999 3.88915 1.43999 4.10162 1.63999L8.51045 5.78999L12.9086 1.64999C13.1211 1.44999 13.4505 1.44999 13.6629 1.64999C13.8754 1.84999 13.8754 2.15999 13.6629 2.35999L8.88228 6.85999C8.77604 6.95999 8.63793 7.00999 8.51045 7.00999L8.49982 6.99999Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1350_112'%3E%3Crect width='17' height='7' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
}

[tlh012-variant="b"] .rc-template__radio-group .rc-radio-group__options + .rc-selling-plans {
    margin-top: 0;
}

[tlh012-variant="b"] .rc-selling-plans__label {
    display: none;
}

[tlh012-variant="b"] .rc_widget__option__plans__dropdown.rc-selling-plans__dropdown {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    position: relative;
    border-radius: 10px;
    border: 1px solid #CCC;
    background: #FFF;
    z-index: 2;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc_widget__option__plans__dropdown.rc-selling-plans__dropdown {
        font-size: 18px;
    }
}

[tlh012-variant="b"] .rc-plans__usps {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc-plans__usps {
        gap: 15px;
    }
}

[tlh012-variant="b"] .rc-plans__usps .rc-plans__usp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

[tlh012-variant="b"] .rc-plans__usps .rc-plans__usp-icon {
    background: white;
    border-radius: 100%;
    width: 22px;
    height: 22px;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc-plans__usps .rc-plans__usp-icon {
        width: 25px;
        height: 25px;
    }
}

[tlh012-variant="b"] .rc-plans__usps .rc-plans__usp-text {
    color: #1C1B1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .rc-plans__usps .rc-plans__usp-text {
        font-size: 18px;
        line-height: 22px;
    }
}

[tlh012-variant="b"] [data-js-usp-free-shipping].rc-plans__usp {
    display: none;
}

[tlh012-variant="b"] [data-js-usp-free-shipping].rc-plans__usp--active {
    display: flex;
}

.VariantSelector__List[data-js-tlh-012-variant-selector-list] {
    display: none;
}

[tlh012-variant="b"] .VariantSelector__List[data-js-tlh-012-variant-selector-list] {
    display: flex;
    padding: 25px 10px 15px;
    flex-direction: row;
    gap: 10px;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    background: #F5F5F5;
    background: #F5F5F5;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .VariantSelector__List[data-js-tlh-012-variant-selector-list] {
        justify-content: space-between;
    }
}

[tlh012-variant="b"] .VariantSelector__ListItem {
    display: flex;
    padding: 15px 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #1C1B1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 2px solid #CCC;
    background: #FFF;
    border-radius: 10px;
    transition: border-color 100ms ease-out;
    cursor: pointer;
}

[tlh012-variant="b"] .VariantSelector__ListItem:first-child {
    width: 30%;
}

[tlh012-variant="b"] .VariantSelector__ListItem:last-child {
    width: 60%;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .VariantSelector__ListItem {
        padding: 15px;
    }

    [tlh012-variant="b"] .VariantSelector__ListItem:first-child {
        margin-left: 5px;
    }

    [tlh012-variant="b"] .VariantSelector__ListItem:last-child {
        margin-right: 5px;
    }
}

[tlh012-variant="b"] .VariantSelector__ListItem--selected {
    border-color: #F1AF9E;
}

[tlh012-variant="b"] .VariantSelector__Option {
    color: #1C1B1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .VariantSelector__Option {
        font-size: 18px;
        line-height: 22.5px;
    }
}

[tlh012-variant="b"] .VariantSelector__OptionSavings {
    color: #525252;
    text-align: right;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12.15px;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px dashed #79D3FF;
    background: linear-gradient(270deg, #FBF4FC 0%, #EAF5FD 100%);
    pointer-events: none;
}

@media (min-width: 768px) {
    [tlh012-variant="b"] .VariantSelector__OptionSavings {
        font-size: 12px;
        line-height: 15px;
    }
}

[tlh012-variant="b"] .variant-savings__container {
    display: none;
}

[tlh012-variant="b"] .variant-savings__container.active {
    display: block;
}

[tlh012-variant="b"] .VariantSelector__List:has(+ .variant-savings__container.active),
[tlh012-variant="b"] .rc-radio-group__options.sub-plan--active ~ .VariantSelector__List {
    padding: 25px 10px 15px;
    border-radius: 0;
    border-bottom: none;
}

[tlh012-variant="b"] .variant-savings__list {
    margin: 0;
    padding: 0 15px 15px;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    background: #F5F5F5;
}