.Bild {
    width: 100%;
    display: flex;
}

.Bild--left {
    justify-content: flex-start;
}

.Bild--middle {
    justify-content: center;
}

.Bild--right {
    justify-content: flex-end;
}

.Bild__image {
    object-fit: cover;
    height: auto;
}

