.CartItem__Title.Heading {
    margin-top: 0;
}

#sidebar-cart .CartItem__Variant {
    display: inline-block;
}

#sidebar-cart .CartUpsells__Container .CartItem__Variant {
    display: none;
}

.CartItem__Variant {
    margin-left: 5px;
}

.CartItem__Variant-label,
.CartItem__Variant {
    font-size: 14px;
}

.CartItem__Price__Wrapper {
    display: inline-block;
}

.CartItem__Price {
    font-size: 16px;
    color: #6A6B6A;
}

#sidebar-cart .Price.Price--compareAt {
    font-size: 10px;
}

.cartGiftItem .CartItem__Price__Wrapper {
    display: none;
}

.cartGiftItem .CartItem__Actions {
    display: none;
}

.PageHeader .SectionHeader #rc_link_container {
    font-weight: bold;
}

@media screen and (min-width: 641px) {
    .PageHeader .SectionHeader #rc_link_container {
        margin-left: 40px;
        display: inline-block;
    }
}

.rc_layout__container {
    margin-top: 20px;
}

@media (min-width: 960px) {
    .rc_layout__container #customer_tab_content .col-md-6 {
        flex: initial;
        max-width: initial;
    }
}

#sidebar-cart .Cart .Price--compareAt + .CartItem__Price {
    color: var(--product-sale-price-color);
}

/* By Accelerated - Fixed Desktop bug menu */
@media (min-width: 1140px) and (max-width: 1345px) {
    .Header--center .Header__FlexItem {
        margin-bottom: 60px !important;
    }
}

/******************************************************************/
/* Subscription Reminder Callout
/******************************************************************/
.subscriptionReminderCallout {
    /*display: flex;*/
    background-color: #F3D2C9;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}

.subscriptionReminderCallout__head {
    color: #1C1B1B;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
}

.subscriptionReminderCallout__bubble {
    border-radius: 100px;
    background: #F2F8F5;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1C1B1B;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    gap: 5px;
}

.subscriptionReminderCallout__bubble svg {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscriptionReminderCallout__bubbles {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.subscriptionReminderCallout.active {
    display: flex;
}

@media (min-width: 768px) {
    .subscriptionReminderCallout {
        padding: 20px 150px;
    }

    .subscriptionReminderCallout__bubble {
        padding: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    .subscriptionReminderCallout__head {
        font-size: 28px;
        line-height: 35px;
    }
}

/******************************************************************/
/* Sticky ATC
/******************************************************************/
.ProductMeta__StickyATC[data-js-sticky-atc-container],
button.ProductForm__AddToCart.ProductForm__StickyATC.Button.Button--primary.Button--full.active[data-js-mobile-sticky-atc] {
    display: none;
}

.ProductMeta__StickyATC {
    position: fixed;
    bottom: 0;
    left: 24px;
    right: 24px;
    z-index: 3;
    width: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.5px;
    display: none;
    letter-spacing: normal;
    pointer-events: none;
    padding: 10px;
    transition: bottom 150ms ease-out;
}

.ProductMeta__StickyATC.ProductMeta__StickyATC--HigherPosition {
    bottom: 205px;
}

@media (min-width: 768px) {
    .ProductMeta__StickyATC.ProductMeta__StickyATC--HigherPosition {
        bottom: 95px;
    }
}

.ProductMeta__StickyATCOverlay {
    position: fixed;
    top: -100vh;
    left: -100vw;
    height: 200vh;
    width: 200vw;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.ProductMeta__StickyATCOverlay.is-visible {
    opacity: .5;
    visibility: visible;
}

@media (min-width: 768px) {
    .ProductMeta__StickyATC {
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        bottom: 50px;
        max-width: 499px;
    }
}

.StickyATC__ATC {
    padding: 15px;
    cursor: pointer;
    max-width: 362px;
}

.StickyATC__ATC span {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.5px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .StickyATC__ATC {
        padding: 20px 16px;
        margin: 0 auto 8px;
        max-width: 499px;
    }

    .StickyATC__ATC span {
        font-size: 20px;
        line-height: 25px;
    }
}

.ProductMeta__StickyATC.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: auto;
}

.StickyATC__VariantSelector {
    position: fixed;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #CCC;
    background: #FFF;
    left: 0;
    right: 0;
    bottom: -100%;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    transition: bottom 150ms ease-in-out;
    z-index: 3;
}

@media (min-width: 768px) {
    .StickyATC__VariantSelector {
        bottom: -100vh;
        border-radius: 20px;
        padding: 30px 15px;
    }
}

.StickyATC__VariantSelector.open {
    bottom: -1px;
}

.ProductMeta__StickyATC.ProductMeta__StickyATC--HigherPosition .StickyATC__VariantSelector.open {
    bottom: 189px;
    ;
}

@media (min-width: 768px) {
    .ProductMeta__StickyATC.ProductMeta__StickyATC--HigherPosition .StickyATC__VariantSelector.open {
        bottom: -1px;
    }
}

.VariantSelector__Heading {
    color: #1C1B1B;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.5px;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .VariantSelector__Heading {
        font-size: 24px;
        line-height: 30px;
    }
}

.VariantSelector__List {
    display: flex;
    padding: 10px;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #F5F5F5;
    align-items: center;
    width: 100%;
}

.VariantSelector__ListItem {
    display: flex;
    padding: 15px 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #1C1B1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: 2px solid transparent;
    background: #FFF;
    border-radius: 10px;
    transition: border-color 100ms ease-out;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 768px) {
    .VariantSelector__ListItem {
        padding: 20px 25px;
    }
}

.VariantSelector__ListItem--selected {
    border-color: #F1AF9E;
}

.VariantSelector__Option {
    color: #1C1B1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .VariantSelector__Option {
        font-size: 18px;
        line-height: 22.5px;
    }
}

.VariantSelector__OptionSavings {
    color: #525252;
    text-align: right;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12.15px;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: linear-gradient(270deg, #FBF4FC 0%, #EAF5FD 100%);
}

@media (min-width: 768px) {
    .VariantSelector__OptionSavings {
        font-size: 12px;
        line-height: 15px;
    }
}

/* Preventing overlap on desktop */
@media screen and (min-width: 1008px) {
    .Product__Info {
        z-index: 3;
    }
}

.gift__text {
    color: #82b6aa;
    font-weight: 600;
    font-size: 16px;
}

/* fix slideshow image slidein */
#Slideslide-0, #Slideslide-0 .Slideshow__Image  {
    opacity: 1 !important;
}
