.PageHeader__ImageWrapper--mobile + .PageHeader__ImageWrapper--desktop {
    display: none;
}

[data-section-type="collection"] .PageHeader {
    min-height: var(--banner-height-mobile);
}

@media (min-width: 641px) {
    .PageHeader__ImageWrapper--mobile {
        display: none;
    }

    .PageHeader__ImageWrapper--mobile + .PageHeader__ImageWrapper--desktop {
        display: block;
    }

    [data-section-type="collection"] .PageHeader {
        min-height: var(--banner-height-desktop);
    }
}