.CartMessage__StepsLines__Gift span {
	position: absolute;
	width: max-content;
	transform: translateX(-75%) translateY(80%);
	font-size: 10px;
}

#sidebar-cart .Drawer__Footer .Drawer__Footer__Delivery [data-free-shipping="true"] {
	color: #77a464;
}

#sidebar-cart .js-cart-drawer-delivery-left-value {
	padding: 0 4px;
}

#sidebar-cart .Drawer__Footer .sc_simple-container--complete {
	display: none;
}

#sidebar-cart .Drawer__Footer .scError + div .sc_simple-container--complete {
	display: flex;
}

#sidebar-cart span.highlight-free-shipping {
	color: #77a464;
}
