.CartItem__Title.Heading {
    margin-top: 0;
}

#sidebar-cart .CartItem__Variant {
    display: inline-block;
}

#sidebar-cart .CartUpsells__Container .CartItem__Variant {
    display: none;
}

.CartItem__Variant {
    margin-left: 5px;
}

.CartItem__Variant-label,
.CartItem__Variant {
    font-size: 14px;
}

.CartItem__Price__Wrapper {
    display: inline-block;
}

.CartItem__Price {
    font-size: 16px;
    color: #6A6B6A;
}

#sidebar-cart .Price.Price--compareAt {
    font-size: 10px;
}

.cartGiftItem .CartItem__Price__Wrapper {
    display: none;
}

.PageHeader .SectionHeader #rc_link_container {
    font-weight: bold;
}

@media screen and (min-width: 641px){
    .PageHeader .SectionHeader #rc_link_container {
        margin-left: 40px;
        display: inline-block;
    }
}

.rc_layout__container{
    margin-top: 20px;
}

@media (min-width: 960px){
    .rc_layout__container #customer_tab_content .col-md-6 {
        flex: initial;
        max-width: initial;
    }
}

#sidebar-cart .Cart .Price--compareAt + .CartItem__Price {
    color: var(--product-sale-price-color);
}