.CartMessage__StepsLines__Gift span {
	position: absolute;
	width: max-content;
	transform: translateX(-75%) translateY(80%);
	font-size: 10px;
}

#sidebar-cart .Drawer__Footer .Drawer__Footer__Delivery [data-free-shipping="true"] {
	color: #77a464;
}

#sidebar-cart .js-cart-drawer-delivery-left-value {
	padding: 0 4px;
}

/* #sidebar-cart .Drawer__Footer .sc_simple-container--complete {
	display: none;
} */

.sc_simple-container {
	display: flex;
	padding-bottom: 5px;
}

#sidebar-cart .Drawer__Footer .scError + div .sc_simple-container--complete {
	display: flex;
}

#sidebar-cart span.highlight-free-shipping {
	color: #77a464;
}

#sidebar-cart .Cart__Checkout {
	margin-top: -10px;
}

.QuantitySelector--small {
	width: 40px !important;
	min-width: 40px !important;
}


#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList {
    border-top: 1px solid rgba(0, 0, 0, 0.0784313725);
    border-bottom: 1px solid rgba(0, 0, 0, 0.0784313725);
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .AspectRatio {
    height: 100px;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Info {
    padding-left: 10px;
    position: relative;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Title {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #1C1B1B;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Variant-label {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #6A6A6A;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Variant {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #6A6A6A;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Actions {
    width: 100%;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__UnitPriceMeasurement {
    display: none;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Price__Wrapper span {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: black;
}
#shopify-section-cart-drawer #sidebar-cart .Cart .Price--compareAt+.CartItem__Price {
	color: var(--product-sale-price-color);
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Price__Wrapper span.Price--compareAt{
	color: #6a6b6a;
}
#shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .CartItem__Remove {
    margin: 16px 0 0 0;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container .CartUpsells__Title {
    padding-left: 12px;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 0;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container  .Cart__ItemList {
	border: none;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container .CartItem {
    padding: 12px;
    background: #FAE9E4;
    border: 1px solid #E6B2A1;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container .CartItem__Info {
    padding-left: 10px;
    position: relative;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container .CartItem__Title {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #1C1B1B;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container .CartItem__Meta {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #6A6A6A;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container .CartItem__Actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 8px;
}
#shopify-section-cart-drawer #sidebar-cart .CartUpsells__Container .CartItem__Actions__UpsellBtn {
    height: 32px;
    width: 180px;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #6A6A6A;
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #1C1B1B;
}

#shopify-section-cart-drawer #sidebar-cart .Drawer__Footer {
    height: 350px;
}

#shopify-section-cart-drawer #sidebar-cart.Drawer__Footer__CouponActive .Drawer__Footer {
	height: 406px;
}

#sidebar-cart.Drawer__Footer__CouponActive.Drawer--hasCoupon .Drawer__Footer {
	height: 461px !important;
}

#shopify-section-cart-drawer .sc_simple-info .sc_simple-info__tag {
	margin-bottom: 10px;
}

@media(min-width: 768px) {
	#shopify-section-cart-drawer #sidebar-cart .Drawer__Footer {
		height: 330px;
	}

	#shopify-section-cart-drawer #sidebar-cart.Drawer__Footer__CouponActive .Drawer__Footer {
		height: 386px;
	}

	#sidebar-cart.Drawer__Footer__CouponActive.Drawer--hasCoupon .Drawer__Footer {
		height: 441px !important;
	}
}

#shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Drawer__Footer__Coupon-title {
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 0;
}
#shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Drawer__Footer__Delivery {
    bottom: 60px;
}
#shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Drawer__Footer__Subtotal small, #shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Drawer__Footer__Subtotal span, #shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Drawer__Footer__Delivery small, #shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Drawer__Footer__Delivery span {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #6A6A6A;
}
#shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Drawer__Footer__Delivery span {
    color: #9DC6B6;
}
#shopify-section-cart-drawer #sidebar-cart .Drawer__Footer .Cart__Checkout {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    margin-top: 5px;
}

@media (min-width: 641px) {
    #shopify-section-cart-drawer #sidebar-cart .Cart__ItemList .AspectRatio {
        height: 111px;
    }
    #shopify-section-cart-drawer #sidebar-cart .CartUpsells__Items .Cart__ItemList .AspectRatio {
        height: 120px;
    }
}
.CartItem__Image{
  object-fit: contain;
}
.CartItem__ImageWrapper{
  width:100px;
}