.bs-hero-black-week__banner {
	position: relative;

}

.bs-hero-black-week__wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

/******************************************************************/
/* headline image
/******************************************************************/

.bs-hero-black-week__info-headline {
	position: absolute;
	top: 40px;
}


/******************************************************************/
/* background image
/******************************************************************/

.bs-hero-black-week__banner img.bs-hero-black-week__background {
	width: 100%;
}

.bs-hero-black-week__background--mobile {
	display: block;
}

.bs-hero-black-week__background--desktop {
	display: none;
}

@media (min-width: 768px) {
	.bs-hero-black-week__background--mobile {
		display: none;
	}

	.bs-hero-black-week__background--desktop {
		display: block;
	}
}
