.ab-test-ds-op-lp-three__original.hidden {
	display: none !important;
}

.ab-test-ds-op-lp-three__variant-a {
	display: none !important;
}

.ab-test-ds-op-lp-three__variant-a.show {
	display: block;
}